div#columns.row
  for team in teams
    div.column.col-md-6
      table.table.table-bordered.table-condensed.table-hover
        tr
          th(colspan=4, style="color: #{team.primaryColor}")
            span= team.name
            span(data-i18n="ladder.leaderboard") Leaderboard
        tr
          th(data-i18n="ladder.rank") Rank
          th(data-i18n="ladder.score") Score
          th(data-i18n="general.name").name-col-cell Name
          th

        for session, rank in team.leaderboard.topPlayers.models
          - var myRow = session.get('creator') == me.id
          tr(class=myRow ? "success" : "")
            td.rank-cell= rank + 1
            td.score-cell= Math.round(session.get('totalScore') * 100)
            td.name-col-cell= session.get('creatorName') || "Anonymous"
            td
              a(href="/play/level/#{level.get('slug') || level.id}/?team=#{team.otherTeam}&opponent=#{session.id}")
                span(data-i18n="ladder.battle_as") Battle as
                | #{team.otherTeam}!