div#columns.row
  for team in teams
    div.column.col-md-6
      table.table.table-bordered.table-condensed.table-hover
        tr
          th(colspan=3, style="color: #{team.primaryColor}")
            span= team.name
            span  Leaderboard
        tr
          th Score
          th.name-col-cell Name
          th

        for session in team.leaderboard.topPlayers.models
          - var myRow = session.get('creator') == me.id
          tr(class=myRow ? "success" : "")
            td.score-cell= Math.round(session.get('totalScore') * 100)
            td.name-col-cell= session.get('creatorName') || "Anonymous"
            td
              a(href="/play/level/#{level.get('slug') || level.id}/?team=#{team.otherTeam}&opponent=#{session.id}")
                span Battle as #{team.otherTeam}!