extends /templates/base
block content

  div#level-column
    if levelDescription
      div!= levelDescription
    else
      h1= level.get('name')

  div#columns.row
    div.column.col-md-2
    for team in teams
      div.column.col-md-4
        a(style="background-color: #{team.primaryColor}", data-team=team.id).play-button.btn.btn-danger.btn-block.btn-lg
          span(data-i18n="play.play_as") Play As
          |  
          span= team.name
    div.column.col-md-2
  
  .spectate-button-container
    a(href="/play/spectate/#{level.get('slug')}").spectate-button.btn.btn-primary.center
      span(data-i18n="play.spectate") Spectate

  hr
    
  ul.nav.nav-pills
    li.active
      a(href="#ladder", data-toggle="tab", data-i18n="general.ladder") Ladder
    if !me.get('anonymous')
      li
        a(href="#my-matches", data-toggle="tab", data-i18n="ladder.my_matches") My Matches
      li
        a(href="#simulate", data-toggle="tab", data-i18n="ladder.simulate") Simulate
    if level.get('name') == 'Greed'
      li
        a(href="#prizes", data-toggle="tab", data-i18n="ladder.prizes") Prizes
      li
        a(href="#rules", data-toggle="tab", data-i18n="ladder.rules") Rules

  div.tab-content
    .tab-pane.active.well#ladder
      #ladder-tab-view
    .tab-pane.well#my-matches
      #my-matches-tab-view
    .tab-pane.well#simulate
      #simulate-tab-view
    .tab-pane.well#prizes
      h1(data-i18n="ladder.prizes_remember_to_add_i18n_tags") Tournament Prizes
      p(data-i18n="ladder.prizes_but_this_is_just_placeholder") Want to know what you can expect to receive for competing in our challenge? Look no farther!
      table#prize_table.table
        tr
          td Rank
          td Prizes
          td Value
        tr 
          td 1st
          td 
            ul 
              li $512 in cash
              li Custom CodeCombat Wizard
              li Custom CodeCombat Avatar
              li Free One Month Coupon (choose either Rails or HTML)
              li 6 Months of "Startup" access on Heap Analytics
              li 1 Webstorm IDE License
              li $300 in FireBase credits
          td $2,054
        tr 
          td 2nd
          td 
            ul 
              li $256 in cash
              li Custom CodeCombat Avatar
              li 30% off any One Month course
              li 6 Months of "Startup" access on Heap Analytics
              li 1 Webstorm IDE License
              li $300 in FireBase credits
          td $2,000
        tr 
          td 3rd
          td more stuff
          td $2,000
        tr 
          td 4th
          td more stuff
          td $2,000
        tr 
          td 5th
          td more stuff
          td $2,000
        tr 
          td 6th
          td more stuff
          td $2,000
        tr 
          td 7th
          td more stuff
          td $2,000
        tr 
          td 8th
          td more stuff
          td $2,000
        tr 
          td 9th
          td more stuff
          td $2,000
        tr 
          td 10th
          td more stuff
          td $2,000
        tr 
          td 11 - 40
          td more stuff
          td $2,000

    .tab-pane.well#rules
      h1(data-i18n="ladder.rules_remember_to_add_i18n_tags") Tournament Rules
      p(data-i18n="ladder.rules_but_this_is_just_placeholder") We probably don't have to translate legal documents from English, but we should translate any conversational summary.
