//if matches.length
//  p#your-score
//    span Your Current Score:
//    span  
//    strong= score

div#columns.row
  for team in teams
    div.matches-column.col-md-6
      table.table.table-bordered.table-condensed

        tr
          th(colspan=4, style="color: #{team.primaryColor}")
            span(data-i18n="ladder.summary_your") Your
            |#{team.name}
            |  
            span(data-i18n="ladder.summary_matches") Matches -
            |#{team.wins}
            span(data-i18n="ladder.summary_wins") Wins,
            |#{team.losses}
            span(data-i18n="ladder.summary_losses") Losses

        if team.session
          tr
            th(colspan=4)
              button.btn.btn-warning.btn-block.rank-button(data-session-id=team.session.id)
                span(data-i18n="ladder.rank_no_code").unavailable.hidden No New Code to Rank
                span(data-i18n="ladder.rank_my_game").rank.hidden Rank My Game!
                span(data-i18n="ladder.rank_submitting").submitting.hidden Submitting...
                span(data-i18n="ladder.rank_submitted").submitted.hidden Submitted for Ranking
                span(data-i18n="ladder.rank_failed").failed.hidden Failed to Rank
                span(data-i18n="ladder.rank_being_ranked").ranking.hidden Game Being Ranked

        if team.chartData
          tr
            th(colspan=4, style="color: #{team.primaryColor}")
              img(src="https://chart.googleapis.com/chart?chs=450x125&cht=lxy&chco=#{team.chartColor}&chtt=Score%3A+#{team.currentScore}&chts=#{team.chartColor},16,r&chf=a,s,000000FF&chls=2&chm=o,#{team.chartColor},0,4&chd=t:#{team.chartData}&chxt=y&chxr=0,#{team.minScore},#{team.maxScore}")

        tr
          th(data-i18n="general.result") Result
          th(data-i18n="general.opponent") Opponent
          th(data-i18n="general.when") When
          th
        for match in team.matches
          tr(class=(match.stale ? "stale " : "") + match.state)
            td.state-cell
              if match.state === 'win'
                span(data-i18n="general.win").win Win
              if match.state === 'loss'
                span(data-i18n="general.loss").loss Loss
              if match.state === 'tie'
                span(data-i18n="general.tie").tie Tie
            td.name-cell= match.opponentName || "Anonymous"
            td.time-cell= match.when
            td.battle-cell
              a(href="/play/level/#{levelID}?team=#{team.id}&opponent=#{match.sessionID}")
                if (match.state === 'win')
                  span(data-i18n="ladder.watch_victory") Watch your victory
                else
                  span(data-i18n="ladder.defeat_the") Defeat the
                  |  
                  | #{team.otherTeam}

        if !team.matches.length
          tr
            if team.isRanking
              td(colspan=4).alert.alert-info
                span(data-i18n="ladder.code_being_simulated")
                  | Your new code is being simulated by other players for ranking.
                  | This will refresh as new matches come in.
            else
              td(colspan=4).alert.alert-warning
                span(data-i18n="ladder.no_ranked_matches_pre") No ranked matches for the
                | #{team.name}
                span(data-i18n="ladder.no_ranked_matches_post") team! Play against some competitors and then come back here to get your game ranked.
