extends /templates/base
block content

  ol.breadcrumb
    li
      a(href="/") Home
    li
      a(href="/play/ladder/#{levelID}")= level.get('name')
    li.active= teamName
  
  p
    | In this level, you play against everyone who has ever written strategies for the opposing forces.
    | Choose from the suggested players on the right, playing as many and as long as you like,
    | and when you're ready to test your grand strategy against the whole ladder, return and click the rank button.
    
  p
    | After your first submission, your code will also continuously run against other players as they rank themselves.
      
  div#columns.row
    div#matches-column.col-md-6
      h3.pull-left Ranked Games
      button.btn.btn-warning.pull-right#rank-button
        span.unavailable.hidden No New Code to Rank
        span.rank.hidden Rank My Game!
        span.ranking.hidden Submitting...
        span.ranked.hidden Submitted for Ranking
        span.failed.hidden Failed to Rank
      
      hr.clearfix(style="clear: both")

      if matches.length
        table.table.table-bordered.table-condensed
          for match in matches
            tr
              td.state-cell
                if match.state === 'win'
                  span.win Win
                if match.state === 'loss'
                  span.loss Loss
                if match.state === 'tie'
                  span.tie Tie
              td.name-cell= match.opponentName
              td.time-cell= match.when
              td.battle-cell
                a.button.btn(href="/play/level/#{levelID}?team=#{teamID}&opponent=#{match.sessionID}") Battle!
      
      else
        div.alert.alert-warning
          | No ranked matches played yet!
          | Play some competitors on the right and then come back to get your game ranked.
      
      // finish this once matches are available
        
    div#competitors-column.col-md-6
      h3 Your Competitors

      .well.text-muted
        div.row
          div.col-md-2
            span.warmup Warmup
            span : 
          div.col-md-10
            a(href="/play/level/#{levelID}?team=#{teamID}")
              span.warmup Play vs Default

      if challengers.easy
        .well
          div.row.text-info.bg-info
            div.col-md-2
              span.easy Easy
              span : 
            div.col-md-10
              a(href="/play/level/#{levelID}?team=#{teamID}&opponent=#{challengers.easy.sessionID}")
                span Play vs 
                span= challengers.easy.opponentName
            
      if challengers.medium
        .well
          div.row.text-warning.bg-warning
            div.col-md-2
              span.medium Medium
              span : 
            div.col-md-10
              a(href="/play/level/#{levelID}?team=#{teamID}&opponent=#{challengers.medium.sessionID}")
                span Play vs 
                span= challengers.medium.opponentName

      if challengers.hard
        .well
          div.row.text-danger.bg-danger
            div.col-md-2
              span.hard Hard
              span : 
            div.col-md-10
              a(href="/play/level/#{levelID}?team=#{teamID}&opponent=#{challengers.hard.sessionID}")
                span Play vs 
                span= challengers.hard.opponentName
