h4
  span= doc.shortName
  |  - 
  code.prop-type= doc.type == 'function' && doc.owner == 'this' ? 'method' : doc.type
  if doc.type != 'function'
    |  (read-only)

.description!= marked(doc.description || 'Still undocumented, sorry.')

if doc.example
  p.example
    strong Example:
    div!= marked("```\n" + doc.example + "```")
else if doc.type == 'function' && argumentExamples.length
  p.example
    strong Example:
    div
      if language == 'javascript'
        code= doc.owner + '.' + doc.name + '(' + argumentExamples.join(', ') + ');'
      else if language == 'coffeescript'
        code= doc.ownerName + (doc.ownerName == '@' ? '' : '.') + doc.name + ' ' + argumentExamples.join(', ')
      else if language == 'python'
        code= doc.ownerName + '.' + doc.name + '(' + argumentExamples.join(', ') + ')'
      else if language == 'clojure'
        code= '(.' + doc.name + ' ' + doc.ownerName + ' ' + argumentExamples.join(', ') + ')'
      else if language == 'lua'
        code= doc.ownerName + ':' + doc.name + '(' + argumentExamples.join(', ') + ')'
      else if language == 'io'
        code= (doc.ownerName == 'this' ? '' : doc.ownerName + ' ') + doc.name + '(' + argumentExamples.join(', ') + ')'

if (doc.type != 'function' && doc.type != 'snippet') || doc.name == 'now'
  p.value
    strong Current Value: 
    pre
      code.current-value(data-prop=doc.name)= value

if doc.args && doc.args.length
  p.args
    strong Parameters: 
    for arg in doc.args
      div
        code= arg.name
        | : 
        code= arg.type
        if arg.example
          |  (ex: 
          code= arg.example
          | )
        if arg.description
          div!= marked(arg.description)
        if arg.default
          div
            em Default value: 
            code= arg.default
    
if doc.returns
  p.returns
    strong Returns: 
    div
      code= doc.returns.type
      if doc.returns.example
        |  (ex: 
        code= doc.returns.example
        | )
      if doc.returns.description
        div!= marked(doc.returns.description)
