extends /templates/base

block content
  if !me.isAnonymous()
    .clearfix
      .col-sm-6.clearfix
        h2
          span(data-i18n="account_settings.title") Account Settings
          a.spl(href="/account/settings")
            i.glyphicon.glyphicon-cog
        hr
        .row
          .col-xs-6
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  i.glyphicon.glyphicon-picture
                  a(href="account/settings#picture" data-i18n="account_settings.picture_tab") Picture
              .panel-body.text-center
                img#picture(src="#{me.getPhotoURL(150)}" alt="Picture")
          .col-xs-6
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  i.glyphicon.glyphicon-user
                  a(href="account/settings#wizard" data-i18n="account_settings.wizard_tab") Wizard
              if (wizardSource)
              .panel-body.text-center
                img(src="#{wizardSource}")
        .panel.panel-default.panel-me
          .panel-heading
            h3.panel-title
              i.glyphicon.glyphicon-user
              a(href="account/settings#me" data-i18n="account_settings.me_tab") Me
          .panel-body
            table
              tr
                th(data-i18n="general.name") Name
                td=me.displayName()
              tr
                th(data-i18n="general.email") Email
                td=me.get('email')
        .panel.panel-default.panel-emails
          .panel-heading
            h3.panel-title
              i.glyphicon.glyphicon-envelope
              a(href="account/settings#emails" data-i18n="account_settings.emails_tab") Emails
          .panel-body
            if !hasEmailNotes && !hasEmailNews && !hasGeneralNews
              p(data-i18n="account_settings.email_subscriptions_none") No email subscriptions.
            if hasGeneralNews
              h4(data-i18n="account_settings.email_news") News
              ul
                li(data-i18n="account_settings.email_announcements") Announcements
            if hasEmailNotes
              h4(data-i18n="account_settings.email_notifications") Notifications
              ul
                if subs.anyNotes
                  li(data-i18n="account_settings.email_any_notes") Any Notifications
                if subs.recruitNotes
                  li(data-i18n="account_settings.email_recruit_notes") Job Opportunities
            if hasEmailNews
              h4(data-i18n="account_settings.contributor_emails") Contributor Emails
              ul
                if (subs.archmageNews)
                  li
                    span(data-i18n="classes.archmage_title")
                      | Archmage
                    span(data-i18n="classes.archmage_title_description")
                      | (Coder)
                if (subs.artisanNews)
                  li
                    span.spr(data-i18n="classes.artisan_title")
                      | Artisan
                    span(data-i18n="classes.artisan_title_description")
                      | (Level Builder)
                if (subs.adventurerNews)
                  li
                    span.spr(data-i18n="classes.adventurer_title")
                      | Adventurer
                    span(data-i18n="classes.adventurer_title_description")
                      | (Level Playtester)
                if (subs.scribeNews)
                  li
                    span.spr(data-i18n="classes.scribe_title")
                      | Scribe
                    span(data-i18n="classes.scribe_title_description")
                      | (Article Editor)
                if (subs.diplomatNews)
                  li
                    span.spr(data-i18n="classes.diplomat_title")
                      | Diplomat
                    span(data-i18n="classes.diplomat_title_description")
                      | (Translator)
                if (subs.ambassadorNews)
                  li
                    span.spr(data-i18n="classes.ambassador_title")
                      | Ambassador
                    span(data-i18n="classes.ambassador_title_description")
                      | (Support)

        .panel.panel-default
          .panel-heading
            h3.panel-title
              i.glyphicon.glyphicon-wrench
              a(href="account/settings#password" data-i18n="general.password") Password
        .panel.panel-default
          .panel-heading
            h3.panel-title
              i.glyphicon.glyphicon-briefcase
              a(href="account/settings#job-profile" data-i18n="account_settings.job_profile") Job Profile
      .col-sm-6
        h2(data-i18n="user.recently_played") Recently Played
        hr
        if !recentlyPlayed
          div(data-i18n="common.loading") Loading...
        else if recentlyPlayed.length
          table.table
            tr
              th(data-i18n="resources.level") Level
              th(data-i18n="user.last_played") Last Played
              th(data-i18n="user.status") Status
            each session in recentlyPlayed
              if session.get('levelName')
                tr
                  td
                    - var posturl = ''
                    - if (session.get('team')) posturl = '?team=' + session.get('team')
                    a(href="/play/level/#{session.get('levelID') + posturl}")= session.get('levelName') + (session.get('team') ? ' (' + session.get('team') + ')' : '')
                  td= moment(session.get('changed')).fromNow()
                  if session.get('state').complete === true
                    td(data-i18n="user.status_completed") Completed
                  else if ! session.isMultiplayer()
                    td(data-i18n="user.status_unfinished") Unfinished
                  else
                    td

        else
          .panel.panel-default
            .panel-body
              div(data-i18n="account.no_recent_games") No games played during the past two weeks.
