extends /templates/base

block content
  if !me.isAnonymous()
    .clearfix
      .col-sm-6.clearfix
        h2 Account Settings
          a.spl(href="settings")
            i.glyphicon.glyphicon-cog
        hr
        .row
          .col-xs-6
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  i.glyphicon.glyphicon-picture
                  a(href="account/settings#picture") Picture
              .panel-body.text-center
                img#picture(src="#{me.getPhotoURL(150)}" alt="")
          .col-xs-6
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  i.glyphicon.glyphicon-user
                  a(href="account/settings#wizard") Wizard
              if (wizardSource)
              .panel-body.text-center
                img(src="#{wizardSource}")
        .panel.panel-default.panel-me
          .panel-heading
            h3.panel-title
              i.glyphicon.glyphicon-user
              a(href="account/settings#me") Me
          .panel-body
            table
              tr
                th Name
                td=me.get('name') || 'Anoner'
              tr
                th Email
                td=me.get('email')
        .panel.panel-default.panel-emails
          .panel-heading
            h3.panel-title
              i.glyphicon.glyphicon-envelope
              a(href="account/settings#emails") Emails
          .panel-body
            if !hasEmailNotes && !hasEmailNews
              p No email subscriptions.
            if hasEmailNotes
              h4 Notifications
              ul
                if subs.anyNotes
                  li(data-i18n="account_settings.email_any_notes") Any Notifications
                if subs.recruitNotes
                  li(data-i18n="account_settings.email_recruit_notes") Job Opportunities
            if hasEmailNews
              h4 News
              ul
                if (subs.generalNews)
                  li(data-i18n="account_settings.email_announcements") General
                if (subs.archmageNews)
                  li
                    span(data-i18n="classes.archmage_title")
                      | Archmage
                    span(data-i18n="classes.archmage_title_description")
                      | (Coder)
                if (subs.artisanNews)
                  li
                    span.spr(data-i18n="classes.artisan_title")
                      | Artisan
                    span(data-i18n="classes.artisan_title_description")
                      | (Level Builder)
                if (subs.adventurerNews)
                  li
                    span.spr(data-i18n="classes.adventurer_title")
                      | Adventurer
                    span(data-i18n="classes.adventurer_title_description")
                      | (Level Playtester)
                if (subs.scribeNews)
                  li
                    span.spr(data-i18n="classes.scribe_title")
                      | Scribe
                    span(data-i18n="classes.scribe_title_description")
                      | (Article Editor)
                if (subs.diplomatNews)
                  li
                    span.spr(data-i18n="classes.diplomat_title")
                      | Diplomat
                    span(data-i18n="classes.diplomat_title_description")
                      | (Translator)
                if (subs.ambassadorNews)
                  li
                    span.spr(data-i18n="classes.ambassador_title")
                      | Ambassador
                    span(data-i18n="classes.ambassador_title_description")
                      | (Support)

        .panel.panel-default
          .panel-heading
            h3.panel-title
              i.glyphicon.glyphicon-wrench
              a(href="account/settings#password") Password
        .panel.panel-default
          .panel-heading
            h3.panel-title
              i.glyphicon.glyphicon-briefcase
              a(href="account/settings#job-profile") Job Profile
      .col-sm-6
        h2 Recently Played
        hr
        if !recentlyPlayed
          div Loading...
        else if recentlyPlayed.length
          table.table
            tr
              th Level
              th Last Played
              th Status
            each session in recentlyPlayed
              if session.get('levelName')
                tr
                  td
                    - var posturl = ''
                    - if (session.get('team')) posturl = '?team=' + session.get('team')
                    a(href="/play/level/#{session.get('levelID') + posturl}")= session.get('levelName') + (session.get('team') ? ' (' + session.get('team') + ')' : '')
                  td= moment(session.get('changed')).fromNow()
                  if session.get('state').complete === true
                    td Completed
                  else if ! session.isMultiplayer()
                    td Unfinished
                  else
                    td

        else
          .panel.panel-default
            .panel-body
              div No games played during the past two weeks.
