extends /templates/base

block content

  if me.get('anonymous')
    p(data-i18n="account_settings.not_logged_in") Log in or create an account to change your settings.

  else
    ol.breadcrumb
      li
        a(href="/")
          span.glyphicon.glyphicon-home
      li
        a(href="/account", data-i18n="nav.account")
      li.active(data-i18n="account.prepaid")

    ul
      li TODO: Add option to email purchased codes

    .row
      .col-md-6
        .panel.panel-default
          .panel-heading
            .panel-title(data-i18n="account_prepaid.purchase_code")
          .panel-body
            .form-horizontal
              .form-group
                label.control-label.col-sm-2(for="users") Users
                .col-sm-10
                  input#users.form-control(name="users", type="number", value="#{purchase.users}", min=1)
              .form-group
                label.control-label.col-sm-2(for="months") Months
                .col-sm-10
                  input#months.form-control(name="months", type="number", value="#{purchase.months}", min=1)
              .form-group
                label.control-label.col-sm-2(data-i18n="account_prepaid.purchase_total")
                .col-sm-10
                  p.form-control-static $
                    span#total #{purchase.total}
              button#purchase-button.btn.btn-success(data-i18n="account_prepaid.purchase_button")

      .col-md-6
        .panel.panel-default
          .panel-heading
            .panel-title(data-i18n="account_prepaid.redeem_codes")
          .panel-body
            p TODO: Panel for redeeming a code.
    .row
      .col-md-10.col-md-offset-1
        .panel.panel-default
          .panel-heading
            .panel-title(data-i18n="account_prepaid.your_codes")
          .panel-body
            if codes && codes.length
              table.table.table-striped
                tr
                  th Code
                  th Users
                  th Months
                  th Type
                  th Purchased / Redeemed
                for code in codes.models
                  - var properties = code.get('properties')
                  - var redeemers = code.get('redeemers')
                  if redeemers
                    - var redeemed = redeemers.length
                  else
                    - var redeemed = '0'
                  tr
                    td= code.get('code')
                    td #{redeemed} / #{code.get('maxRedeemers')}
                    td= properties.months || '-'
                    td= code.get('type')
                    if code.get('creator') == me.id
                      td Purchased
                    else
                      td Redeemed
            else
              p No codes yet!