extends /templates/base

block content

  if myProfile || (me.isAdmin() && user.get('jobProfile'))
    .profile-control-bar
      if myProfile
        a(href="/account/settings")
          button.btn.edit-settings-button
            i.icon-cog
            span(data-i18n="account_profile.edit_settings") Edit Settings
      if me.isAdmin() && user.get('jobProfile')
        button.btn.edit-settings-button#toggle-job-profile-approved
          i.icon-cog
          span(data-i18n='account_profile.approved').approved Approved
          span(data-i18n='account_profile.approved').not-approved Not Approved
  
  if user.get('jobProfile')
    - var profile = user.get('jobProfile');
    .job-profile-container
      .job-profile-row
        .left-column.full-height-column
          .profile-photo-container
            img.profile-photo(src=user.getPhotoURL(240, true))
            .profile-caption= profile.jobTitle || 'Software Developer'

          if profileLinks.length
            ul.links
              each link in profileLinks
                li(title=profile.name + " on " + link.name, class=link.icon ? "has-icon" : "")
                  a(href=link.link)
                    if link.icon
                      img(src=link.icon.url, alt=link.icon.name)
                    else
                      button.btn.btn-large.btn-inverse.flat-button= link.name

          div= profile.city + ', ' + profile.country
          div= profile.visa
          div Looking for: #{profile.lookingFor}
          div Last updated #{moment(profile.updated).fromNow()}

          button#contact-candidate.btn.btn-large.btn-inverse.flat-button Contact #{profile.name.split(' ')[0]}

        .middle-column.full-height-column
          h3= profile.name
          p= profile.shortDescription

          each skill in profile.skills
            code= skill
            span  
          div.long-description!= marked(profile.longDescription)

          if profile.work.length
            h3.experience-header 
              img.header-icon(src="/images/pages/account/profile/work.png", alt="")
              | Work Experience
            each job in profile.work
              div.duration.pull-right= job.duration
              | #{job.role} at #{job.employer}
              .clearfix

          if profile.education.length
            h3.experience-header
              img.header-icon(src="/images/pages/account/profile/education.png", alt="")
              | Education
            each school in profile.education
              div.duration.pull-right= school.duration
              | #{school.degree} at #{school.school}
              .clearfix

          if user.get('jobProfileNotes') || me.isAdmin()
            h3.experience-header Our Notes
            - var notes = user.get('jobProfileNotes') || '';
            if me.isAdmin()
              textarea#job-profile-notes!= notes
            else
              div!= marked(notes)

        .right-column.full-height-column
          if profile.projects.length
            h3 Projects
            ul.projects
              each project in profile.projects
                li
                  a(href=project.link)
                  .project-image(style="background-image: url(/file/" + project.picture + ")")
                  p= project.name
                  div!= marked(project.description)

  else
    .public-profile-container
      h2 
        span(data-i18n="account_profile.profile_for_prefix") Profile for 
        span= user.get('name')
        span(data-i18n="account_profile.profile_for_suffix") 
  
      img.profile-photo(src=user.getPhotoURL(256))
  
      h2 TODO
      p Public user profiles are not ready yet.