extends /templates/base

block content
  
  h2(data-i18n="account_settings.title") Account Settings
  
  if me.get('anonymous')
    p(data-i18n="account_settings.not_logged_in") Log in or create an account to change your settings.

  else
    #save-button-container
      button.btn#save-button.disabled.secret(data-i18n="account_settings.autosave") Changes Save Automatically
  
    ul.nav.nav-pills#settings-tabs
      li
        a(href="#general-pane", data-toggle="tab", data-i18n="account_settings.me_tab") Me
      li
        a(href="#picture-pane", data-toggle="tab", data-i18n="account_settings.picture_tab") Picture
      li
        a(href="#wizard-pane", data-toggle="tab", data-i18n="account_settings.wizard_tab") Wizard
      li
        a(href="#password-pane", data-toggle="tab", data-i18n="account_settings.password_tab") Password
      li
        a(href="#email-pane", data-toggle="tab", data-i18n="account_settings.emails_tab") Emails
      if showsJobProfileTab
        li
          a(href="#job-profile-pane", data-toggle="tab", data-i18n="account_settings.job_profile_tab") Job Profile

    .tab-content#settings-panes
      #general-pane.tab-pane
        p
          .form
            .form-group
              label.control-label(for="name", data-i18n="general.name") Name
              input#name.form-control(name="name", type="text", value="#{me.get('name') || ''}")
            .form-group
              label.control-label(for="email", data-i18n="general.email") Email
              input#email.form-control(name="email", type="text", value="#{me.get('email')}")
            if !isProduction
              .form-group.checkbox
                label(for="email", data-i18n="account_settings.admin") Admin
                input#admin(name="admin", type="checkbox", checked=me.get('permissions').indexOf('admin') != -1)
              
  
      #picture-pane.tab-pane
        h3(data-i18n="account_settings.upload_picture") Upload a picture
        #picture-treema
        .gravatar-fallback
          img(src=me.getPhotoURL(256), alt="Gravatar", title="Gravatar fallback image")

      #wizard-pane.tab-pane
        #wizard-settings-view

      #password-pane.tab-pane
        p
          .form
            .form-group
              label.control-label(for="password", data-i18n="account_settings.new_password") New Password
              input#password.form-control(name="password", type="password")
            .form-group
              label.control-label(for="password2", data-i18n="account_settings.new_password_verify") Verify
              input#password2.form-control(name="password2", type="password")
                      
      #email-pane.tab-pane
        h3(data-i18n="account_settings.email_subscriptions") Email Subscriptions

        p
          .form
            .form-group.checkbox
              label.control-label(for="email_generalNews", data-i18n="account_settings.email_announcements") Announcements
              input#email_generalNews(name="email_generalNews", type="checkbox", checked=subs.generalNews)
              span.help-block(data-i18n="account_settings.email_announcements_description") Get emails on the latest news and developments at CodeCombat.
          
          hr
          h4(data-i18n="account_settings.email_notifications") Notifications
          span(data-i18n="account_settings.email_notifications_summary") Controls for personalized, automatic email notifications related to your CodeCombat activity.
          
          .form
            .form-group.checkbox
              label.control-label(for="email_anyNotes", data-i18n="account_settings.email_any_notes") Any Notifications
              input#email_anyNotes(name="email_anyNotes", type="checkbox", checked=subs.anyNotes)
              span.help-block(data-i18n="account_settings.email_any_notes_description") Disable to stop all activity notification emails.
            
            fieldset#specific-notification-settings
  
              .form-group.checkbox
                label.control-label(for="email_recruitNotes", data-i18n="account_settings.email_recruit_notes") Job Opportunities
                input#email_recruitNotes(name="email_recruitNotes", type="checkbox", checked=subs.recruitNotes)
                span.help-block(data-i18n="account_settings.email_recruit_notes_description") If you play really well, we may contact you about getting you a (better) job.

          hr

          h4(data-i18n="account_settings.contributor_emails") Contributor Class Emails
          span(data-i18n="account_settings.contribute_prefix") We're looking for people to join our party! Check out the 
          a(href="/contribute", data-i18n="account_settings.contribute_page") contribute page
          span(data-i18n="account_settings.contribute_suffix")  to find out more.

          .form
            .form-group.checkbox
              label.control-label(for="email_archmageNews")
                span(data-i18n="classes.archmage_title")
                  | Archmage
                |  
                span(data-i18n="classes.archmage_title_description")
                  | (Coder)
              input#email_archmageNews(name="email_archmageNews", type="checkbox", checked=subs.archmageNews)
              span(data-i18n="contribute.archmage_subscribe_desc").help-block Get emails about general news and announcements about CodeCombat.

            .form-group.checkbox
              label.control-label(for="email_artisanNews")
                span(data-i18n="classes.artisan_title")
                  | Artisan
                |  
                span(data-i18n="classes.artisan_title_description")
                  | (Level Builder)
              input#email_artisanNews(name="email_artisanNews", type="checkbox", checked=subs.artisanNews)
              span(data-i18n="contribute.artisan_subscribe_desc").help-block Get emails on level editor updates and announcements.

            .form-group.checkbox
              label.control-label(for="email_adventurerNews")
                span(data-i18n="classes.adventurer_title")
                  | Adventurer
                |  
                span(data-i18n="classes.adventurer_title_description") 
                  | (Level Playtester)
              input#email_adventurerNews(name="email_adventurerNews", type="checkbox", checked=subs.adventurerNews)
              span(data-i18n="contribute.adventurer_subscribe_desc").help-block Get emails when there are new levels to test.

            .form-group.checkbox
              label.control-label(for="email_scribeNews")
                span(data-i18n="classes.scribe_title")
                  | Scribe
                |  
                span(data-i18n="classes.scribe_title_description")
                  | (Article Editor)
              input#email_scribeNews(name="email_scribeNews", type="checkbox", checked=subs.scribeNews)
              span(data-i18n="contribute.scribe_subscribe_desc").help-block Get emails about article writing announcements.

            .form-group.checkbox
              label.control-label(for="email_diplomatNews")
                span(data-i18n="classes.diplomat_title")
                  | Diplomat
                |  
                span(data-i18n="classes.diplomat_title_description")
                  | (Translator)
              input#email_diplomatNews(name="email_diplomatNews", type="checkbox", checked=subs.diplomatNews)
              span(data-i18n="contribute.diplomat_subscribe_desc").help-block Get emails about i18n developments and, eventually, levels to translate.

            .form-group.checkbox
              label.control-label(for="email_ambassadorNews")
                span(data-i18n="classes.ambassador_title")
                  | Ambassador
                |  
                span(data-i18n="classes.ambassador_title_description")
                  | (Support)
              input#email_ambassadorNews(name="email_ambassadorNews", type="checkbox", checked=subs.ambassadorNews)
              span(data-i18n="contribute.ambassador_subscribe_desc").help-block Get emails on support updates and multiplayer developments.
                  
        button.btn#toggle-all-button(data-i18n="account_settings.email_toggle") Toggle All

      #job-profile-pane.tab-pane
        #job-profile-view
