extends /templates/base

block content

  ol.breadcrumb
    li
      a(href="/")
        span.glyphicon.glyphicon-home
    li
      a(href="/account", data-i18n="nav.account")
    li
      a(href="/account/subscription", data-i18n="account.subscription")
    li.active(data-i18n="account.sale") Sale

  if hasSubscription
    h1(data-i18n="subscribe.sale_already_subscribed")
    span.spr(data-i18n="subscribe.sale_continue")
    a(href="/play", data-i18n="subscribe.sale_click_here")
  else
    if state === 'purchasing'
      .alert.alert-info(data-i18n="account_invoices.purchasing")
    else
      if view.onSale
        div.sale-ends
          if new Date() < saleEndDate
            span.spr(data-i18n="subscribe.sale_ends")
            span #{moment(saleEndDate).fromNow()}
          else
            span(data-i18n="subscribe.sale_limited_time")
      if view.onSale
        h1.center(data-i18n="subscribe.sale_title")
        p.center
          img(src="/images/pages/account/subscription/teacher-banner.png")
        br
      .above-blurb
        p.sale-blurb
          strong.spr(data-i18n="subscribe.sale_blurb1")
          span(data-i18n="subscribe.sale_blurb2")
        br
        div
          .sale-blurb(data-i18n="subscribe.sale_feature_here")
          ul
            li.feature-description(data-i18n="[html]subscribe.sale_feature2")
            li.feature-description(data-i18n="subscribe.feature3")
            li.feature-description(data-i18n="[html]subscribe.sale_feature4")
            li.feature-description(data-i18n="subscribe.feature5")
            li.feature-description(data-i18n="[html]subscribe.feature7")
        div.sub-extended(data-i18n="subscribe.sale_extended")
      br
      p.center
        button.btn.btn-success#pay-button #{payButtonText}
      table.above-blurb(cellpadding="8")
        tr
          td(colspan=2)
            h2.center(data-i18n="subscribe.sale_new_heroes")
        each hero in heroes
          if hero.get('extendedName') !== 'Captain Anya Weston' && hero.get('extendedName') !== 'Sir Tharin Thunderfist'
            tr
              td
                img(src="http://codecombat.com#{hero.getPortraitURL()}")
              td
                p.sale-blurb #{hero.name}
                p #{hero.class}
                p #{hero.description}
      br
      if state === 'declined'
        #declined-alert.alert.alert-danger.alert-dismissible
          span(data-i18n="account_invoices.declined")
          button.close(type="button" data-dismiss="alert")
            span(aria-hidden="true") &times;
      if state === 'unknown_error'
        #error-alert.alert.alert-danger.alert-dismissible
          button.close(type="button" data-dismiss="alert")
            span(aria-hidden="true") &times;
          p(data-i18n="loading_error.unknown")
          p= stateMessage
