extends /templates/base

block content

  ol.breadcrumb
    li
      a(href="/")
        span.glyphicon.glyphicon-home
    li
      a(href="/account", data-i18n="nav.account")
    li.active(data-i18n="account.subscription")

  .panel.panel-default
    .panel-heading
      if subscribed
        button.end-subscription-button.btn.btn-lg.btn-warning(data-i18n="subscribe.unsubscribe") Unsubscribe
        .unsubscribe-feedback.row.secret
          .col-lg-7
            h3
              if monthsSubscribed > 1
                span(data-i18n="subscribe.thank_you_months_prefix") Thank you for supporting us these last
                span.spl.spr= monthsSubscribed
                span(data-i18n="subscribe.thank_you_months_suffix") months.
              else
                span(data-i18n="subscribe.thank_you") Thank you for supporting CodeCombat.
            div(data-i18n="subscribe.sorry_to_see_you_go") Sorry to see you go! Please let us know what we could have done better.
            textarea(rows=3, data-i18n="[placeholder]subscribe.unsubscribe_feedback_placeholder")
          .col-lg-5
            button.cancel-end-subscription-button.btn.btn-lg.btn-default(data-i18n="subscribe.never_mind") Never Mind, I Still Love You
            button.confirm-end-subscription-button.btn.btn-lg.btn-warning(data-i18n="subscribe.confirm_unsubscribe") Confirm Unsubscribe
      else if !me.isAnonymous()
        button.start-subscription-button.btn.btn-lg.btn-success(data-i18n="subscribe.subscribe_title") Subscribe

    .panel-body
      table.table.table-striped
        tr
          th(data-i18n="user.status") Status
          td
            if subscribed
              strong(data-i18n="account.subscribed")
            else
              if active
                strong(data-i18n="account.active")
                .text-muted(data-i18n="account.status_unsubscribed_active")
              else
                strong(data-i18n="account.unsubscribed")
                .text-muted(data-i18n="account.status_unsubscribed")
        if activeUntil
          tr
            th(data-i18n="account.active_until")
            td= moment(activeUntil).format('l')
        if nextPaymentDate
          tr
            th(data-i18n="account.next_payment")
            td= moment(nextPaymentDate).format('l')
        if cost
          tr
            th(data-i18n="account.cost")
            td= cost
        if card
          tr
            th(data-i18n="account.card")
            td= card
