.jumbotron
  .button.close(type="button", aria-hidden="true") &times;
  h1
    span.spr= level.get('name')
    a(href="/editor/level/#{level.get('slug')}", target="_blank") (edit)
  p= level.get('description')

  h4 Completion Rates
  if levelCompletions
    table.table.table-bordered.table-condensed.table-hover(style='font-size:10pt')
      thead
        tr
          td Date
          td Started
          td Finished
          td Completion %
      tbody
        - for (var i = 0; i < levelCompletions.length; i++)
          tr
            td= levelCompletions[i].created
            td= levelCompletions[i].started
            td= levelCompletions[i].finished
            td= levelCompletions[i].rate
  else
    div Loading...

  h4 Average Playtimes
  if levelPlaytimes
    table.table.table-bordered.table-condensed.table-hover(style='font-size:10pt')
      thead
        tr
          td Date
          td Average (s)
      tbody
        - for (var i = 0; i < levelPlaytimes.length; i++)
          tr
            td= levelPlaytimes[i].created
            td= levelPlaytimes[i].average.toFixed(2)
  else
    div Loading...
                
                
                
if level.get('tasks')
  .tasks
    h3 Tasks (read only)
    ul.list-unstyled
      for task in level.get('tasks')
        li
          input(type='checkbox', checked=task.complete)
          span.spl= task.name
