extends /templates/base

block content
  div
    ol.breadcrumb
      li
        a(href="/editor", data-i18n="editor.main_title") CodeCombat Editors
      li
        a(href="/editor/article", data-i18n="editor.article_title") Article Editor
      li.active
        | #{view.article.attributes.name}

  - var authorized = !me.get('anonymous');
  button.article-tool-button(data-i18n="general.version_history").btn.btn-primary#history-button Version History
  button.article-tool-button(data-toggle="coco-modal", data-target="modal/RevertModal", data-i18n="editor.revert", disabled=authorized === true ? undefined : "true").btn.btn-primary#revert-button Revert
  button.article-tool-button(data-i18n="article.edit_btn_preview", disabled=authorized === true ? undefined : "true").btn.btn-primary#preview-button Preview
  button.article-tool-button(data-i18n="common.save", disabled=authorized === true ? undefined : "true").btn.btn-primary#save-button Save

  h3(data-i18n="article.edit_article_title") Edit Article
    span
     |: "#{view.article.attributes.name}"

  #article-treema

  h3(data-i18n="resources.patches") Patches
  .patches-view

  hr
