extends /templates/base

block content
  if articles.length
    h3 Version History for: "#{articles[0].name}"

  table.table
    tr
      th Name
      th Version
      th Commit Message
  
    for article in articles
      tr
        td
          a(href="/editor/article/#{article.slug || article._id}")
            | #{article.name}
        td #{article.version.major}.#{article.version.minor}
        td #{article.commitMessage}
