extends /templates/modal/modal_base

block modal-header-content
  if mode === 'login'
    h3(data-i18n="login.log_in") Log In
  if mode === 'signup'
    if title === 'short'
      h3(data-i18n="login.sign_up") Create Account
    else
      h3(data-i18n="signup.create_account_title") Create Account to Save Progress

block modal-body-content

  if showRequiredError
    .alert.alert-success
      span(data-i18n="signup.required") You need to log in before you can that way.

  else if mode === 'signup' && descriptionOn === "yes"
        p(data-i18n="signup.description") It's free. Just need a couple things and you'll be good to go:

  form.form
    if onEmployersPage
      .form-group
        input#email.input-large.form-control(name="email", type="email", value=formValues.email, placeholder="Email")
      .form-group
        input#password.input-large.form-control(name="password", type="password", value=formValues.password, placeholder="Password")
    
    else
      .form-group
        label.control-label(for="email", data-i18n="general.email") Email
        input#email.input-large.form-control(name="email", type="email", value=formValues.email)
      .form-group
        label.control-label(for="password", data-i18n="general.password") Password
        input#password.input-large.form-control(name="password", type="password", value=formValues.password)

    if mode === 'signup'
      .form-group
        label.control-label(for="name", data-i18n="general.name") Name
        if me.get('name')
          input#name.input-large.form-control(name="name", type="text", value="#{me.get('name')}")
        else
          input#name.input-large.form-control(name="name", type="text", value="", placeholder="Anoner")
      .form-group.checkbox
        label.control-label(for="subscribe")
          input#subscribe(name="subscribe", type="checkbox", checked='checked')
          span(data-i18n="signup.email_announcements") Receive announcements by email
      .form-group.checkbox
        label.control-label(for="confirm-age")
          input#confirm-age(name="confirm-age", type="checkbox", checked='checked')
          span(data-i18n="signup.coppa") 13+ or non-USA 
          a(href="https://en.wikipedia.org/wiki/Children's_Online_Privacy_Protection_Act", data-i18n="signup.coppa_why", target="_blank") (Why?)

    if mode === 'login'
      if onEmployersPage
        input.btn.btn-info.btn-large#login-button(value=translate("login.log_in"), type="submit")
      else
        input.btn.btn-info.btn-large#login-button(value=translate("login.log_in"), type="submit")
        .btn.btn-default.btn-large#switch-to-signup-button(data-i18n="login.sign_up") Create Account
    if mode === 'signup'
      input.btn.btn-info.btn-large#signup-button(value=translate("signup.sign_up"), type="submit")


block modal-body-wait-content
  
  if mode === 'login'
    h3(data-i18n="login.logging_in") Logging In
  if mode === 'signup'
    h3(data-i18n="signup.creating") Creating Account...

block modal-footer
  .modal-footer
    div.network-login
      btn.btn.btn-sm.github-login-button#github-login-button
        img(src="/images/pages/modal/auth/github_icon.png")
        | GitHub
    div.network-login
      .fb-login-button(data-show-faces="false", data-width="200", data-max-rows="1", data-scope="email")
    div.network-login
      .gplus-login-button#gplus-login-button
    div#recover-account-wrapper
      a(data-toggle="coco-modal", data-target="modal/RecoverModal", data-i18n="login.recover")#link-to-recover recover account
