extends /templates/modal/modal_base

block modal-header-content
  h3 #{confirmTitle}

block modal-body-content
  p #{confirmBody}

block modal-footer-content
  button.btn.btn-secondary#decline-button(type="button", data-dismiss="modal") #{confirmDecline}
  button.btn.btn-primary#confirm-button(type="button", data-dismiss=closeOnConfirm === true ? "modal" : undefined) #{confirmConfirm}
