extends /templates/modal/modal_base

block modal-header-content
  if dataList
    h3
     span(data-i18n="general.version_history_for") Version History for:
     |"#{dataList[0].name}"

block modal-body-content
  if dataList
    table.table.table-condensed
      tr
        th
        th
        th
        th
        th(data-i18n="general.commit_msg") Commit Message
      for data in dataList
        tr
          td
            input(type="checkbox", value=data._id).select
          td #{data.version.major}.#{data.version.minor}
          td= moment(data.created).format('l')
          td= data.creator
          td #{data.commitMessage}

  div.delta-container
    div.delta-view

block modal-footer-content