extends /templates/modal/modal_base

block modal-header-content
  if dataList
    h3
     span(data-i18n="general.version_history_for") Version History for:
     |"#{dataList[0].name}"

block modal-body-content
  if dataList
    table.table.table-condensed
      tr
        th(data-i18n="general.name") Name
        th(data-i18n="general.version") Version
        th(data-i18n="general.commit_msg") Commit Message
      for data in dataList
        tr
          td
            a(href="/editor/#{page}/#{data.slug || data._id}")
              | #{data.name}
          td #{data.version.major}.#{data.version.minor}
          td #{data.commitMessage}

block modal-footer-content