extends /templates/modal/modal_base

block modal-header-content
  h3(data-i18n="play_level.editor_config_title") Editor Configuration

block modal-body-content
  .form
    .form-group.select-group
      label.control-label(for="tome-session-language" data-i18n="play_level.editor_config_level_language_label") Language for This Level
      select#tome-session-language(name="language")
        for option in languages
          option(value=option.id selected=(sessionLanguage === option.id))= option.name
      span.help-block(data-i18n="play_level.editor_config_level_language_description") Define the programming language for this particular level.

    .form-group.select-group
      label.control-label(for="tome-language" data-i18n="play_level.editor_config_default_language_label") Default Programming Language
      select#tome-language(name="language")
        for option in languages
          option(value=option.id selected=(language === option.id))= option.name
      span.help-block(data-i18n="play_level.editor_config_default_language_description") Define the programming language you want to code in when starting new levels.

    .form-group.select-group
      label.control-label(for="tome-key-bindings" data-i18n="play_level.editor_config_keybindings_label") Key Bindings
      select#tome-key-bindings(name="keyBindings")
        option(value="default" selected=(keyBindings === "default") data-i18n="play_level.editor_config_keybindings_default") Default (Ace)
        option(value="vim" selected=(keyBindings === "vim")) Vim
        option(value="emacs" selected=(keyBindings === "emacs")) Emacs
      span.help-block(data-i18n="play_level.editor_config_keybindings_description") Adds additional shortcuts known from the common editors.

    .form-group.checkbox
      label(for="tome-live-completion")
        input#tome-live-completion(name="liveCompletion", type="checkbox", checked=liveCompletion)
        span(data-i18n="play_level.editor_config_livecompletion_label") Live Autocompletion
      span.help-block(data-i18n="play_level.editor_config_livecompletion_description") Displays autocomplete suggestions while typing.

    .form-group.checkbox
      label(for="tome-invisibles")
        input#tome-invisibles(name="invisibles", type="checkbox", checked=invisibles)
        span(data-i18n="play_level.editor_config_invisibles_label") Show Invisibles
      span.help-block(data-i18n="play_level.editor_config_invisibles_description") Displays invisibles such as spaces or tabs.

    .form-group.checkbox
      label(for="tome-indent-guides")
        input#tome-indent-guides(name="indentGuides", type="checkbox", checked=indentGuides)
        span(data-i18n="play_level.editor_config_indentguides_label") Show Indent Guides
      span.help-block(data-i18n="play_level.editor_config_indentguides_description") Displays vertical lines to see indentation better.

    .form-group.checkbox
      label(for="tome-behaviors")
        input#tome-behaviors(name="behaviors", type="checkbox", checked=behaviors)
        span(data-i18n="play_level.editor_config_behaviors_label") Smart Behaviors
      span.help-block(data-i18n="play_level.editor_config_behaviors_description") Autocompletes brackets, braces, and quotes.

block modal-footer-content
  a(href='#', data-dismiss="modal", aria-hidden="true", data-i18n="modal.close").btn.btn-primary Close
