extends /templates/modal/modal_base
block modal-header-content
  h3
    span(data-i18n="play_level.victory_title_prefix")
    span= levelName
    span(data-i18n="play_level.victory_title_suffix") Complete

block modal-body-content
  h4 Achievements Unlocked

  for achievement in achievements
    .panel
      img(src=achievement.getImageURL())
      h5= achievement.get('name')
      p= achievement.get('description')
      if achievement.completed
        strong Completed
      else
        strong Incomplete
      p Earned #{achievement.get('worth')} xp.
      - var rewards = achievement.get('rewards') || {};
      if rewards.gems
        p Earned #{achievement.get('rewards').gems} gems.
      if rewards.heroes
        for hero in rewards.heroes
          - var hero = thangTypes[hero];
          img(src=hero.getPortraitURL())
      if rewards.items
        for item in rewards.items
          - var item = thangTypes[item];
          img(src=item.getPortraitURL())

block modal-footer-content
  | footer