extends /templates/modal/modal_base
block modal-header-content
  img(src="/images/pages/play/level/modal/victory_word.png")#victory-header.out

block modal-body-content
  
  for achievement in achievements
    - var animate = achievement.completed && !achievement.completedAWhileAgo
    .achievement-panel(class=achievement.completedAWhileAgo ? 'earned' : '' data-achievement-id=achievement.id data-animate=animate)
      - var rewards = achievement.get('rewards') || {};
      
      div.achievement-description= achievement.get('description')
      
      div.achievement-rewards
        - var worth = achievement.get('worth', true);
        if worth
          .reward-panel.numerical.xp(data-number=worth, data-number-unit='xp')
            .reward-image-container(class=animate ? 'pending-reward-image' : 'show')
              img(src="/images/pages/play/level/modal/reward_icon_xp.png")
            .reward-text= animate ? '+0' : '+'+worth

        if rewards.gems
          .reward-panel.numerical.gems(data-number=rewards.gems, data-number-unit='gem')
            .reward-image-container(class=animate ? 'pending-reward-image' : 'show')
              img(src="/images/pages/play/level/modal/reward_icon_gems.png")
            .reward-text= animate ? '+0' : '+'+rewards.gems
          
        if rewards.heroes
          for hero in rewards.heroes
            - var hero = thangTypes[hero];
            .reward-panel.hero(data-hero-thang-type=hero.get('original'))
              .reward-image-container(class=animate ? 'pending-reward-image' : 'show')
                img(src=hero.getPortraitURL())
              .reward-text= animate ? 'New Hero' : hero.get('name')

        if rewards.items
          for item in rewards.items
            - var item = thangTypes[item];
            .reward-panel.item(data-item-thang-type=item.get('original'))
              .reward-image-container(class=animate ? 'pending-reward-image' : 'show')
                img(src=item.getPortraitURL())
              .reward-text= animate ? 'New Item' : item.get('name')

  .next-levels-prompt
    for button in continueButtons
      - var enabled = Boolean(button.link != '/play' || me.getBranchingGroup() == 'choice-implicit' || button.key == 'continue');
      button.btn.btn-success.btn-lg.world-map-button.next-level-branch-button(data-href=button.link, disabled=!enabled, data-dismiss="modal", data-i18n="play_level.victory_play_" + button[me.getBranchingGroup()], data-branch-key=button.key)

block modal-footer-content
  if me.get('anonymous')
    p.sign-up-poke.hide
      button.btn.btn-success.sign-up-button.btn-large(data-toggle="coco-modal", data-target="modal/SignupModal", data-i18n="play_level.victory_sign_up") Sign Up to Save Progress
      span(data-i18n="play_level.victory_sign_up_poke") Want to save your code? Create a free account!

  div#totals.pull-left
    span.spr Experience Gained:
    span#xp-total +0
    br
    span.spr Gems Gained:
    span#gem-total +0

  button.btn.btn-warning.hide#saving-progress-label(disabled, data-i18n="play_level.victory_saving_progress") Saving Progress

  .next-level-buttons
    if readyToRank
      .ladder-submission-view
    else if level.get('type') === 'hero-ladder'
      button.btn.btn-primary.return-to-ladder-button(data-href="/play/ladder/#{level.get('slug')}#my-matches", data-dismiss="modal", data-i18n="play_level.victory_return_to_ladder") Return to Ladder
    else
      button.btn.btn-success.world-map-button.next-level-button.hide#continue-button(data-i18n="play_level.victory_play_continue") Continue
