.left-cap
.right-cap
.center-chain
.right-chain
.wood-background

.levels-link-area
  a.levels-link(href=homeLink || "/")
    .glyphicon.glyphicon-play
    span(data-i18n=me.isSessionless() ? "nav.courses" : (ladderGame ? "general.ladder" : "nav.play")).home-text Levels

if isMultiplayerLevel && !observing
  .multiplayer-area-container
    .multiplayer-area
      .multiplayer-label(data-i18n="play_level.control_bar_multiplayer")
      if multiplayerStatus
        .multiplayer-status= multiplayerStatus
      else
        .multiplayer-status(data-i18n="play_level.control_bar_join_game")
else
  .level-name-area-container
    .level-name-area
      .level-label(data-i18n="play_level.level")
      .level-name(title=difficultyTitle || "")
        span #{view.levelNumber ? view.levelNumber + '. ' : ''}#{worldName.replace('Course: ', '')}
        if levelDifficulty
          sup.level-difficulty= levelDifficulty

.buttons-area

  if !observing
    button.btn.btn-inverse#game-menu-button(data-i18n="[title]play_level.show_menu", title="Show game menu")
      .hamburger
        span.icon-bar
        span.icon-bar
        span.icon-bar
      span.game-menu-text(data-i18n="play_level.game_menu") Game Menu

  if spectateGame
    button.btn.btn-xs.btn-inverse.banner#next-game-button(data-i18n="play_level.next_game") Next game

  if !observing
    button.btn.btn-xs.btn-primary.banner#level-done-button(data-i18n="play_level.done") Done

  if me.get('anonymous')
    button.btn.btn-xs.btn-primary.banner#control-bar-sign-up-button(data-toggle='coco-modal', data-target='core/CreateAccountModal', data-i18n="signup.sign_up")
