video(autoplay=true muted=true loop=true playsinline=true preload=auto)
  source(src="/images/level/little-sophia/ls-neutral.mov" type="video/quicktime")
  source(src="/images/level/little-sophia/ls-neutral.webm" type="video/webm")
.dialogue-area
  p.bubble.dialogue-bubble(dir="auto")

