video(id="video1" autoplay=true muted=true loop=false playsinline=true preload=auto)
  source(src="/images/level/little-sophia/ls-idle.mov" type="video/quicktime")
  source(src="/images/level/little-sophia/ls-idle.webm" type="video/webm")
video(id="video2" autoplay=true muted=true loop=false playsinline=true preload=auto).hide
  source(src="/images/level/little-sophia/ls-idle.mov" type="video/quicktime")
  source(src="/images/level/little-sophia/ls-idle.webm" type="video/webm")
.dialogue-area
  p.bubble.dialogue-bubble(dir="auto")

