.container-fluid.style-flat
  #game-row.row
    .col-xs-9
      #canvas-wrapper
        canvas(width=924, height=589)#webgl-surface
        canvas(width=924, height=589)#normal-surface
        
    #info-col.col-xs-3
      - var ready = !(view.state.get('errorMessage') || view.state.get('loading'))
      .panel.panel-default
        .panel-body.text-center
          if view.state.get('errorMessage')
            .alert.alert-danger= view.state.get('errorMessage')
        
          if view.level.id && view.session.id
            h3.m-y-1= view.level.get('name')
            h4 Created by #{view.session.get('creatorName')}
            hr
          
          if view.state.get('loading')
            h1.m-y-1(data-i18n="common.loading")
            .progress
              .progress-bar(style="width: #{view.state.get('progress')}")
        
          if ready
            h3 Goals
            for goalName in view.state.get('goalNames')
              p= goalName
              
            hr
              
            h3 How to play:
            p Use the mouse to control the hero!
            p Click anywhere on the map to move to that location.
            p Click on the ogres to attack them.
          
        if ready
          .panel-footer
            - var playing = view.state.get('playing')
            if playing
              button#play-btn.btn.btn-lg.btn-burgandy.btn-block Restart Level
            else
              button#play-btn.btn.btn-lg.btn-navy.btn-block Play Level
        
