.container-fluid
  #game-row.row
    .col-xs-8
      #canvas-wrapper
        canvas(width=924, height=589)#webgl-surface
        canvas(width=924, height=589)#normal-surface
        
    #info-col.col-xs-4
      if view.state.get('errorMessage')
        .alert.alert-danger= view.state.get('errorMessage')
        
      else if view.state.get('loading')
        h1.m-y-1(data-i18n="common.loading")
        .progress
          .progress-bar(style="width: #{view.state.get('progress')}")
        
      else
        .panel
          .panel-body
            h1.m-y-1 Info
            ul
              li
                b
                  span(data-i18n="play_level.level")
                  span= ': '
                | #{view.level.get('name')}
                
              li
                b
                  span(data-i18n="game_dev.creator")
                  span= ': '
                | #{view.session.get('creatorName')}
            
            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          .panel-footer
            - var playing = view.state.get('playing')
            .m-y-3
              if playing
                button#play-btn.btn.btn-lg.btn-burgandy.btn-block(data-i18n="play_level.restart")
              else
                button#play-btn.btn.btn-lg.btn-navy.btn-block(data-i18n="common.play")
        
