// DNT
extends /templates/base-flat

block content
  .container
    div
      a(href='/artisans')
        span.glyphicon.glyphicon-chevron-left
        span Artisans Home
    h1 Common Solutions: #{view.levelSlug}
    div.row.well
      form
        div.col-xs-2.form-group
          label(for="languageSelect") Language:
          p: select#languageSelect
            option(value="all", selected=(view.languages=="all") ? true : false) js / py
            option(value="javascript", selected=selected=(view.languages=="javascript") ? true : false) Javascript
            option(value="python", selected=selected=(view.languages=="python") ? true : false) Python
        div.col-xs-2.form-group
          label(for="sessionNum") Sessions:
          input.form-control#sessionNum(type="number", min=100, max=100000, step=10, value=view.limit)
        div.col-xs-3.go-button
          button.btn.btn-primary#goButton Go

    div.row
      div.col-xs-12.well
        div.row
          div.col-xs-3 Language: javascript
          div.col-xs-3 Sessions: #{view.stats.javascript.total}
          div.col-xs-3 Errors: #{view.stats.javascript.errors}
        div.row
          div.col-xs-3 Language: python
          div.col-xs-3 Sessions: #{view.stats.python.total}
          div.col-xs-3 Errors: #{view.stats.python.errors}
    div.row
      div.col-xs-4.col-xs-offset-4
        span.center-block Viewing #{view.limit} recent sessions.

    for num in (view.sortedTallyCounts || [])
      - var hashes = view.talliedHashes[num]
      for hash in hashes
        - var session = view.solutions[hash][0]
        div.row.solutions-row
          div.col-xs-2.well.solution-info
            p <b>Count:</b> #{num}
            p <b>Succeed:</b> #{session.state.complete}
            p.is-breakable <b>Fingerprint:</b> #{hash}
          div.col-xs-10
            pre.solution #{session.code['hero-placeholder'].plan}
  

