div#session-info
  img(src='/file/'+levelIcon alt='levelIcon')#level-icon
  div#level-meta-data
    a.btn.btn-primary(href=sessionLink, target=_blank) Spectate
    p!= levelDescription
  
div#session-code
  for spell in levelSpells
    .panel.panel-success
      .panel-heading
        h3= spell.name
      .panel-body
        .code(data-height=spell.height)= spell.code