extends /templates/base

block content
  if !unauthorized
    div
      ol.breadcrumb
        li
          a(href="/editor", data-i18n="editor.main_title") CodeCombat Editors
        li.active(data-i18n="#{currentEditor}")
          | #{currentEditor}

    if me.isAdmin() || !newModelsAdminOnly
      if me.get('anonymous')
        a.btn.btn-primary.open-modal-button(data-toggle="coco-modal", data-target="core/CreateAccountModal", role="button", data-i18n="#{currentNewSignup}") Log in to Create a New Something
      else if view.canMakeNew
        a.btn.btn-primary.open-modal-button#new-model-button(data-i18n="#{currentNew}") Create a New Something
    input#search(data-i18n="[placeholder]#{currentSearch}" placeholder="Search")
    hr
    div.results
      table

  else
    .alert.alert-danger
      span Admin only. Turn around.
