style.
  @page {
    margin-top: 0.5in;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  @page:first {
    margin-top: 0in;
  }

  body {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }

  @media print {
    a[href]:after {
      content:none
    }
    a[href] {
      color: #0b63bc !important;
      text-decoration: underline;
    }
  }

.style-flat
  .menu
    .print-btn.btn.btn-success(data-i18n="courses.certificate_btn_print")
    if view.needLanguageToggle
      .toggle-btn.btn.btn-success(data-i18n="courses.certificate_btn_toggle")

  .certificate
    if view.courseStats
      img.certificate-background(src="/images/pages/user/certificates/backgrounds/background-" + view.course.acronym().toLowerCase() + ".png")
    div(class="certificate-contents")
      img.logo-img(src="/images/pages/base/logo.png")
      .certificate-text-container
        if view.supermodel.isLoading || !view.courseStats
          h1.loading-indicator(data-i18n="common.loading")
        else
          h3.certificate-of-completion(data-i18n="user.certificate_of_completion")
          h1.student-name= view.studentName || view.user.broadName()
          h4.course-name
            span(data-i18n="user.certificate_for")
            span= ' '
            span= i18n(view.course.attributes, 'name', view.currentLang)
          .code-results.outcome-section
            h3.learned-title(data-i18n="user.certificate_stats")
            ul.list-unstyled
              li
                span= view.courseStats.linesOfCode
                span= ' '
                span(data-i18n="user.certificate_lines_of")
                span= ' '
                span= view.getCodeLanguageName()
              li
                span= view.courseStats.levels.numDone
                span= ' '
                span(data-i18n="user.certificate_levels_completed")
              if view.projectLink
                li
                  span(data-i18n="teacher.project")
                  span= ': '
                  a(href=view.projectLink)= (view.projectShortLink || view.projectLink).replace(/^https?:\/\//, '')
          .concepts-learned.outcome-section
            h3.learned-title(data-i18n="courses.concepts")
            ul.list-unstyled
              for concept in view.course.get('concepts').slice().reverse().slice(0, 7)
                if concept == 'create_playable_game' || concept == 'create_sharable_web_page' || concept == 'create_sharable_interactive_web_page'
                  // Too wide, weird "concepts", we'll just skip
                  - continue;
                li(data-i18n="concepts." + concept)
          if view.teacherName
            .teacher-info
              span(data-i18n="courses.teacher")
              span= ': '
              span= view.teacherName
          if view.certificateNumber
            .certificate-number-info
              span(data-i18n="user.certificate_number")
              span= ' ' + view.certificateNumber
          if view.thangType && view.thangType.loaded
            .hero-signature
              img(src='/images/pages/user/certificates/signatures/signature-' + (view.thangType.get('slug') || 'captain') + '.png')
              .hero-signature-label
                span(data-i18n="user.certificate_endorsed_by")
                span= ' '
                span= i18n(view.thangType.attributes, 'extendedName')
          else
            h4 Loading hero 
          .course-ribbon(class=view.course.acronym().replace(/\d/g, '').toLowerCase() + ' ' + view.course.acronym().toLowerCase())
            img(src='/images/pages/user/certificates/medallions/medallion-' + view.course.acronym().toLowerCase() + '.png')
            h3= view.course.acronym()

      if view.thangType && view.thangType.loaded
        - var heroSlug = view.thangType.get('slug') || 'captain';
        img(src='/images/pages/user/certificates/poses/pose-' + heroSlug + '.png', class='hero-pose ' + heroSlug)
