style.
  @page {
    margin-top: 0.5in;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  @page:first {
    margin-top: 0in;
  }

  body {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }

  @media print {
    a[href]:after {
      content: none;
    }
    a[href] {
      color: #0b63bc !important;
      text-decoration: underline;
    }
  }

.style-flat
  .menu
    .print-btn.btn.btn-success(data-i18n="courses.certificate_btn_print")
    if view.needLanguageToggle
      .toggle-btn.btn.btn-success(data-i18n="courses.certificate_btn_toggle")

  .certificate
    if me.isTecmilenio() && view.multipleCoursesStats
      img.certificate-background(src="/images/pages/user/certificates/backgrounds/tecmilenio-bg.png")  
    else
      if view.courseStats && view.course
        img.certificate-background(src="/images/pages/user/certificates/backgrounds/background-" + view.course.acronym().toLowerCase() + ".png")
      if view.campaign
        img.certificate-background(src="/images/pages/user/certificates/backgrounds/background-cs1.png")
    div(class="certificate-contents")
      if view.utils.isCodeCombat
        img.logo-img(src="/images/pages/base/logo.png")
      if me.isTecmilenio()
        img.tecmilenio-logo(src="/images/pages/user/certificates/tecmilenio-logo.png")
        img.tecmilenio-hero(src="/images/pages/user/certificates/tecmilenio-image-1.png")
      .certificate-text-container
        if view.supermodel.isLoading || !view.courseStats
          h1.loading-indicator(data-i18n="common.loading")
        else
          h3.certificate-of-completion(data-i18n="user.certificate_of_completion")
          h1.student-name= view.studentName || view.user.broadName()
          h4.course-name
            if view.multipleCoursesStats
              span(data-i18n="user.for_ozaria_chapters_1_4")
            else
              span(data-i18n="user.certificate_for")
              span= ' '
              if view.course
                span= i18n(view.course.attributes, 'name', view.currentLang)
              if view.campaign
                span= view.campaign.get('fullName')
          .code-results.outcome-section
            if view.campaign
              h3.learned-title(data-i18n="user.campaign_stats")
            else
              h3.learned-title(data-i18n="user.certificate_stats")
            ul.list-unstyled
              if view.courseStats.linesOfCode
                li
                  span= view.courseStats.linesOfCode
                  span= ' '
                  span(data-i18n="user.certificate_lines_of")
                  span= ' '
                  span= view.getCodeLanguageName()
              if view.courseStats.levels && view.courseStats.levels.numDone
                li
                  span= view.courseStats.levels.numDone
                  span= ' '
                  span(data-i18n="user.certificate_levels_completed")
              if view.projectLink
                li
                  span(data-i18n="teacher.project")
                  span= ': '
                  a(href=view.projectLink)= (view.projectShortLink || view.projectLink).replace(/^https?:\/\//, '')
              if view.projectLinks    
                  li
                    span(data-i18n="teacher.projects")
                    span= ': '
                    for projectLinkData in view.projectLinks
                      if projectLinkData !== view.projectLinks[0]
                        span= ', '
                      a(href=projectLinkData.link)= (projectLinkData.shortLink || projectLinkData.link).replace(/^https?:\/\//, '')
              if view.utils.isOzaria
                if view.teacherName
                  li.teacher-info
                    span(data-i18n="courses.teacher")
                    span= ': '
                    span= view.teacherName
                if view.certificateNumber
                  li.certificate-number-info
                    span(data-i18n="user.certificate_number")
                    span= ' ' + view.certificateNumber
          .concepts-learned.outcome-section
            h3.learned-title(data-i18n="courses.concepts")

            if view.multipleCoursesStats
              ul.list-unstyled.concepts-list
                for concept in view.concepts
                  if concept == 'create_playable_game' || concept == 'create_sharable_web_page' || concept == 'create_sharable_interactive_web_page'
                    // Too wide, weird "concepts", we'll just skip
                    - continue;
                  li(data-i18n="concepts." + concept)
            else
              ul.list-unstyled
                if view.course
                  for concept in view.course.get('concepts').slice().reverse().slice(0, 7)
                    if concept == 'create_playable_game' || concept == 'create_sharable_web_page' || concept == 'create_sharable_interactive_web_page'
                      // Too wide, weird "concepts", we'll just skip
                      - continue;
                    li(data-i18n="concepts." + concept)

          if view.utils.isOzaria
            .hero-signature
              img(src='/images/pages/user/certificates/signatures/signature-nick.png')
              .hero-signature-label
                //span(data-i18n="user.certificate_endorsed_by")
                //span= ' '
                span Nick Winter, CEO
          else
            if view.teacherName
              .teacher-info
                span(data-i18n="courses.teacher")
                span= ': '
                span= view.teacherName
            if view.certificateNumber
              .certificate-number-info
                span(data-i18n="user.certificate_number")
                span= ' ' + view.certificateNumber
            if view.thangType && view.thangType.loaded
              .hero-signature
                img(src='/images/pages/user/certificates/signatures/signature-' + (view.thangType.get('slug') || 'captain') + '.png')
                .hero-signature-label
                  span(data-i18n="user.certificate_endorsed_by")
                  span= ' '
                  span= i18n(view.thangType.attributes, 'extendedName')
            else
              h4 Loading hero
            if view.course
              .course-ribbon(class=view.course.acronym().replace(/\d/g, '').toLowerCase() + ' ' + view.course.acronym().toLowerCase())
                img(src='/images/pages/user/certificates/medallions/medallion-' + view.course.acronym().toLowerCase() + '.png')
                h3= view.course.acronym()
            else if view.campaign
              .course-ribbon
                img(src='/images/pages/user/certificates/medallions/medallion-cs1.png')
  
      if view.utils.isCodeCombat && view.thangType && view.thangType.loaded
        - var heroSlug = view.thangType.get('slug') || 'captain';
        img(src='/images/pages/user/certificates/poses/pose-' + heroSlug + '.png', class='hero-pose ' + heroSlug)
