extends /templates/kinds/user

block append content
  if user
    .vertical-buffer
    .row
      .left-column
        .profile-wrapper
          img.picture(src="#{me.getPhotoURL(150)}" alt="")
          div.profile-info
            h3.name= user.get('name')
            if favoriteLanguage
              div.extra-info Favorite language is
                strong.spl.spr= favoriteLanguage
          .btn-group-vertical.profile-menu
            a.btn.btn-default(href="/user/#{user.get('slug') || user.get('_id')}/profile")
              i.glyphicon.glyphicon-briefcase
              span Job Profile
            a.btn.btn-default.disabled(href="#")
              i.glyphicon.glyphicon-pencil
              span Code
        - var emails = user.get('emails')
        if emails
          ul.contributor-categories
            //li.contributor-category
              img.contributor-image(src="/images/pages/user/general.png")
              h4.contributor-title CodeCombateer
            if emails.adventurerNews
              li.contributor-category
                img.contributor-image(src="/images/pages/user/adventurer.png")
                h4.contributor-title
                  a(href="/contribute#adventurer") Adventurer
            if emails.ambassadorNews
              li.contributor-category
                img.contributor-image(src="/images/pages/user/ambassador.png")
                h4.contributor-title
                  a(href="/contribute#ambassador") Ambassador
            if emails.archmageNews
              li.contributor-category
                img.contributor-image(src="/images/pages/user/archmage.png")
                h4.contributor-title
                  a(href="/contribute#archmage") Archmage
            if emails.artisanNews
              li.contributor-category
                img.contributor-image(src="/images/pages/user/artisan.png")
                h4.contributor-title
                  a(href="/contribute#artisan") Artisan
            if emails.scribeNews
              li.contributor-category
                img.contributor-image(src="/images/pages/user/scribe.png")
                h4.contributor-title
                  a(href="/contribute#scribe") Scribe

      .right-column
        //.panel.panel-default
          .panel-heading
            h3.panel-title Achievements
          .panel-body
        .panel.panel-default
          .panel-heading
            h3.panel-title Singleplayer Levels
          if (!singlePlayerSessions)
            .panel-body
              p Loading...
          else if (singlePlayerSessions.length)
            table.table
              tr
                th Level
                th Last Played
                th Status
              each session in singlePlayerSessions
                tr
                  td
                    if session.get('levelName')
                      a(href="/play/level/#{session.get('levelID')}")= session.get('levelName')
                  td= moment(session.get('changed')).fromNow()
                  if session.get('state').complete === true
                    td Completed
                  else
                    td Unfinished
          else
            .panel-body
              p No Singleplayer games played yet.
        .panel.panel-default
          .panel-heading
            h3.panel-title Multiplayer Levels
          if (!multiPlayerSessions)
            .panel-body
              p Loading...
          else if (multiPlayerSessions.length)
            table.table
              tr
                th Level
                th Team
                th Last Played
              each session in multiPlayerSessions
                tr
                  td
                    a(href="/play/level/#{session.get('levelID')}")= session.get('levelName')
                  td= session.get('team')
                  td= moment(session.get('changed')).fromNow()
                  if session.get('state').complete === true
                    td Completed
          else
            .panel-body
              p No Multiplayer games played yet.
