extends /templates/common/user

block append content
  ol.breadcrumb
    li
      a(href="/")
        span.glyphicon.glyphicon-home
    li
      a(href="/account", data-i18n="nav.account")
    li.active(data-i18n="nav.profile")

  if view.user
    - var playerLevel = view.user.level()
    - var emails = view.user.getEnabledEmails()
    - var totalGems = view.user.gems()
    - var levelsComplete = (view.user.get('stats') || {}).gamesCompleted
    - var heroes = view.user.heroes().length
    - var heroID = (view.user.get('heroConfig') || {}).thangType
    - var heroPose = view.user.getPoseImage(heroID)
    - var codePoints = (view.user.get('stats') || {}).codePoints
    - var emptyImage = "/file/db/thang.type/5bce54394ca9b2003b86454b/portrait.png"
    - var headArmor = ((view.user.get('heroConfig') || {}).inventory || {}).head
    - var torsoArmor = ((view.user.get('heroConfig') || {}).inventory || {}).torso
    - var primaryWeapon = ((view.user.get('heroConfig') || {}).inventory || {})["right-hand"]
    - var secondaryWeapon = ((view.user.get('heroConfig') || {}).inventory || {})["left-hand"]
    - var patchesSubmitted = (view.user.get('stats') || {}).patchesSubmitted
    - var patchesApproved = (view.user.get('stats') || {}).patchesContributed
    - var patchesAccepted = (view.user.get('stats') || {}).patchesAccepted
    - var levelEdits = (view.user.get('stats') || {}).levelEdits
    - var articleEdits = (view.user.get('stats') || {}).articleEdits
    - var totalTranslations = (view.user.get('stats') || {}).totalTranslationPatches
    - var levelComponentEdits = (view.user.get('stats') || {}).levelComponentEdits

    .vertical-buffer
    .row
      .left-column
        .profile-wrapper
          img.picture(src="#{view.user.getPhotoURL(150)}" alt="")
          div.profile-info
            h3.name= view.user.get('name')

            if view.favoriteLanguage
              div.extra-info
                span(data-i18n="user.favorite_prefix") Favorite language is
                strong.favorite-language= view.favoriteLanguage
                span(data-i18n="user.favorite_postfix") .
            if levelsComplete
              div.extra-info
                span.spr(data-i18n="user.levels_complete") Levels Complete
                strong= levelsComplete
            if heroes
              div.extra-info
                span.spr(data-i18n="user.heroes_unlocked") Heroes Unlocked
                strong= heroes + " / 21"
            if playerLevel
              div.extra-info
                span.spr(data-i18n="general.player_level") Level
                strong= playerLevel
            if codePoints
              div.extra-info
                span.spr(data-i18n="user.code_points") Code Points
                strong= codePoints
            if totalGems
              div.extra-info
                span.spr(data-i18n="user.user_gems") Gems
                strong= totalGems

        div.inventory
          h2.inventory-title(data-i18n="user.inventory") Inventory

          div.hero-container
            if heroID
              img#hero-pose.hero-pose(src="/file/" alt="")

            div.items
              h4.items-title(data-i18n="user.current_items") Items Equipped
              div.float
                if primaryWeapon
                  img.primary-weapon(src="/file/db/thang.type/#{primaryWeapon}/portrait.png" alt="")
                else
                  img.primary-weapon(src="#{emptyImage}" alt="")
                if secondaryWeapon
                  img.secondary-weapon(src="/file/db/thang.type/#{secondaryWeapon}/portrait.png" alt="")
                else
                  img.primary-weapon(src="#{emptyImage}" alt="")
                if headArmor
                  img.head-armor(src="/file/db/thang.type/#{headArmor}/portrait.png" alt="")
                else
                  img.primary-weapon(src="#{emptyImage}" alt="")
                if torsoArmor
                  img.torso-armor(src="/file/db/thang.type/#{torsoArmor}/portrait.png" alt="")
                else
                  img.primary-weapon(src="#{emptyImage}" alt="")



          ul.contributor-categories
            li.contributor-category
              h4.general-title(data-i18n="user.contributor_badges") Contributor Badges
            if levelsComplete && levelsComplete >= 100
              li.contributor-category
                img.contributor-image(src="/images/pages/user/adventurer.png")
                h4.contributor-title
                  a(href="/contribute/adventurer" data-i18n="classes.adventurer_title") Adventurer

            if levelComponentEdits && levelComponentEdits >= 10
              li.contributor-category
                img.contributor-image(src="/images/pages/user/archmage.png")
                h4.contributor-title
                  a(href="/contribute/archmage" data-i18n="classes.archmage_title") Archmage
            if levelEdits && levelEdits >= 50
              li.contributor-category
                img.contributor-image(src="/images/pages/user/artisan.png")
                h4.contributor-title
                  a(href="/contribute/artisan" data-i18n="classes.artisan_title") Artisan
            if articleEdits && articleEdits >= 10
              li.contributor-category
                img.contributor-image(src="/images/pages/user/scribe.png")
                h4.contributor-title
                  a(href="/contribute/scribe" data-i18n="classes.scribe_title") Scribe
            if totalTranslations && totalTranslations >= 10
              li.contributor-category
                img.contributor-image(src="/images/pages/user/diplomat.png")
                h4.contributor-title
                  a(href="/contribute/diplomat" data-i18n="classes.diplomat_title") Diplomat

      .right-column

        .panel.panel-default
          .panel-heading
            h3.panel-title(data-i18n="clans.clans") Clans
          if (!view.clanModels)
            .panel-body
              p(data-i18n="common.loading")
          else if (view.clanModels.length)
            table.table
              tr
                th.col-xs-4(data-i18n="clans.name") Name
                th.col-xs-4(data-i18n="clans.chieftain") Chieftain
                th.col-xs-4(data-i18n="play.heroes") Heroes
              each clan in view.clanModels
                tr
                  td
                    a(href="/clans/#{clan.id}")= clan.get('name')
                  td
                    if view.idNameMap && view.idNameMap[clan.get('ownerID')]
                      a(href="/user/#{clan.get('ownerID')}")= view.idNameMap[clan.get('ownerID')]
                    else
                      a(href="/user/#{clan.get('ownerID')}") Anonymous
                  td= clan.get('members').length
          else
            .panel-body
              p(data-i18n="user.not_member_of_clans") Not a member of any clans yet.

        .panel.panel-default
          .panel-heading
            h3.panel-title(data-i18n="user.singleplayer_title") Singleplayer Levels
          if (!view.singlePlayerSessions)
            .panel-body
              p(data-i18n="common.loading") Loading...
          else if (view.singlePlayerSessions.length)
            table.table
              tr
                th.col-xs-4(data-i18n="resources.level") Level
                th.col-xs-4(data-i18n="user.last_played") Last Played
                th.col-xs-4(data-i18n="user.status") Status
              - var count = 0
              each session, index in view.singlePlayerSessions
                if session.get('levelName')
                  tr(class=count > 4 ? 'hide' : '')
                    - count++;
                    td
                      a(href="/play/level/#{session.get('levelID')}")= session.get('levelName')
                    td= moment(session.get('changed')).fromNow()
                    if session.get('state') && session.get('state').complete === true
                      td(data-i18n="user.status_completed") Completed
                    else
                      td(data-i18n="user.status_unfinished") Unfinished
            if count > 4
              .panel-footer
                button.btn.btn-info.btn-sm.more-button(data-i18n="editor.more")
          else
            .panel-body
              p(data-i18n="user.no_singleplayer") No Singleplayer games played yet.
        .panel.panel-default
          .panel-heading
            h3.panel-title(data-i18n="user.multiplayer_title") Multiplayer Levels
          if (!view.multiPlayerSessions)
            .panel-body
              p(data-i18n="common.loading") Loading...
          else if (view.multiPlayerSessions.length)
            table.table
              tr
                th.col-xs-4(data-i18n="resources.level") Level
                th.col-xs-4(data-i18n="user.last_played") Last Played
                th.col-xs-4(data-i18n="general.score") Score
              each session, index in view.multiPlayerSessions
                tr(class=index > 4 ? 'hide' : '')
                  td
                    - var posturl = ''
                    - if (session.get('team')) posturl = '?team=' + session.get('team')
                    a(href="/play/level/#{session.get('levelID') + posturl}")= session.get('levelName') + (session.get('team') ? ' (' + session.get('team') + ')' : '')
                  td= moment(session.get('changed')).fromNow()
                  if session.get('totalScore')
                    td= parseInt(session.get('totalScore') * 100)
                  else
                    td(data-i18n="user.status_unfinished") Unfinished
            if view.multiPlayerSessions.length > 4
              .panel-footer
                button.btn.btn-info.btn-sm.more-button(data-i18n="editor.more")
          else
            .panel-body
              p(data-i18n="user.no_multiplayer") No Multiplayer games played yet.
        .panel.panel-default
          .panel-heading
            h3.panel-title(data-i18n="user.achievements_title") Achievements
          if ! view.earnedAchievements
            .panel-body
              p(data-i18n="common.loading") Loading...
          else if ! view.earnedAchievements.length
            .panel-body
              p(data-i18n="user.no_achievements") No achievements earned so far.
          else
            table.table
              tr
                th.col-xs-4(data-i18n="achievements.achievement") Achievement
                th.col-xs-4(data-i18n="achievements.last_earned") Last Earned
                th.col-xs-4(data-i18n="achievements.amount_achieved") Amount
              each achievement, index in view.earnedAchievements.models
                tr(class=index > 4 ? 'hide' : '')
                  td= achievement.get('achievementName')
                  td= moment(achievement.get('changed')).format("MMMM Do YYYY")
                  if achievement.get('achievedAmount')
                    td= achievement.get('achievedAmount')
                  else
                    td
            if view.earnedAchievements.length > 4
              .panel-footer
                button.btn.btn-info.btn-sm.more-button(data-i18n="editor.more")
        .panel.panel-default
          .panel-heading
            h3.panel-title(data-i18n="user.contributions_title") Contributions
          if view.user


            if !(patchesSubmitted && patchesApproved && patchesAccepted && levelEdits && totalTranslations)
              .panel-body
                p(data-i18n="user.no_contributions") No contributions so far.
            else
              table.table
                tr
                  th.col-xs-4(data-i18n="user.type_stat") Type
                  th.col-xs-4(data-i18n="user.contribution_value") Value
                tr
                  td(data-i18n="user.patches_submit") Patches Submitted
                  if (patchesSubmitted)
                    td= patchesSubmitted
                  else
                    td= "0"
                tr
                  td(data-i18n="user.patches_approved") Patches Approved
                  if (patchesApproved)
                    td= patchesApproved
                  else
                    td= "0"
                tr
                  td(data-i18n="user.patches_accepted") Patches Accepted
                  if (patchesAccepted)
                    td= patchesAccepted
                  else
                    td= "0"
                tr
                  td(data-i18n="user.level_edits") Level Edits
                  if (levelEdits)
                    td= levelEdits
                  else
                    td= "0"
                tr
                  td(data-i18n="user.total_translations") Total Translations
                  if (totalTranslations)
                    td= totalTranslations
                  else
                    td= "0"
