extends /templates/base

block content

  h1= clan.get('name')
    span.spr.spl.small (owner 
      a(href="/user/#{clan.get('ownerID')}")= clan.get('ownerName')
      | )
  div
    if isOwner
      button.btn.btn-sm.btn-warning Delete Clan
    else if isMember
      button.btn.btn-sm.btn-warning.leave-clan-btn(data-id="#{clan.id}") Leave Clan
    else
      button.btn.btn-sm.btn-success.join-clan-btn(data-id="#{clan.id}") Join Clan

  if clan.get('members')
    h3 Clan Members (#{clan.get('members').length})
    table.table.table-striped.table-condensed
      thead
        tr
          th Name
          th Level
          th  
      tbody
        each member in clan.get('members')
          tr
            td
              a(href="/user/#{member.id}")= member.name
            td= member.level
            if isOwner && member.id !== clan.get('ownerID')
              td
                button.btn.btn-sm.btn-warning Remove Member
            else
              td

    button.btn.btn-sm Load More
