extends /templates/base

block content

  div
    button.btn.btn-sm.btn-success.create-clan-btn Create New Clan
    span.spr.spl
      input.create-clan-name(type='text' placeholder='New clan name')
  br

  div(role='tabpanel')
    ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
        a(href='#public-clans' aria-controls='public-clans', role='tab', data-toggle='tab') Public Clans
      li(role='presentation')
        a(href='#my-clans' aria-controls='my-clans', role='tab', data-toggle='tab') My Clans

  .tab-content
    .tab-pane.active#public-clans(role='tabpanel')
      table.table.table-striped.table-condensed
        thead
          tr
            th Clan Name
            th Members
            th Owner
            th  
        tbody
          if publicClans.length
            each clan in publicClans
              tr
                td
                  if clan.get('ownerID') === me.id
                    a(href="/clans/#{clan.id}", style='font-weight:bold')= clan.get('name')
                  else
                    a(href="/clans/#{clan.id}")= clan.get('name')
                td= clan.get('members').length
                td 
                  a(href="/user/#{clan.ownerID}")= clan.get('ownerName')
                td
                  if myClanIDs.indexOf(clan.id) < 0
                    button.btn.btn-sm.btn-success Join Clan
                  else if clan.get('ownerID') !== me.id
                    button.btn.btn-sm.btn-warning Leave Clan

      button.btn.btn-sm Load More

    .tab-pane#my-clans(role='tabpanel')
      table.table.table-striped.table-condensed
        thead
          tr
            th Clan Name
            th Members
            th Owner
            th
        tbody
          if myClans.length
            each clan in myClans
              tr
                td
                  a(href="/clans/#{clan.id}")= clan.get('name')
                td= clan.get('members').length
                td 
                  a(href="/user/#{clan.ownerID}")= clan.get('ownerName')
                td
                  if clan.get('ownerID') !== me.id
                    button.btn.btn-sm.btn-warning Leave Clan

      button.btn.btn-sm Load More
