extends /templates/base

block content

  if clan
    h1= clan.get('name')
    if clan.get('description')
      .clan-description
        each line in clan.get('description').split('\n')
          p= line

  h5 Summary
  table.table.table-condensed.stats-table
    if owner
      tr
        td
          span.spr Chieftain
        td
          a(href="/user/#{clan.get('ownerID')}")= owner.get('name')
    if stats.averageLevel
      tr
        td Average Level
        td= stats.averageLevel
    if stats.totalAchievements
      tr
        td Total Achievements
        td= stats.totalAchievements

  p
    if isOwner
      button.btn.btn-sm.btn-warning.delete-clan-btn Delete Clan
    else if isMember
      button.btn.btn-sm.btn-warning.leave-clan-btn Leave Clan
    else
      button.btn.btn-sm.btn-success.join-clan-btn Join Clan

  div
    span.spl.spr.join-link-prompt Invite:
    input.join-clan-link(type="text", readonly, value="#{joinClanLink}")
  .small *Invite players to this Clan by sending them this link.

  if members
    h3 Heroes (#{members.length})
    table.table.table-striped.table-condensed
      thead
        tr
          th Name
          th Level
          th Achievements
          th Favorite Language
          th  
      tbody
        each member in members
          tr
            td
              a(href="/user/#{member.id}")= member.get('name') || 'Anoner'
            td= member.level()
            td
              if memberAchievementsMap && memberAchievementsMap[member.id]
                | #{memberAchievementsMap[member.id].length}
            td
              if memberLanguageMap && memberLanguageMap[member.id]
                | #{memberLanguageMap[member.id]}
            td
              if isOwner && member.id !== clan.get('ownerID')
                  button.btn.btn-sm.btn-warning.remove-member-btn(data-id="#{member.id}") Remove Hero
