extends /templates/base

block content

  if clan
    h1= clan.get('name')
    if owner
      p 
        span.spr Owner:
        a(href="/user/#{clan.get('ownerID')}")= owner.get('name')
    if stats.averageLevel
      p Average level: #{stats.averageLevel}
    if stats.totalAchievements
      p Total achievements earned: #{stats.totalAchievements}
      
  div
    if isOwner
      button.btn.btn-sm.btn-warning.delete-clan-btn Delete Clan
    else if isMember
      button.btn.btn-sm.btn-warning.leave-clan-btn Leave Clan
    else
      button.btn.btn-sm.btn-success.join-clan-btn Join Clan

  if members
    h3 Clan Members (#{members.length})
    table.table.table-striped.table-condensed
      thead
        tr
          th Name
          th Level
          th Achievements
          th  
      tbody
        each member in members
          tr
            td
              a(href="/user/#{member.id}")= member.get('name') || 'Anoner'
            td= member.level()
            td
              if memberAchievementsMap && memberAchievementsMap[member.id]
                | #{memberAchievementsMap[member.id].length}
            td
              if isOwner && member.id !== clan.get('ownerID')
                  button.btn.btn-sm.btn-warning.remove-member-btn(data-id="#{member.id}") Remove Member
