extends /templates/common/table

block tableResultsHeader
  tr
    th(colspan=4)
      span(data-i18n="general.results")
        | Results
      span
        |: #{documents.length}

block tableHeader
  tr
    th(data-i18n="general.name") Name
    th(data-i18n="general.description") Description

block tableBody
  for course in documents
    tr(class=course.get('creator') == me.id ? 'mine' : '')
      td(title=course.get('name')).name-row
        a(href="/editor/#{page}/#{course.get('slug') || course.id}")= course.get('name')
      td(title=course.get('description')).description-row= course.get('description')
