extends /templates/base

block content
  
  h1(data-i18n="admin.growth_title") Users
  if me.isAdmin()
    if crunchingData
      h4 Crunching Data..
    else
      h2 Registered Users
      h3 Per-Day
      h4 Totals
      svg.perDayTotal
      h4 Added
      svg.perDayAdded
      table.table.table-striped.table-bordered.table-condensed
        -for (var i = 0; i < usersPerDay.length; i++)
          tr
            td= usersPerDay[i].date
            td= usersPerDay[i].added
            td= usersPerDay[i].total
      h3 Per-Month
      h4 Totals
      svg.perMonthTotal
      h4 Added
      svg.perMonthAdded
      table.table.table-striped.table-bordered.table-condensed
        -for (var i = 0; i < usersPerMonth.length; i++)
          tr
            td= usersPerMonth[i].date
            td= usersPerMonth[i].added
            td= usersPerMonth[i].total
