extends /templates/base
block content
  if !me.isAdmin()
    h1 Admins Only
  if me.isAdmin()
    h1(data-i18n="employers.want_to_hire_our_players") Hire CodeCombat Players
    if !isEmployer && !me.isAdmin()
      div#info_wrapper
        div#leftside
          div.information_row
            img(class="employer_icon" src="/images/pages/employer/employer_icon1.png")
            h2(data-i18n="employers.what") What is CodeCombat?
            p(data-i18n="employers.what_blurb") CodeCombat is a multiplayer browser programming game. Players write code to control their forces in battle against other developers. We support JavaScript, Python, Lua, Clojure, CoffeeScript, and Io.
          div.information_row
            img(class="employer_icon" src="/images/pages/employer/employer_icon3.png")
            h2(data-i18n="employers.who") Who Are the Players?
            p(data-i18n="employers.who_blurb") CodeCombateers are CTOs, VPs of Engineering, and graduates of top 20 engineering schools. No junior developers here. Our players enjoy playing with code and solving problems.
          div.information_row
            img(class="employer_icon" src="/images/pages/employer/employer_icon5.png")
            h2(data-i18n="employers.cost") Who Are the Players?
            p(data-i18n="employers.cost_blurb") CodeCombateers are CTOs, VPs of Engineering, and graduates of top 20 engineering schools. No junior developers here. Our players enjoy playing with code and solving problems.
        div#rightside
          div.information_row
            img(class="employer_icon" src="/images/pages/employer/employer_icon2.png")
            h2(data-i18n="employers.how") How Much Do we Charge?
            p(data-i18n="employers.how_blurb") We charge 15% of first year's salary and offer a 100% money back guarantee for 90 days. We don't charge for candidates who are already actively being interviewed at your company.
          div.information_row
            img(class="employer_icon" src="/images/pages/employer/employer_icon4.png")
            h2(data-i18n="employers.why") Why Hire Through Us?
            p
              span(data-i18n="employers.why_blurb_1") We will save you time. Every CodeCombateer we feaure is 
              strong(data-i18n="employers.why_blurb_2") looking for work
              span(data-i18n="employers.why_blurb_3") , has 
              strong(data-i18n="employers.why_blurb_4") demonstrated top notch technical skills
              span(data-i18n="employers.why_blurb_5") , and has been 
              strong(data-i18n="employers.why_blurb_6") personally screened by us
              span(data-i18n="employers.why_blurb_7") . Stop screening and start hiring.
          div.information_row
            img(class="employer_icon" src="/images/pages/employer/employer_icon6.png")
            h2(data-i18n="employers.response") What's the Response Rate?
            p(data-i18n="employers.response_blurb") Almost every developer you contact on CodeCombat will respond to inquires whether or not they want to interivew. If you would like help finding a candidate for your role, we can make recommendations.
    if candidates.length
      ul.nav.nav-pills
        li.active
          a(href="#featured-candidates", data-toggle="tab")
            span.spr(data-i18n="employers.featured_developers") Featured Developers
            | (#{featuredCandidates.length})
        if otherCandidates.length
          li
            a(href="#other-candidates", data-toggle="tab")
              span.spr(data-i18n="employers.other_developers") Other Developers
              | (#{otherCandidates.length})
        if me.isAdmin() && inactiveCandidates.length
          li
            a(href="#inactive-candidates", data-toggle="tab")
              span.spr(data-i18n="employers.inactive_developers") Inactive Developers
              | (#{inactiveCandidates.length})
      div.tab-content
        for area, tabIndex in [{id: "featured-candidates", candidates: featuredCandidates}, {id: "other-candidates", candidates: otherCandidates}, {id: "inactive-candidates", candidates: inactiveCandidates}]
          div(class="tab-pane well" + (tabIndex ? "" : " active"), id=area.id)
            table.table.table-condensed.table-hover.table-responsive.tablesorter
              thead
                tr
                  th(data-i18n="general.name") Name
                  th(data-i18n="employers.candidate_location") Location
                  th(data-i18n="employers.candidate_looking_for") Looking For
                  th(data-i18n="employers.candidate_role") Role
                  th(data-i18n="employers.candidate_top_skills") Top Skills
                  th(data-i18n="employers.candidate_years_experience") Yrs Exp
                  th(data-i18n="employers.candidate_last_updated") Last Updated
                  if me.isAdmin()
                    th(data-i18n="employers.candidate_who") Who
                  if me.isAdmin() && area.id == 'inactive-candidates'
                    th ✓?
              tbody
                for candidate, index in area.candidates
                  - var profile = candidate.get('jobProfile', true);
                  - var authorized = candidate.id;  // If we have the id, then we are authorized.
                  - var profileAge = (new Date() - new Date(profile.updated)) / 86400 / 1000;
                  - var expired = profileAge > 2 * 30.4;
                  tr(data-candidate-id=candidate.id, id=candidate.id, class=expired ? "expired" : "")
                    td
                      if authorized
                        img(src=candidate.getPhotoURL(50), alt=profile.name, title=profile.name, height=50)
                        if profile.name
                          p= profile.name
                        else if me.isAdmin()
                          p (#{candidate.get('name')})
                      else
                        img(src="/images/pages/contribute/archmage.png", alt="", title="Sign up as an employer to see our candidates", width=50)
                        p Developer ##{index + 1 + (area.id == 'featured-candidates' ? 0 : featuredCandidates.length)}
                    if profile.country == 'USA'
                      td= profile.city
                    else
                      td= profile.country
                    td= profile.lookingFor
                    td= profile.jobTitle
                    td
                      each skill in profile.skills
                        code= skill
                        span
                    td= profile.experience
                    td(data-profile-age=profileAge)= moment(profile.updated).fromNow()
                    if me.isAdmin()
                      td= remarks[candidate.id] ? remarks[candidate.id].get('contactName') : ''
                    if me.isAdmin() && area.id == 'inactive-candidates'
                      if candidate.get('jobProfileApproved')
                        td ✓
                      else
                        td ✗