extends /templates/base

block content

  if !me.isAdmin()
    h1 Admin Only
  else
    h1(data-i18n="admin.av_entities_employer_list_url") Employer List
  
    p
      | We currently have 
      if employers.length
        | #{employers.length}
      else
        | ...
      |  employers in the system.
  
    if employers.length
      table.table.table-condensed.table-hover.table-responsive.tablesorter
        thead
          tr
            th(data-i18n="general.name") Name
            th Company
            th(data-i18n="general.email") Email
            th Logins
            th Candidates Viewed
            th Candidates Contacted
            th Signed Up
    
        tbody
          for employer, index in employers
            - var activity = employer.get('activity') || {};
            - var hasLinkedIn = typeof employer.get('signedEmployerAgreement') !== "undefined";
            - var emptyDate = {date: Date.now()};
            - var linkedIn = hasLinkedIn ? employer.get('signedEmployerAgreement').data : emptyDate;
            tr(data-employer-id=employer.id)
              td
                img(src=employer.getPhotoURL(50), height=50)
                p
                  if employer.get('firstName')
                    span= employer.get('firstName') + ' ' + employer.get('lastName')
                    if employer.get('name')
                      |  - 
                  else if linkedIn.firstName
                    span= linkedIn.firstName + ' ' + linkedIn.lastName
                    if employer.get('name')
                      |  - 
                  if employer.get('name')
                    span= employer.get('name')
                  if !employer.get('firstName') && !linkedIn.firstName && !employer.get('name')
                    | Anoner
              td
                if employer.get('signedEmployerAgreement')
                  a(href=employer.get('signedEmployerAgreement').data.publicProfileUrl)= employer.get('employerAt')
                else
                  | Unknown
              td= employer.get('email')
              for a in ['login', 'view_candidate', 'contact_candidate']
                - var act = activity[a];
                if act
                  td
                    strong= act.count
                    |  
                    br
                    span= moment(act.first).fromNow()
                    br
                    span= moment(act.last).fromNow()
                else
                  td 0
              td(data-employer-age=(new Date() - new Date(linkedIn.date)) / 86400 / 1000)= moment(employer.get('signedEmployerAgreement') ? employer.get('signedEmployerAgreement').date : linkedIn.date).fromNow()
