extends /templates/core/modal-base-flat

block modal-header-content
  if view.classroom.loaded
    .text-center
      h3.modal-title
        span(data-i18n="courses.join")
        span.spr 
        span= view.classroom.get('name')
      b.small-details
        span.spr(data-i18n="TODO")
          | Instructor: 
        span= view.classroom.owner.get('name')

block modal-body-content
  if view.classroom.loaded
    p
      span.spr(data-i18n="TODO")
        | By joining 
      span= view.classroom.get('name')
      span.spr , 
      span= view.classroom.owner.get('name')
      span.spr  
      span(data-i18n="TODO")
        | will be able to help reset your password if you forget or lose it. You can also verify your email address so that you can reset the password yourself!

    unless me.get('emailVerified')
      div.text-center.m-t-4
        div
          b.small-details
            span(data-i18n="TODO")
              | We've sent a verification email to:
        .small= me.get('email')
        .small
          span.spr(data-i18n="TODO")
            | You can edit your email address in 
          a(href="/account/settings")
            span(data-i18n="TODO")
              | Account Settings

block modal-footer-content
  .text-center
    button.join-class-btn.btn.btn-lg.btn-navy.text-uppercase(data-i18n="courses.join_class")
    button.btn.btn-lg.text-uppercase(data-dismiss="modal", data-i18n="common.cancel")
