extends /templates/base

block content

  p To join a class, ask your teacher for an unlock code.
  
  #join-classroom-form.form-horizontal
    .form-group
      .col-sm-2
        button#join-class-btn.btn.btn-default.btn-block(disabled=view.state==='enrolling') Join Class
      .col-sm-6
        input#classroom-code-input.form-control(
          placeholder='<enter unlock code here>',
          value=view.classCode,
          disabled=view.state==='enrolling')
        
    if view.state === 'enrolling'
      .progress.progress-striped.active
        .progress-bar(style="width: 100%") Joining class
      
    if view.state === 'unknown_error'
      .alert.alert-danger= view.stateMessage
     
  .panel.panel-default
    .panel-heading
      .panel-title My Courses
      
    .panel-body.row
      .col-sm-3 Class 1
      .col-sm-3 Course 1
      .col-sm-6
        button.btn.btn-default.btn-sm Enter