extends /templates/base-flat

block page_nav
  include ./teacher-dashboard-nav.jade

block content
  - var classroom = view.classroom
  if classroom.loaded
    .container
      h3= classroom.get('name')
      a.edit-class-settings(data-i18n="TODO" data-classroom-id=classroom.id)
        | edit class settings
      h4= classroom.get('description')
      
      .classroom-info-row.row
        .classroom-details.col-md-3
          h4(data-i18n="TODO")
            | Class Overview
      
          .language
            span.spr(data-i18n="TODO")
              | Language:
            span= classroom.capitalLanguage
          
          .student-count
            span.spr(data-i18n="TODO")
              | Students:
            span= classroom.get('members').length
              
          .average-playtime
            span.spr(data-i18n="TODO")
              | Average level play time:
            span= view.averagePlaytime
              
          .total-playtime
            span.spr(data-i18n="TODO")
              | Total play time:
            span= view.totalPlaytime
               
          .average-complete
            span.spr(data-i18n="TODO")
              | Average levels completed:
            span= view.averageLevelsCompleted
              
          .total-complete
            span.spr(data-i18n="TODO")
              | Total levels completed:
            span= view.totalLevelsCompleted
              
          .concepts.semibold
          
        .completeness-info.col-md-4
          if view.earliestIncompleteLevel
            div(data-i18n="TODO")
              | Earliest incomplete level:
            +longLevelName(view.earliestIncompleteLevel)
            +inlineUserList(view.earliestIncompleteLevel.users)
            
          if view.latestCompleteLevel
            div(data-i18n="TODO")
              | Latest completed level:
            +longLevelName(view.latestCompleteLevel)
            +inlineUserList(view.latestCompleteLevel.users)
            
        .adding-students.col-md.4
          h4(data-i18n="TODO")
            | Adding students:
          +addStudentsButton
          
      ul.nav.nav-tabs(role="tablist")
        li.active
          a(href="#students-tab" data-toggle="tab")
            .text-center(data-i18n="TODO")
              | Students
        .tab-spacer
        li
          a(href="#course-progress-tab" data-toggle="tab")
            .text-center(data-i18n="TODO")
              | Level Progress
        .tab-filler
      
      .tab-content
        +studentsTab
        +courseProgressTab

mixin longLevelName(data)
  if data
    div.level-name
      span.spr Course
      span= data.courseNumber
      span.spr , Level
      span= data.levelNumber
      span.spr :
      span= data.levelName
          
mixin inlineUserList(users)
  if users
    ul.inline-student-list
      each student in users
        li
          a(href="TODO")
            = student.get('name')

mixin addStudentsButton
  .add-students.text-center
      a.add-students-button.btn.btn-lg.btn-primary(data-classroom-id=view.classroom.id)
        | Add Students Manually
        
mixin studentsTab
  #students-tab.tab-pane.active
    table.students-table
      thead
        th
          span Select All
          .checkbox-flat
            input(type="checkbox")
        th.small
          span Sort by: 
          button.sort-button.sort-by-name
            | Name
          button.sort-button.sort-by-progress
            | Progress
      tbody
        each student in view.students.models
          +studentRow(student)
          
mixin studentRow(student)
  tr.alternating-background
    td
      .checkbox-flat
        input(type="checkbox")
    td.student-info
      div.student-name= student.get('name')
      div.student-email.small-details emailaddress@school.edu
    td.hidden
      a.edit-student-button(data-student-id=student.id)
        span.glyphicon.glyphicon-edit
        span(data-i18n="TODO") edit
    td.small
      div
        i Latest completed:
      div
        +longLevelName(student.latestCompleteLevel)
    td
      if view.progressData
        each course, index in view.courses.models
          - var instance = view.courseInstances.getByCourseAndClassroom(course, classroom)
          if instance && instance.hasMember(student)
            - var progress = view.getProgress({ course: course, user: student })
            +progressDot(progress, "CS" + (index+1))
    td
      span.view-class-arrow.glyphicon.glyphicon-chevron-right
    
mixin courseProgressTab
  #course-progress-tab.tab-pane
    if view.progressData
      +courseOverview
      .student-levels-table
        each student in view.students.models
          +studentLevelsRow(student)
        
mixin courseOverview
  - var course = view.courses.models[0] // TODO: Wire this up to a dropdown
  - var campaign = view.campaigns.get(course.get('campaignID'))
  - var levels = campaign.getLevels().models
  each level, index in levels
    - var progress = view.getProgress({ course: course, level: level })
    +progressDot(progress, index+1)

mixin studentLevelsRow(student)
  .student-levels-row.alternating-background
    div.student-info
      div.student-name= student.get('name')
      div.student-email.small-details emailaddress@school.edu
    div.student-levels-progress
      - var course = view.courses.models[0] // TODO: Wire this up to a dropdown
      - var campaign = view.campaigns.get(course.get('campaignID'))
      - var levels = campaign.getLevels().models
      each level, index in levels
        - var progress = view.getProgress({ course: course, level: level, user: student })
        +progressDot(progress, index+1)
        
      
    

mixin progressDot(progress, label)
  //- TODO: Refactor with TeacherClassesView jade
  //- TODO: Give classes abbreviations instead of using index?
  //- TODO: inefficient. Cache this in the view?
  - dotClass = progress.completed ? 'forest' : (progress.started ? 'gold' : '');
  .progress-dot(class=dotClass, data-html='true', data-title=view.progressDotTemplate(progressDotContext) data-toggle='tooltip')
    +progressDotLabel(label)

mixin progressDotLabel(label)
  .dot-label.text-center
    .dot-label-inner
      = label
