extends /templates/base-flat

block page_nav
  include ./teacher-dashboard-nav.jade

block content
  - var classroom = view.classroom
  if classroom.loaded
    .container
      - console.log(classroom)
      h3= classroom.get('name')
      a.edit-class-settings(data-i18n="TODO" data-classroom-id=classroom.id)
        | edit class settings
      h4= classroom.get('description')
      
      .classroom-info-row.row
        .classroom-details.col-md-3
          h4(data-i18n="TODO")
            | Class Overview
      
          .language
            span.spr(data-i18n="TODO")
              | Language:
            span
              = classroom.capitalLanguage
          
          .student-count
            span.spr(data-i18n="TODO")
              | Students:
            span
              = classroom.get('members').length
              
          .average-playtime
            span.spr(data-i18n="TODO")
              | Average level play time:
            span
              = view.averagePlaytime
              
          .total-playtime
            span.spr(data-i18n="TODO")
              | Total play time:
            span
              = view.totalPlaytime
               
          .average-complete
            span.spr(data-i18n="TODO")
              | Average levels completed:
            span
              = view.averageLevelsCompleted
              
          .total-complete
            span.spr(data-i18n="TODO")
              | Total levels completed:
            span
              = view.totalLevelsCompleted
              
          .concepts.semibold
          
        .completeness-info.col-md-4
          p(data-i18n="TODO")
            | Earliest incomplete level:
            if view.earliestIncompleteLevel
              +longLevelName(view.earliestIncompleteLevel)
          p
            +inlineUserList(view.earliestIncompleteLevel.users)
            
          p(data-i18n="TODO")
            | Latest completed level:
            if view.latestCompleteLevel
              +longLevelName(view.latestCompleteLevel)
          p
            +inlineUserList(view.latestCompleteLevel.users)
            
        .adding-students.col-md.4
          h4(data-i18n="TODO")
            | Adding students:
          +addStudentsButton
          
      ul.nav.nav-tabs(role="tablist")
        li.active
          a(href="#students-tab" data-toggle="tab")
            span(data-i18n="TODO")
              | Students
        li
          a(href="#progress-tab" data-toggle="tab")
            span(data-i18n="TODO")
              | Level Progress
      
      .tab-content
        #students-tab.tab-pane.active
          
        #progress-tab.tab-pane

mixin longLevelName(data)
  div.level-name
    span.spr Course
    span= data.courseNumber
    span.spr , Level
    span= data.levelNumber
    span.spr :
    span= data.levelName
          
mixin inlineUserList(users)
  span.inline-user-list
    ul
      each user in users
        li
          a(href="TODO")
            = user.get('name')

mixin addStudentsButton
  .add-students.text-center
      a.add-students-button.btn.btn-lg.btn-primary(data-classroom-id=view.classroom.id)
        | Add Students Manually
        
