extends /templates/base-flat

block page_nav
  include ./teacher-dashboard-nav.jade

block content
  - var classroom = view.classroom
  if classroom.loaded
    .container
      - console.log(classroom)
      h3= classroom.get('name')
      a.edit-class-settings(data-i18n="TODO" data-classroom-id=classroom.id)
        | edit class settings
      h4= classroom.get('description')
      
      .classroom-info-row.row
        .classroom-details.col-md-3
          h4(data-i18n="TODO")
            | Class Overview
      
          .language
            span.spr(data-i18n="TODO")
              | Language:
            span= classroom.capitalLanguage
          
          .student-count
            span.spr(data-i18n="TODO")
              | Students:
            span= classroom.get('members').length
              
          .average-playtime
            span.spr(data-i18n="TODO")
              | Average level play time:
            span= view.averagePlaytime
              
          .total-playtime
            span.spr(data-i18n="TODO")
              | Total play time:
            span= view.totalPlaytime
               
          .average-complete
            span.spr(data-i18n="TODO")
              | Average levels completed:
            span= view.averageLevelsCompleted
              
          .total-complete
            span.spr(data-i18n="TODO")
              | Total levels completed:
            span= view.totalLevelsCompleted
              
          .concepts.semibold
          
        .completeness-info.col-md-4
          if view.earliestIncompleteLevel
            p(data-i18n="TODO")
              | Earliest incomplete level:
              +longLevelName(view.earliestIncompleteLevel)
            p
              +inlineUserList(view.earliestIncompleteLevel.users)
            
          if view.latestCompleteLevel
            p(data-i18n="TODO")
              | Latest completed level:
              +longLevelName(view.latestCompleteLevel)
            p
              +inlineUserList(view.latestCompleteLevel.users)
            
        .adding-students.col-md.4
          h4(data-i18n="TODO")
            | Adding students:
          +addStudentsButton
          
      ul.nav.nav-tabs(role="tablist")
        li.active
          a(href="#students-tab" data-toggle="tab")
            span(data-i18n="TODO")
              | Students
        li
          a(href="#progress-tab" data-toggle="tab")
            span(data-i18n="TODO")
              | Level Progress
      
      .tab-content
        +studentsTab
        +progressTab

mixin longLevelName(data)
  if data
    div.level-name
      span.spr Course
      span= data.courseNumber
      span.spr , Level
      span= data.levelNumber
      span.spr :
      span= data.levelName
          
mixin inlineUserList(users)
  if users
    ul.inline-student-list
      each student in users
        li
          a(href="TODO")
            = student.get('name')

mixin addStudentsButton
  .add-students.text-center
      a.add-students-button.btn.btn-lg.btn-primary(data-classroom-id=view.classroom.id)
        | Add Students Manually
        
mixin studentsTab
  #students-tab.tab-pane.active
  table.students-table
    thead
      th
        span Select All
        .checkbox-flat
          input(type="checkbox")
      th.small
        span Sort by: 
        button.sort-button.sort-by-name
          | Name
        button.sort-button.sort-by-progress
          | Progress
    tbody
      each student in view.students.models
        +studentRow(student)
          
mixin studentRow(student)
  tr.alternating-background
    td
      .checkbox-flat
        input(type="checkbox")
    td.student-info
      div.student-name= student.get('name')
      div.student-email.small-details emailaddress@school.edu
    td.hidden
      a.edit-student-button(data-student-id=student.id)
        span.glyphicon.glyphicon-edit
        span(data-i18n="TODO") edit
    td.small
      div
        i Latest completed:
      div
        +longLevelName(student.latestCompleteLevel)
    td
      div Dots go here (and Enroll Student button)
    td
      span.view-class-arrow.glyphicon.glyphicon-chevron-right
    
mixin progressTab
  #progress-tab.tab-pane
