extends /templates/base-flat

block page_nav
  include ./teacher-dashboard-nav.jade

block content
  if me.isAnonymous()
    .access-restricted.container.text-center
      h5(data-i18n='TODO')
        | Access Restricted
      p(data-i18n='TODO')
        | A teacher account is required to access this content.
      .login-button.btn.btn-lg.btn-primary(data-i18n='TODO')
        | Login
      .teacher-signup-button.btn.btn-lg.btn-primary-alt(data-i18n='TODO')
        | Create Teacher Account
    
    .teacher-account-blurb.text-center.col-xs-6.col-xs-offset-3
      h5(data-i18n='TODO')
        | What's a Teacher Account?
      p(data-i18n='TODO')
        | A CodeCombat Teacher account allows you to set up classrooms, monitor
        | students’ progress as they work through courses, manage enrollments
        | and access resources to aid in your curriculum-building.
      

  else
    .container
      h3(data-i18n="TODO")
        | Current Classes
    
    .classes.container
      // Loop each class
      each classroom in view.classrooms.models
        unless classroom.get('archived')
          +classRow(classroom)
    
    +createClassButton
    
    .container
      h3(data-i18n="TODO")
        | Archived Classes
      h4(data-i18n="TODO")
        | Classes can be archived for future reference. Unarchive a class to view it in the Current Classes list again.

    .classes.container
      each classroom in view.classrooms.models
        if classroom.get('archived')
          +archivedClassRow(classroom)
        
mixin classRow(classroom)
  .class.row
    .col-xs-6
      .text-h4.semibold
        = classroom.get('name')
      .language.small
        span(data-i18n="TODO")
          | Language:
        &nbsp;
        span.language-name
          = classroom.capitalLanguage
      .student-count.small
        span(data-i18n="TODO")
          | Students:
        &nbsp;
        span
          = classroom.get('members').length
      .class-links
        a.text-h6(data-i18n="TODO" href=("/teachers/classes/" + classroom.id))
          | view class
        a.edit-classroom.text-h6(data-i18n="TODO" data-classroom-id=classroom.id)
          | edit class settings
        a.archive-classroom.text-h6(data-i18n="TODO" data-classroom-id=classroom.id)
          | archive class
        if classroom.get('archived')
          span
            | (archived)
    .progress-col.col-xs-5
      if classroom.get('members').length == 0
        +addStudentsButton(classroom)
      else
        each course, index in view.courses.models
          +progressDot(classroom, course, index)
    .view-class-arrow.col-xs-1
      a.view-class-arrow-inner.glyphicon.glyphicon-chevron-right(data-classroom-id=classroom.id, href=("/teachers/classes/" + classroom.id))


mixin addStudentsButton(classroom)
  .add-students
    .text-center
      div.small-details
        | This class has no students yet.
      a.add-students-button.btn.btn-lg.btn-primary(data-classroom-id=classroom.id)
        | Add Students
        
mixin createClassButton
  .create-class
    .text-center
      a.create-classroom-button.btn.btn-lg.btn-primary
        | Create a New Class

mixin progressDot(classroom, course, index)
  //- TODO: Give classes abbreviations instead of using index?
  //- TODO: inefficient. Cache this in the view?
  - courseInstance = view.courseInstances.findWhere({ courseID: course.id, classroomID: classroom.id })
  - var total = classroom.get('members').length
  - var complete = 0;
  - var dotClass = '';
  if courseInstance
    - complete = courseInstance.numCompleted
    - dotClass = complete === total ? 'forest' : 'gold';
  - var progressDotContext = {total: total, complete: complete}; 
  .progress-dot(class=dotClass, data-title=view.progressDotTemplate(progressDotContext))
    +progressDotLabel(index)

mixin progressDotLabel(index)
  .dot-label
    .text-h6
      | CS
      span
        = index + 1

mixin archivedClassRow(classroom)
  .class.row
    span
      = classroom.get('name')
    .class-links
      a.unarchive-classroom.text-h6(data-i18n="TODO" data-classroom-id=classroom.id)
        | unarchive class
