extends /templates/base-flat

block page_nav
  include ./teacher-dashboard-nav.jade

block content
  .container
    h3(data-i18n="TODO")
      | Current Classes
  
  .classes.container
    // Loop each class
    each classroom in view.classrooms.models
      unless classroom.get('archived')
        +classRow(classroom)
  
  +createClassButton
  
  .container
    h3(data-i18n="TODO")
      | Archived Classes
    h4(data-i18n="TODO")
      | Classes can be archived for future reference. Unarchive a class to view it in the Current Classes list again.

  .classes.container
    each classroom in view.classrooms.models
      if classroom.get('archived')
        +archivedClassRow(classroom)
      
mixin classRow(classroom)
  .class.row
    .col-xs-6
      .text-h4.semibold
        = classroom.get('name')
      .language.small
        span(data-i18n="TODO")
          | Language:
        &nbsp;
        span.language-name
          = classroom.capitalLanguage
      .student-count.small
        span(data-i18n="TODO")
          | Students:
        &nbsp;
        span
          = classroom.get('members').length
      .class-links
        a.text-h6(data-i18n="TODO" href=("/teachers/classes/" + classroom.id))
          | view class
        a.edit-classroom.text-h6(data-i18n="TODO" data-classroom-id=classroom.id)
          | edit class settings
        a.archive-classroom.text-h6(data-i18n="TODO" data-classroom-id=classroom.id)
          | archive class
        if classroom.get('archived')
          span
            | (archived)
    .progress-col.col-xs-5
      if classroom.get('members').length == 0
        +addStudentsButton(classroom)
      else
        each course, index in view.courses.models
          +progressDot(classroom, course, index)
    .view-class-arrow.col-xs-1
      a.view-class-arrow-inner.glyphicon.glyphicon-chevron-right(data-classroom-id=classroom.id, href=("/teachers/classes/" + classroom.id))


mixin addStudentsButton(classroom)
  .add-students
    .text-center
      div.small-details
        | This class has no students yet.
      a.add-students-button.btn.btn-lg.btn-primary(data-classroom-id=classroom.id)
        | Add Students
        
mixin createClassButton
  .create-class
    .text-center
      a.create-classroom-button.btn.btn-lg.btn-primary
        | Create a New Class

mixin progressDot(classroom, course, index)
  //- TODO: Give classes abbreviations instead of using index?
  //- TODO: inefficient. Cache this in the view?
  - courseInstance = view.courseInstances.getByCourseAndClassroom(course, classroom)
  - var total = classroom.get('members').length
  - var complete = 0;
  - var dotClass = '';
  if courseInstance
    - complete = courseInstance.numCompleted
    - dotClass = complete === total ? 'forest' : 'gold';
  - var progressDotContext = {total: total, complete: complete}; 
  .progress-dot(class=dotClass, data-title=view.progressDotTemplate(progressDotContext))
    +progressDotLabel(index)

mixin progressDotLabel(index)
  .dot-label
    .text-h6
      | CS
      span
        = index + 1

mixin progressDotHoverInfo(total, complete)
  - var percentage = complete/total * 100
  - var className = (total > complete ? 'navy' : (total > 0 ? 'forest' : ''))
  .hover-info
    .hover-inside.text-center(class=className)
      .fraction-students.small-details
        = complete
        | /
        = total
        span(data-i18n="TODO")
          | &nbsp;Students
      .percent-students.small-details
        = percentage
        | %
        span(data-i18n="TODO")
          | &nbsp;Complete

mixin progressDotHoverInfoNoProgress(total, complete)
  .hover-info
    .hover-inside.text-center
      span.small-details(data-i18n="TODO")
        | No Progress
        
mixin archivedClassRow(classroom)
  .class.row
    span
      = classroom.get('name')
    .class-links
      a.unarchive-classroom.text-h6(data-i18n="TODO" data-classroom-id=classroom.id)
        | unarchive class
