extends /templates/common/table

block tableResultsHeader
  tr
    th(colspan=4)
      span(data-i18n="general.results")
        | Results
      span
        |: #{documents.length}
  
block tableHeader
  tr
    th#portrait-col
    th(data-i18n="general.name") Name
    th(data-i18n="general.description") Description
    th(data-i18n="general.version") Version
    th(data-i18n="editor.tasks") Tasks
  
block tableBody
  for thang in documents 
    tr
      td
        - var name = thang.get('name');
        img(title="Add #{name}", src=thang.getPortraitURL(), alt="").portrait
      td(title=name).small-name-row
        a(href="/editor/thang/#{thang.get('slug') || thang.id}")
          | #{name}
      - var description = thang.get('description');
      td(title=description).body-row
        | #{description}
      - var version = thang.get('version')
      td #{version.major}.#{version.minor}
      - var tasks = thang.get('tasks');
      if tasks && tasks.length
        - var completed = tasks.filter(function(t) { return t.complete; });
        td #{completed.length}/#{tasks.length}
      else
        td
