table.table
  tr
    th(colspan=3)
      span(data-i18n="general.results")
        | Results
      span
        |: #{documents.length}
  
  tr
    th#portrait-col
    th(data-i18n="general.name") Name
    th(data-i18n="general.description") Description
    th(data-i18n="general.version") Version
  
  for thang in documents 
    tr
      td
        img(title="Add " + thang.get('name'), src=thang.getPortraitURL(), alt="").portrait
      td
        a(href="/editor/thang/#{thang.get('slug') || thang.id}")
          | #{thang.get('name')}
      td.body-row #{thang.get('description')}
      - var version = thang.get('version')
      td #{version.major}.#{version.minor}