extends /templates/base
block content

  div#level-column
    h1= level.get('name')
    
    //if !me.get('anonymous')
    //  a(href="/play/level/brawlwood-tutorial").intro-button.btn.btn-primary.btn-lg Play the Tutorial

  if me.get('anonymous')
    div#must-log-in
      p
        strong Please log in first before playing a ladder game.
      button.btn.btn-primary(data-toggle="coco-modal", data-target="modal/login", data-i18n="login.log_in") Log In
      button.btn.btn-primary(data-toggle="coco-modal", data-target="modal/signup", data-i18n="login.sign_up") Create Account


  else
    div#columns.row
      div.column.col-md-2
      for team in teams
        div.column.col-md-4
          a(href="/play/ladder/#{levelID}/team/#{team.id}", style="background-color: #{team.primaryColor}").play-button.btn.btn-danger.btn-block.btn-lg
            span Play As 
            span= team.name
      div.column.col-md-2
    
    hr
      
    ul.nav.nav-pills
      li.active
        a(href="#ladder", data-toggle="tab") Ladder
      li
        a(href="#my-matches", data-toggle="tab") My Matches
      li
        a(href="#simulate", data-toggle="tab") Simulate

    div.tab-content
      .tab-pane.active.well#ladder
        #ladder-tab-view
      .tab-pane.well#my-matches
        #my-matches-tab-view
      .tab-pane.well#simulate
        p(id="simulation-status-text")
          if simulationStatus
            | #{simulationStatus}
          else
            | By simulating games you can get your game ranked faster!
        p
          button.btn.btn-warning.btn-lg.highlight#simulate-button() Simulate Games!
        if me.isAdmin()
          p
            button.btn.btn-danger.btn-lg.highlight#simulate-all-button() RESET AND SIMULATE GAMES