extends /templates/base
block content

  div#level-column
    h3= level.get('name')
    div#level-description
      !{description}
  
  hr
  div#columns.row
    for team in teams
      div.column.col-md-6
        a(href="/play/ladder/#{levelID}/team/#{team.id}", style="background-color: #{team.primaryColor}").play-button.btn.btn-danger.btn-block.btn-lg
          span Play 
          span= team.name

        table.table.table-bordered.table-condensed
          tr
            th(colspan=3, style="color: #{team.primaryColor}")
              span= team.name
              span  Leaderboard

          for session in team.leaderboard.topPlayers.models
            - var myRow = session.get('creator') == me.id
            tr(class=myRow ? "success" : "")
              td.score-cell= session.get('totalScore').toFixed(2)
              td= session.get('creatorName')
              td
                if(!myRow)
                  a(href="/play/level/#{level.get('slug') || level.id}/?team=#{team.otherTeam}&opponent=#{session.id}") COMPETE

  if me.isAdmin()
    hr
    button.btn.btn-warning.btn-lg.highlight#simulate-button(style="margin-bottom:10px") Simulate all games