extends /templates/base
block content

  div#level-column
    h3= level.get('name')
    div#level-description
      !{description}
  
  div#leaderboard-column
    ul.nav.nav-pills
      for team in teams
        li
          a(href="#team-#{team.id}", data-toggle="tab")= team.name
        
    .tab-content
      for team in teams
        .tab-pane(id="team-#{team.id}")
          .leaderboard
            h4 Leaderboard
            table.table
              for session in team.leaderboard.topPlayers.models
                tr
                  td.score-cell= parseInt(session.get('totalScore'))
                  td= session.get('creatorName')

          //.challengers
          //  h4 Challengers
          //  
          //  if team.easyChallenger
          //    div.challenger-select
          //      | Easy challenger:
          //      button
          //        a(href=link+'?team='+team.id+'&opponent='+team.easyChallenger.id)
          //  TODO: finish once the scoring system is finished