extends /templates/base
block content

  div#level-column
    if levelDescription
      div!= levelDescription
    else
      h1= level.get('name')

  div#columns.row
    div.column.col-md-2
    for team in teams
      div.column.col-md-4
        a(style="background-color: #{team.primaryColor}", data-team=team.id).play-button.btn.btn-danger.btn-block.btn-lg
          span(data-i18n="play.play_as") Play As
          |  
          span= team.name
    div.column.col-md-2
  
  .spectate-button-container
    a(href="/play/spectate/#{level.get('slug')}").spectate-button.btn.btn-primary.center
      span(data-i18n="play.spectate") Spectate

  hr
    
  ul.nav.nav-pills
    li.active
      a(href="#ladder", data-toggle="tab", data-i18n="general.ladder") Ladder
    if !me.get('anonymous')
      li
        a(href="#my-matches", data-toggle="tab", data-i18n="ladder.my_matches") My Matches
      li
        a(href="#simulate", data-toggle="tab", data-i18n="ladder.simulate") Simulate

  div.tab-content
    .tab-pane.active.well#ladder
      #ladder-tab-view
    .tab-pane.well#my-matches
      #my-matches-tab-view
    .tab-pane.well#simulate
      #simulate-tab-view
