extends /templates/base
block content

  div#level-column
    h3= level.get('name')
    div#level-description
      !{description}
  
    a(href="something").intro-button.btn.btn-primary.btn-lg Watch the Video
    
    a(href="somethingelse").intro-button.btn.btn-primary.btn-lg Play the Tutorial

  hr
  div#columns.row
    for team in teams
      div.column.col-md-6
        a(href="/play/ladder/#{levelID}/team/#{team.id}", style="background-color: #{team.primaryColor}").play-button.btn.btn-danger.btn-block.btn-lg
          span Play 
          span= team.name

        table.table.table-bordered.table-condensed.table-hover
          tr
            th(colspan=3, style="color: #{team.primaryColor}")
              span= team.name
              span  Leaderboard
          tr
            th Score
            th Name

          for session in team.leaderboard.topPlayers.models
            - var myRow = session.get('creator') == me.id
            tr(class=myRow ? "success" : "")
              td.score-cell= session.get('totalScore').toFixed(2)
              td= session.get('creatorName') || "Anonymous"
              td
                if(!myRow)
                  a(href="/play/level/#{level.get('slug') || level.id}/?team=#{team.otherTeam}&opponent=#{session.id}") Compete!
                else
                  a(href="/play/ladder/#{levelID}/team/#{team.id}") View details

  unless me.attributes.anonymous
    hr
    button.btn.btn-warning.btn-lg.highlight#simulate-button(style="margin-bottom:10px;") Simulate Games!
    p(id="simulationStatusText", style="display:inline; margin-left:10px;")
      if simulationStatus
        | #{simulationStatus}
      else
        | By simulating games you can get your game ranked faster!
  if me.isAdmin()
    button.btn.btn-danger.btn-lg.highlight#simulate-all-button(style="margin-bottom:10px; float: right;") RESET AND SIMULATE GAMES