extends /templates/base

block content
  
  if me.isAnonymous()
    h3 Login is required
  else
    .tournament-container
      h1
        | Tournaments
      each tournament in view.tournaments
        .level-row
          a(href="/play/ladder/#{tournament.slug}/clan/#{view.clan}/tournament/#{tournament._id}", title=tournament.description)
            span.level
              img.level-image(src="/images/pages/play/ladder/multiplayer_notext.jpg").img-rounded
              span.dynamic-level-name= tournament.name
          if tournament.editing
            .form.editable-tournament-form
              label.tournament-description
                span description
                input.form-control.input-description(type='text', style='width:300px;', value=view.editableTournament.description, name='description')
              label.tournament-startDate
                span startDate
              input.form-control.input-startDate(type='datetime-local', style='width:300px;', value=view.formatTime(view.editableTournament.startDate), name='startDate')
              label.tournament-endDate
                span endDate
              input.form-control.input-endDate(type='datetime-local', style='width:300px;', value=view.formatTime(view.editableTournament.endDate), name='endDate')
              input.form-control.input-submit(type='button', value='Submit')
  if me.isAdmin()
    each campaign in view.campaigns
      .campaign-container
        h1
          a(href="/play/#{campaign.levels[0].levelPath || 'level'}/#{campaign.levels[0].id}", data-i18n="play.campaign_#{campaign.id}")= campaign.name
        p.campaign-description(data-i18n="[html]play.campaign_#{campaign.id}_description")!= campaign.description
        each level in campaign.levels
          .level-row
            a(href=level.disabled ? "/play/ladder" : "/play/ladder/#{level.id}", disabled=level.disabled, class=view.levelStatusMap[level.id] || '', title=level.description)
              span.level
                if level.image
                  img.level-image(src="#{level.image}", alt="#{level.name}").img-rounded
                else
                  img.level-image(src="/images/pages/play/ladder/multiplayer_notext.jpg", alt="#{level.name}").img-rounded
                  span.dynamic-level-name= level.name + (level.disabled ? " (Coming soon!)" : "")
                span.overlay-text.level-difficulty
                  span(data-i18n="play.level_difficulty") Difficulty: 
                  each i in Array(level.difficulty)
                    | ★
            span.create-text-container
              a.overlay-text.create-button(data-level=level, data-i18n="ladder.create_tournament")
