ul.contribute_class.affix.nav.nav-list.nav-pills#contribute-nav
  li
    h3(data-i18n="contribute.character_classes_title") Character Classes
  li
    a(href=navPrefix + "#archmage")
      span(data-i18n="classes.archmage_title") Archmage
      span  
      span(data-i18n="classes.archmage_title_description") (Coder)
  li
    a(href=navPrefix + "#artisan")
      span(data-i18n="classes.artisan_title") Artisan
      span  
      span(data-i18n="classes.artisan_title_description") (Level Builder)
  li
    a(href=navPrefix + "#adventurer")
      span(data-i18n="classes.adventurer_title") Adventurer
      span  
      span(data-i18n="classes.adventurer_title_description") (Level Playtester)
  li
    a(href=navPrefix + "#scribe")
      span(data-i18n="classes.scribe_title") Scribe
      span  
      span(data-i18n="classes.scribe_title_description") (Article Editor)
  li 
    a(href=navPrefix + "#diplomat")
      span(data-i18n="classes.diplomat_title") Diplomat
      span  
      span(data-i18n="classes.diplomat_title_description") (Translator)
  li
    a(href=navPrefix + "#ambassador")
      span(data-i18n="classes.ambassador_title") Ambassador
      span  
      span(data-i18n="classes.ambassador_title_description") (Support)