ul.contribute_class.affix.nav.nav-list.nav-pills#contribute-nav
  li
    h3 Character Classes
  li
    a(href=navPrefix + "#archmage") Archmage (Coder)
  li
    a(href=navPrefix + "#artisan") Artisan (Level Builder)
  li
    a(href=navPrefix + "#adventurer") Adventurer (Level Playtester)
  li
    a(href=navPrefix + "#scribe") Scribe (Article Editor)
  li 
    a(href=navPrefix + "#diplomat") Diplomat (Translator)
  li
    a(href=navPrefix + "#ambassador") Ambassador (Support)
  li
    a(href=navPrefix + "#counselor") Counselor (Expert/Teacher)