#equipped
  .item-slot-row
    for slot in ['left-ring', 'neck', 'eyes', 'head', 'wrists', 'right-ring']
      .item-slot(data-slot=slot)
        .placeholder
        .item-container
          if equipment[slot]
            .replace-me(data-item-id=equipment[slot].get('original'))

  .item-slot-column.pull-left
    for slot in ['minion', 'torso', 'gloves', 'left-hand']
      .item-slot(data-slot=slot)
        .placeholder
        .item-container
          if equipment[slot]
            .replace-me(data-item-id=equipment[slot].get('original'))

  .hero-container
    canvas.equipped-hero-canvas
    #selected-items
      #selected-equipped-item.well
        .item-view-stub
      #selected-available-item.well
        .item-view-stub
      button#swap-button.btn.btn-danger
        span.glyphicon.glyphicon-transfer

  .item-slot-column.pull-right
    for slot in ['pet', 'waist', 'feet', 'right-hand']
      .item-slot(data-slot=slot)
        .placeholder
        .item-container
          if equipment[slot]
            .replace-me(data-item-id=equipment[slot].get('original'))

  hr.slot-row-separator

  .item-slot-row.row-4
    for slot in ['programming-book', 'spellbook', 'misc-0', 'misc-1']
      .item-slot(data-slot=slot)
        .placeholder
        .item-container
          if equipment[slot]
            .replace-me(data-item-id=equipment[slot].get('original'))

#available-equipment
  h4#stash-description
  for item in items
    .list-group-item(class=item.classes, data-item-id=item.get('original'))
      
