.modal-dialog
  .modal-content
    img(src="/images/pages/play/modal/inventory-background.png", draggable="false")#play-items-modal-narrow-bg

    div#gems-count-container
      span#gems-count.big-font= gems

    div#close-modal
      span.glyphicon.glyphicon-remove

    #equipped
      if selectedHero && selectedHero.get('featureImage')
        img(src="/file/"+selectedHero.get('featureImage'))#hero-image

      for slot in ['head', 'eyes', 'neck', 'torso', 'gloves', 'wrists', 'left-hand', 'right-hand', 'waist', 'feet', 'left-ring', 'right-ring', 'minion', 'flag', 'pet', 'programming-book', 'misc-0', 'misc-1']
        .item-slot(data-slot=slot)
          .placeholder
          if equipment[slot]
            img.item(src=equipment[slot].getPortraitURL(), data-item-id=equipment[slot].id)

    #unequipped
      .nano
        .nano-content
          if itemGroups
            if itemGroups.availableItems.models.length
              h4#available-description(data-i18n="inventory.available_item")
              for item in itemGroups.availableItems.models
                .item.available(class=item.classes, data-item-id=item.id)
                  img(src=item.getPortraitURL())
                  button.btn.equip-item(data-i18n="inventory.equip")
              .clearfix
            
            #double-click-hint.alert.alert-info
              span.glyphicon.glyphicon-info-sign.spr
              span(data-i18n="inventory.should_equip")
            
            if itemGroups.restrictedItems.models.length
              h4#restricted-description(data-i18n="inventory.restricted_title")
              for item in itemGroups.restrictedItems.models
                .item(class=item.classes, data-item-id=item.id)
                  img(src=item.getPortraitURL(), draggable="false")
              .clearfix
            
            if itemGroups.lockedItems.models.length
              h4#locked-description(data-i18n="play.locked")
              for item in itemGroups.lockedItems.models
                .item(class=item.classes, data-item-id=item.id)
                  img(src=item.getPortraitURL(), draggable="false")
              .clearfix

    #item-details-view
    #item-details-extra
      button#equip-item-viewed.btn.secret(data-i18n="inventory.equip")
      button#unequip-item-viewed.btn.secret(data-i18n="inventory.unequip")
      .alert.alert-danger#restricted-item-viewed.secret(data-i18n="inventory.restricted")
    
    button#choose-hero-button.btn.btn-lg.btn-primary.choose-inventory-active(data-i18n="play.change_hero") Change Hero
    button#play-level-button.btn.btn-lg.btn-success.choose-inventory-active(data-i18n="common.play") Play
