#equipped
  .item-slot-row
    for slot in ['left-ring', 'neck', 'eyes', 'head', 'wrists', 'right-ring']
      .item-slot(data-slot=slot)
        .placeholder
        .item-container
          if equipment[slot]
            .replace-me(data-item-id=equipment[slot].get('original'))

  .item-slot-column.pull-left
    // TODO: add in 'misc-0' again somehow? Used to be where 'flag' is now.
    for slot in ['minion', 'torso', 'gloves', 'left-hand', 'flag']
      .item-slot(data-slot=slot)
        .placeholder
        .item-container
          if equipment[slot]
            .replace-me(data-item-id=equipment[slot].get('original'))

  .hero-container
    canvas.equipped-hero-canvas
    .hero-feature-image
      img
    #selected-items
      #selected-equipped-item.well
        h3(data-i18n="inventory.equipped") Equipped
        .item-view-stub
      #selected-available-item.well
        h3(data-i18n="inventory.equipped") Available
        .item-view-stub

  .item-slot-column.pull-right
    for slot in ['pet', 'waist', 'feet', 'right-hand', 'programming-book']
      .item-slot(data-slot=slot)
        .placeholder
        .item-container
          if equipment[slot]
            .replace-me(data-item-id=equipment[slot].get('original'))

  // TODO: work in misc 1 again
  //hr.slot-row-separator
  //
  //.item-slot-row.row-4
  //  for slot in ['misc-1']
  //    .item-slot(data-slot=slot)
  //      .placeholder
  //      .item-container
  //        if equipment[slot]
  //          .replace-me(data-item-id=equipment[slot].get('original'))

#available-equipment
  h4#unlocked-description
  ul.list-group
    for item in unlockedItems
      li.list-group-item(class=item.classes, data-item-id=item.get('original'))
  h4#locked-description
  ul.list-group
    for item in lockedItems
      li.list-group-item(class=item.classes, data-item-id=item.get('original'), style="display: none")
      
