div#equipped
  h3 Equipped
  - for (var i=0; i < slots.length; i += 3) {
    div
      - for (var j=i; j < slots.length && j < i + 3; j++) {
        - var slot = slots[j];
        div.panel.panel-default.item-slot(data-slot=slot)
          .panel-heading
            .panel-title.slot-name= slot
          .panel-body.slot-item
            if equipment[slot]
              - var item = equipment[slot]
              .replace-me(data-item-id=item.id)
      - }
      .clearfix
  - }
    
div#available-equipment
  h3 Stash
  for item in items
    .list-group-item(class=item.classes, data-item-id=item.id)
      
div#selected-items
  #selected-equipped-item.well
    .item-view-stub
  #selected-available-item.well
    .item-view-stub
  button#swap-button.btn.btn-danger
    span.glyphicon.glyphicon-transfer
