img(src=item.getPortraitURL())
div.item-info
  if includes.name
    h4= item.get('name')
  if includes.stats || (includes.props && props.length)
    ul.list-unstyled
      if includes.stats
        for stat, prop in stats
          if stat.display == 'true'
            li= stat.name
          else
            li #{stat.name}: #{stat.display}
      if includes.props && props.length
        li Grants:
          for prop in props
            |  
            code= prop

.clearfix

 