extends /templates/base-flat.jade

block page_nav
  include ../courses/teacher-dashboard-nav.jade

block content
  .container

    .content.rtl-allowed
      //- if me.attributes.hourOfCode && me.isAnonymous()
      //-   #hour-of-code
      //-     h3
      //-       span(data-i18n="teacher.hoc_welcome")
      //-       | !
      //-     p
      //-       span(data-i18n="teacher.hoc_intro")
      //-       | :
      //-     ol.small
      //-       li
      //-         strong.spr(data-i18n="teacher.hoc_self_led")
      //-         | -
      //-         span.spl.spr(data-i18n="teacher.hoc_self_led_desc")
      //-         | -
      //-         a(href="/play/game-dev-hoc?hour_of_code=true")
      //-           span(data-i18n="teacher.hoc_game_dev")
      //-         span.spl.spr(data-i18n="teacher.hoc_and")
      //-         a(href="/play?hour_of_code=true")
      //-           span(data-i18n="teacher.hoc_programming")
      //-         | .
      //-       li
      //-         strong.spr(data-i18n="teacher.hoc_teacher_led")
      //-         | -
      //-         span.spr(data-i18n="teacher.hoc_teacher_led_desc1")
      //-         a(href="/teachers/resources/cs1")
      //-           span(data-i18n="teacher.hoc_teacher_led_link")
      //-         span.spl(data-i18n="teacher.hoc_teacher_led_desc2")
      //-         | .
      //-       li
      //-         strong.spr(data-i18n="teacher.hoc_group")
      //-         | -
      //-         span.spr(data-i18n="teacher.hoc_group_desc_1")
      //-         a(href="/teachers/resources/getting-started")
      //-           span(data-i18n="teacher.hoc_group_link")
      //-         span.spl(data-i18n="teacher.hoc_group_desc_2")
      //-         | .
      //-     p.small
      //-       span.spr(data-i18n="teacher.hoc_additional_desc1")
      //-       a(href="/teachers/resources/")
      //-         span(data-i18n="teacher.resource_hub")
      //-       span .
      //-       span(data-i18n="teacher.hoc_additional_desc2")
      //-       span.spr ?
      //-       a(href="mailto:schools@codecombat.com")
      //-         span(data-i18n="teacher.hoc_additional_contact")
      //-       | .

      h1(data-i18n="teacher.resource_hub")
      h4(data-i18n="teacher.getting_started")
      ul(dir="auto")
        li
          strong
            a.resource-link(href=view.resourceURL('faq'))
              span(data-i18n="teacher.educator_faq")
          p
            span(data-i18n="teacher.educator_faq_desc")
        li
          strong
            a.resource-link(href=view.resourceURL('getting-started'))
              span(data-i18n="teacher.teacher_getting_started")
          p
            span(data-i18n="teacher.teacher_getting_started_desc")
        li
          strong
            a.resource-link(data-i18n="teacher.ozaria_dashboard_guide" href=view.resourceURL('dashboardGuide'))
          p
            span(data-i18n="teacher.dashboard_guide_desc")


      h4(data-i18n="teacher.chapter1")
      ul(dir="auto")
        li
          strong
            a.resource-link(data-i18n="teacher.unit_overview" href=view.resourceURL('ch1UnitOverview'))
          p
            span(data-i18n="teacher.chapter1_unit_overview_desc")
        li
          strong
            a.resource-link(data-i18n="teacher.lesson_plan" href=view.resourceURL('ch1LessonPlan'))
          p
            span(data-i18n="teacher.chapter1_lesson_plan_desc")
        li
          strong
            a.resource-link(data-i18n="teacher.capstone_rubric" href=view.resourceURL('ch1_Rubric'))
          p
            span(data-i18n="teacher.chapter1_capstone_rubric_desc")

      h4(data-i18n="teacher.chapter2")
      ul(dir="auto")
        li
          strong
            span(data-i18n="teacher.module1")
            span(data-i18n="teacher.algorithms_and_syntax")
          ul
            li
              a.resource-link(data-i18n="teacher.module_overview" href=view.resourceURL('chapter2module1overview'))
            li
              a.resource-link(data-i18n="teacher.lesson_plan" href=view.resourceURL('chapter2module1lp'))
        li
          strong
            span(data-i18n="teacher.module2")
            span(data-i18n="teacher.debugging")
          ul
            li
              a.resource-link(data-i18n="teacher.module_overview" href=view.resourceURL('chapter2module2overview'))
            li
              a.resource-link(data-i18n="teacher.lesson_plan" href=view.resourceURL('chapter2module2lp'))
        li
          span
            strong
              span(data-i18n="teacher.module3")
              span.spr(data-i18n="teacher.variables")
          ul
             li
               a.resource-link(data-i18n="teacher.module_overview" href=view.resourceURL('chapter2module3overview'))
             li
               a.resource-link(data-i18n="teacher.lesson_plan" href=view.resourceURL('chapter2module3lp'))
        li
          span
            strong
              span(data-i18n="teacher.module4")
              span.spr(data-i18n="teacher.conditionals")
          ul
            li
              a.resource-link(data-i18n="teacher.module_overview" href=view.resourceURL('chapter2module4overview'))
            li
              a.resource-link(data-i18n="teacher.lesson_plan" href=view.resourceURL('chapter2module4lp'))
        li
          span
            strong
              span(data-i18n="teacher.module5")
              span.spr(data-i18n="teacher.capstone_intro")
          ul
            li
              a.resource-link(data-i18n="teacher.module_overview" href=view.resourceURL('chapter2module5overview'))
            li
              a.resource-link(data-i18n="teacher.lesson_plan" href=view.resourceURL('chapter2module5lp'))
        li
          span
            strong
              span(data-i18n="teacher.module6")
              span.spr(data-i18n="teacher.capstone_project")
          ul
            li
              a.resource-link(data-i18n="teacher.module_overview" href=view.resourceURL('chapter2module6overview'))
            li
              a.resource-link(data-i18n="teacher.lesson_plan" href=view.resourceURL('chapter2module6lp'))
            li
              a.resource-link(data-i18n="teacher.capstone_rubric" href=view.resourceURL('chapter2rubric'))

      h4(data-i18n="teacher.chapter3")
      ul(dir="auto")
        li
          strong
            span(data-i18n="teacher.module1")
            span(data-i18n="teacher.review")
        ul
          li
            a.resource-link(data-i18n="teacher.module_overview" href="/teachers/resources/chapter3module1overview")
          li
            a.resource-link(data-i18n="teacher.lesson_plan" href="/teachers/resources/chapter3module1lp")

        li
          strong
            span(data-i18n="teacher.module2")
            span(data-i18n="teacher.for_loops")
        ul
          li
            a.resource-link(data-i18n="teacher.module_overview" href="/teachers/resources/chapter3module2overview")
          li
            a.resource-link(data-i18n="teacher.lesson_plan" href="/teachers/resources/chapter3module2lp")

        li
          strong
            span(data-i18n="teacher.module3")
            span(data-i18n="concepts.nesting")
        ul
          li
            a.resource-link(data-i18n="teacher.module_overview" href="/teachers/resources/chapter3module3overview")
          li
            a.resource-link(data-i18n="teacher.lesson_plan" href="/teachers/resources/chapter3module3lp")

        li
          strong
            span(data-i18n="teacher.module4")
            span(data-i18n="courses.while_loops")
        ul
          li
            a.resource-link(data-i18n="teacher.module_overview" href="/teachers/resources/chapter3module4overview")
          li
            a.resource-link(data-i18n="teacher.lesson_plan" href="/teachers/resources/chapter3module4lp")

        li
          strong
            span(data-i18n="teacher.module5")
            span(data-i18n="teacher.capstone_project")
        ul
          li
            a.resource-link(data-i18n="teacher.lesson_plan" href="https://docs.google.com/document/d/1xuFUT_J4TQExZSe8hNqtk-iKGFQt5iXrzmBwd0gBk_k/edit?usp=sharing")
          li
            a.resource-link(data-i18n="teacher.capstone_rubric" href="https://docs.google.com/document/d/13nabjArnE3Ju9Em2tWaVyzIjjx-mgt_JclpjBl2z7rM/edit?usp=sharing")
          li
            a.resource-link(data-i18n="teacher.peer_feedback" href="https://docs.google.com/document/d/1itB0vY6WphjINQYJ9NHkILATcLLlYD3GDSg6FJg55OQ/edit?usp=sharing")
          li
            a.resource-link(data-i18n="teacher.presentation_checklist" href="https://docs.google.com/document/d/1cQuCwqxTsGsczKqk6obSqlgL92qMqxr2dKA77BXhdjk/edit?usp=sharing")
      //- h4
      //- | Header example
      //- ul
      //-   li
      //-     a(href="/teachers/resources/cs1")
      //-       span
      //-       | Span example
      //-     p
      //-     | Paragraph example
      //-
      //-
      //- h4.coming-soon
      //-   i
      //-   | Coming soon example
