extends /templates/base-flat

block page_nav
  include ../courses/teacher-dashboard-nav.jade
  .do-not-print.container
    span.backlink
      a(href='/teachers/courses')
        |&lt; Back to Course Guides
    .print
      .btn.btn-md.btn-navy
        a(href='javascript:window.print()')
          span.glyphicon.glyphicon-print &#160;
          |Print this guide

block content

  if !me.isTeacher() && !me.isAdmin()
    a(href="/")
      img#nav-logo(src="/images/pages/base/logo.png", title="CodeCombat - Learn how to code by playing a game", alt="CodeCombat")
    h2.text-center(data-i18n="teacher.teacher_account_required")
  else
    .text-center
      img(src="http://direct.codecombat.com/images/pages/base/logo.png")
      if view.course.loaded
        h1 #{i18n(view.course.attributes, 'name')}
        h3 #{view.prettyLanguage}
        i= i18n(view.course.attributes, 'description')
      br
      br

    if view.levels
      each level, index in view.levels.models
        h2.page-break-before ##{view.levelNumberMap[level.get('original')]}. #{i18n(level.attributes, 'name')}
        h3(data-i18n="teacher.level_overview_solutions")
        i #{i18n(level.attributes, 'description')}
        div
          h4.text-center(data-i18n="common.intro")
          if level.get('intro')
            p!= level.get('intro')
          else
            .text-center
              i(data-i18n="common.coming_soon")
          h4.text-center(data-i18n="common.default_code")
          if level.get('begin')
            pre
              code= level.get('begin')
          else
            .text-center
              i(data-i18n="common.coming_soon")
        div.overview
          br
          h4.text-center(data-i18n="common.overview")
          if level.get('guide')
            p!= level.get('guide')
          else
            .text-center
              i(data-i18n="common.coming_soon")
          h4.text-center
            span= level.get('name')
            span.spl(data-i18n="common.solution")
          if level.get('solution')
            pre
              code= level.get('solution')
          else
            .text-center
              i(data-i18n="common.coming_soon")
        hr
        br
