.modal-dialog.style-ozaria
  .modal-content
    h2(data-i18n="login.sign_into_ozaria")

    if me.useSocialSignOn()
      .auth-network-logins
        // GitHub login complete, but the button does not fit in with the design yet. Hidden for now
        //div.network-login
        //  btn.btn.btn-sm.github-login-button#github-login-button
        //    img(src="/images/pages/modal/auth/github_icon.png")
        //    |  GitHub
        //- TODO: Disabled until login works on ozaria.
        //- button#facebook-login-btn.btn.btn-primary.btn-lg(disabled=true)
        //-   span.sign-in-blurb#facebook-blurb(data-i18n="login.sign_in_with_facebook")
        a#gplus-login-btn(disabled=true)
          img(src="/images/ozaria/common/log-in-google-sso.svg" draggable="false")
          .gplus-login-wrapper
            .gplus-login-button
        a#clever-login-btn
          img(src="/images/pages/modal/auth/clever_sso_button@2x.png" draggable="false")
      .row.or-row
        .line
        p.or(data-i18n="login.or")
        .line
    .auth-form-content

      if showRequiredError
        .alert.alert-success
          span(data-i18n="signup.required")

      #unknown-error-alert.alert.alert-danger.hide(data-i18n="loading_error.unknown")

      form.form
        .form-group
          label.control-label(for="username-or-email-input")
            span(data-i18n="login.email_or_username")
          .input-border
            input#username-or-email-input.input-large.form-control(
              name="emailOrUsername"
              value=view.previousFormInputs.email
              dir="auto"
            )
        .form-group
          label.control-label(for="password-input")
            span(data-i18n="general.password")
          .input-border
            input#password-input.input-large.form-control(
              name="password"
              type="password"
              value=view.previousFormInputs.password
              dir="auto"
            )
          #recover-account-wrapper
            a#link-to-recover(
              data-toggle="coco-modal"
              data-target="core/RecoverModal"
              data-i18n="login.forgot_password"
            )
        input#login-btn.btn.btn-block.btn-success(
          value=translate("login.sign_in")
          type="submit"
        )

      .wait.secret
        h3(data-i18n="login.logging_in")

    .extra-pane
      a#switch-to-signup-btn(data-i18n="login.auth_sign_up")
      p(data-i18n="login.already_have_account1")
      p(data-i18n="login.already_have_account2")
