.modal-dialog
  .modal-content
    img#modal-background(src="/images/pages/play/modal/announcement_modal_bg.png")
    h1 !{$.i18n.t('play.choose_your_adventure')}
    #close-modal
      span.glyphicon.glyphicon-remove
    
    #junior-content
      .row
        .col-xs-6.junior-column
          img.hero-image.junior(src="/images/pages/junior/codecombat-junior.webp" alt="")
          h2 !{$.i18n.t("play.age_codecombat_junior")}
          p !{$.i18n.t("play.age_description_codecombat_junior")}
        .col-xs-6.codecombat-column
          img.hero-image.codecombat(src="/images/pages/junior/codecombat-home.webp" alt="")
          h2 !{$.i18n.t("play.age_codecombat")}
          p !{$.i18n.t("play.age_description_codecombat")}

      #button-container
        a(href="/play/junior").submit-button.btn.btn-lg.btn-illustrated.play-button.junior-button !{$.i18n.t("play.play_codecombat_junior")}
        | &nbsp;
        a(href="#").submit-button.btn.btn-lg.btn-illustrated.play-button !{$.i18n.t("play.play_codecombat")}
