if practice
  span.text-uppercase.small-details(data-i18n='teacher.practice')

mixin timePlayed()
  if session.get('playtime') > 0
    .small-details.nowrap
      span.spr(data-i18n='teacher.time_played')
      span= moment.duration({ seconds: session.get('playtime') }).humanize()

if completed
  .small-details.nowrap
    if levelNumber
      span= levelNumber
      span.spr . 
    span= levelName
  .small-details.nowrap
    span.spr(data-i18n='teacher.completed')
    - var dateCompleted = session.get('dateFirstCompleted') || session.get('created') || session.get('changed');
    if dateCompleted
      span= new Date(dateCompleted).toLocaleString()
    +timePlayed
  if !isProject && !isLadder
    .small-details.nowrap
      //- TODO: data-i18n doesn't work here
      strong Click to view student code
else if started
  .small-details.nowrap
    if levelNumber
      span= levelNumber
      span.spr . 
    span= levelName
  .small-details.nowrap
    span.spr(data-i18n='teacher.last_played')
    span= new Date(session.get('changed')).toLocaleString()
    +timePlayed
  if !isProject && !isLadder
    .small-details.nowrap
      strong Click to view student code
else
  .small-details.nowrap
    if levelNumber
      span= levelNumber
      span.spr . 
    span= levelName
  if practice
    span.small-details.nowrap(data-i18n='teacher.not_required')
  else
    span.small-details.nowrap(data-i18n='teacher.no_progress')
