extends /templates/base

block content

  .form-horizontal
    form#espionage-form.form-group
      label.control-label.col-sm-2(for="espionage-name-or-email") Espionage
      .col-sm-4
        input.form-control#espionage-name-or-email(placeholder="Email, username or id", type="text")
      .col-sm-1
        button.btn.btn-primary.btn-large#enter-espionage-mode 007
      label.control-label.col-sm-5(for="espionage-name-or-email")
        em you are currently #{me.get('name')} at #{me.get('email')}
        if view.amActually
          br
          em but you are actually #{view.amActually.get('name')} at #{view.amActually.get('email')}
          br
          button#stop-spying-btn.btn.btn-xs Stop Spying
    form#user-search-form.form-group
      label.control-label.col-sm-2(for="user-search") User Search
      .col-sm-4
        input.form-control#user-search(placeholder="Email, username, name, whatever", type="text")
      .col-sm-1
        button.btn.btn-primary.btn-large#user-search-button  Search
  #user-search-result


  h3 Admin Views

  h4 Entities

  ul
    li
      a(href="/admin/level-sessions") Active Instances
    li
      a(href="/admin/trial-requests") Trial Requests
    li
      a(href="/admin/user-code-problems") User Code Problems List
    li
      a(href="/admin/users") Users

  if me.isAdmin()
    h4 Analytics
    ul
      li
        a(href="/admin/classroom-levels") Classroom Levels
      li
        button.classroom-progress-csv.btn.btn-sm.btn-success Classroom Progress CSV
        input.classroom-progress-class-code(type=text value="<class code>")
      li
        a(href="/admin/analytics") Dashboard
      li
        a(href="/admin/school-counts") School Counts
      li
        a(href="/admin/analytics/subscriptions") Subscriptions
      li
        a(href="/admin/demo-requests") Teacher Demo Requests 

  h4 Other
  ul
    li
      a(href="/admin/base") Base (for debugging base.jade)
    li
      a(href="/admin/clas") CLAs
    li
      a(href="/admin/pending-patches") Patches
      
  if me.isAdmin()
    hr
    h3 Prepaids
    a.btn.btn-secondary#create-free-sub-btn Create Free Subscription Link
    span.spl.spr
      if view.freeSubLink
        input#free-sub-input(type="text", readonly, value="#{view.freeSubLink}")

    .form-inline
      .form-group
        label(for="users") Users
        input#users.form-control(name="users", type="number", min=1)
      .form-group
        label(for="months") Months
        input#months.form-control(name="months", type="number", min=1)
      a#terminal-create.btn.btn-default Create Terminal Subscription Code


  hr

  h3 Achievements
  p This is just some stuff for temporary achievement testing. Should be replaced by a demo system.

  input#increment-field(type="text")
  a.btn.btn-secondary#increment-button(href="#") Increment
