mixin accountLinks
  li
    a.account-dropdown-item(href="/user/#{me.getSlugOrID()}", data-i18n="nav.profile")
  li
    a.account-dropdown-item(href="/account/settings", data-i18n="play.settings")
  if me.isAdmin() || !(me.isTeacher() || me.isStudent() || me.freeOnly())
    li
      a.account-dropdown-item(href="/account/payments", data-i18n="account.payments")
  if me.isAdmin() || !(me.isTeacher() || me.isStudent() || me.freeOnly()) || me.hasSubscription()
    li
      a.account-dropdown-item(href="/account/subscription", data-i18n="account.subscription")
  if me.isAdmin()
    li
      a.account-dropdown-item(href="/admin", data-i18n="account_settings.admin")
  if serverSession && serverSession.amActually
    li
      a.account-dropdown-item#nav-stop-spying-button Stop Spying
  if !features.codePlay
    li
      a.account-dropdown-item#logout-button(data-i18n="login.log_out")

.style-flat
  block header
    nav#main-nav.navbar.navbar-default.navbar-fixed-top.text-center
      .container-fluid
        .row
          .col-md-12
            .navbar-header
              button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#navbar-collapse' aria-expanded='false')
                span.sr-only(data-i18n="nav.toggle_nav")
                span.icon-bar
                span.icon-bar
                span.icon-bar
              if me.useTarenaLogo()
                a.navbar-brand(href="http://kidtts.tmooc.cn/ttsPage/login.html")
                  img#logo-img.powered-by(src="/images/pages/base/logo.png")
                  img#tarena-logo(src="/images/pages/base/logo-tarena.png")
              else if serverConfig.codeNinjas
                a.navbar-brand(href="/home")
                  img#logo-img.powered-by(src="/images/pages/base/logo.png")
                  img.code-ninjas-logo(src="/images/pages/base/code-ninjas-logo-right.png")
              else
                a.navbar-brand(href="/home")
                  img#logo-img(src="/images/pages/base/logo.png")

            if !serverConfig.static
              #navbar-collapse.collapse.navbar-collapse
                .nav-spacer
                if !me.hideTopRightNav()
                  ul.nav.navbar-nav
                    if me.isAnonymous() && require('app/core/experiments').getRequestAQuoteGroup(me) === 'request-a-quote-header'
                      li
                        a.text-p(data-event-action="Header Request Quote CTA", data-i18n="new_home.request_quote", href="/teachers/quote")
                    li
                      if document.location.href.search('/about') >= 0
                        a.text-p.text-teal(href="/about", data-i18n="nav.about")
                      else
                        a.text-p(href="/about", data-i18n="nav.about")
                    if me.isStudent()
                      li
                        if document.location.href.search('/students') >= 0
                          a.text-p.text-teal(href="/students", data-i18n="nav.my_courses")
                        else
                          a.text-p(href="/students", data-i18n="nav.my_courses")
                    if me.isSchoolAdmin()
                        li
                          a.text-p(href="/school-administrator", data-i18n="nav.my_teachers")
                    if !me.isAnonymous() && me.isTeacher()
                      li
                        if document.location.href.search('/teachers/classes') >= 0
                          a.text-p.text-teal(href="/teachers/classes", data-i18n="nav.my_classrooms")
                        else
                          a.text-p(href="/teachers/classes", data-i18n="nav.my_classrooms")
                    if !me.isAnonymous() && !me.isStudent() && !me.isTeacher()
                      li
                        a.text-p(href="/play", data-i18n="common.play")
                      if me.showForumLink()
                        li
                          a.text-p(href=view.forumLink(), data-i18n="nav.forum")

                if !me.isAnonymous()
                  ul.nav.navbar-nav
                    if me.isTarena()
                      li
                        a.text-p#logout-button(data-i18n="login.log_out")
                    else
                      li.dropdown
                        a.dropdown-toggle.text-p(href="#", data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                          img.img-circle.img-circle-small.m-r-1(src=me.getPhotoURL() class=(me.isTeacher() ? 'border-navy' : ''))
                          span(data-i18n="nav.my_account")
                          span.caret
                        ul.dropdown-menu
                          li.user-dropdown-header.text-center.hidden-xs.hidden-sm
                            a(href="/user/#{me.getSlugOrID()}")
                              img.img-circle(src=me.getPhotoURL() class=(me.isTeacher() ? 'border-navy' : ''))
                              h5=me.broadName()
                              //- span.text-p= me.broadName()
                          +accountLinks

                ul.nav.navbar-nav
                  li.dropdown
                    a.dropdown-toggle.text-p(href="#", data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                      //- string replaced in RootView
                      span.language-dropdown-current Language
                      span.caret
                    ul(class="dropdown-menu language-dropdown" class=(!me.isAnonymous() ? "pull-right" : ""))

                if me.isAnonymous()
                  ul.nav.navbar-nav.text-p.login-buttons
                    li
                      a#create-account-link.signup-button(data-event-action="Header Sign Up CTA", data-i18n="signup.sign_up")
                    li
                      a#login-link.login-button(data-event-action="Header Login CTA", data-i18n="signup.login")


  block page_nav

  block outer_content
    #site-content-area
      block content
        p If this is showing, you dun goofed

  block footer
    if !me.hideFooter()
      .container-fluid
        #footer.small
          .container
            .row
              .col-lg-12
                .row
                  .col-lg-3
                    h3(data-i18n="nav.general")
                    ul.list-unstyled
                      li
                        a(href="/about", data-i18n="nav.about")
                      li
                        a(href="/about#careers", data-i18n="nav.careers")
                      if !me.isStudent()
                        li
                          a.contact-modal(tabindex=-1, data-i18n="nav.contact")
                      li
                        a(href="/parents", data-i18n="nav.parent")
                      li
                        a(href="http://blog.codecombat.com/", data-i18n="nav.blog")
                      if me.showChinaICPinfo()
                        li
                          a(href="http://beian.miit.gov.cn/") 京ICP备19012263号
                  .col-lg-3
                    if !me.isStudent()
                      h3(data-i18n="nav.educators")
                      ul.list-unstyled
                        li
                          - var faqURL = "/teachers/resources/faq";
                          - if (me.get('preferredLanguage') == 'nl-NL' || me.get('preferredLanguage') == 'nl-BE')
                          -     faqURL = "/teachers/resources/faq-nl-NL";
                          - if (me.get('preferredLanguage') == 'he')
                          -     faqURL = "/teachers/resources/faq-HE";
                          - if (me.get('preferredLanguage') == 'pt-BR' || me.get('preferredLanguage') == 'pt-PT')
                          -     faqURL = "/teachers/resources/faq-pt-BR";
                          - if (me.get('preferredLanguage') == 'zh-HANS' || me.get('preferredLanguage') == 'zh-HANT')
                          -     faqURL = "/teachers/resources/faq-zh-HANS";
                          a(href=faqURL, data-i18n="teacher.educator_faq")
                        li
                          a(href="/teachers/resources", data-i18n="nav.resource_hub")
                        li
                          a(href="/apcsp", data-i18n="nav.apcsp")
                        li
                          a(href="/teachers/classes", data-i18n="nav.my_classrooms")
                  .col-lg-3
                    h3(data-i18n="nav.get_involved")
                    ul.list-unstyled
                      li
                        a(href='/community', data-i18n="nav.community")
                      li
                        a(href="/play/ladder", data-i18n="game_menu.multiplayer_tab")
                      if me.showGithubLink()
                        li
                          a(href="https://github.com/codecombat/codecombat") GitHub
                      if !me.isStudent() && me.showForumLink()
                        li
                          a(href=view.forumLink(), data-i18n="nav.forum")
                  .col-lg-3
                    if !me.showingStaticPagesWhileLoading() && me.useSocialSignOn()
                      h3(data-i18n="nav.follow_us")
                      div.social-buttons
                        a(href="https://www.youtube.com/channel/UCEl7Rs_jtl3hcbnp0xZclQA", target="_blank")
                          img(src="/images/pages/base/youtube_symbol_button.png", width="40")
                        a(href="https://twitter.com/codecombat", target="_blank")
                          img(src="/images/pages/base/twitter_logo_btn.png", width="40")
                        a(href="https://www.facebook.com/codecombat", target="_blank")
                          img(src="/images/pages/base/facebook_logo_btn.png", width="40")

      #final-footer(dir="ltr")
        img(src="/images/pages/base/logo.png" alt="CodeCombat")
        .float-right
          if me.showChinaResourceInfo()
            a.small 商务合作：bill@codecombat.com
            a.small 业务咨询：13810906731 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          span(data-i18n="nav.copyright_prefix")
          span= ' ©2019 CodeCombat Inc. '
          span.spl(data-i18n="nav.copyright_suffix")
          a.small(href="/legal") Terms of Service
          a.small(href="/privacy") Privacy
