mixin accountLinks
  //- TODO: Make these links available to non-admins after Ozaria launches and we actually need them again
  if me.isAdmin()
    li
      a.account-dropdown-item(href=`/user/${me.getSlugOrID()}`) ADMIN ONLY Profile
  li
    a.account-dropdown-item(href="/account/settings", data-i18n="play.settings")
  if me.isAdmin()
    li
      a.account-dropdown-item(href="/account/payments") ADMIN ONLY Payments
  if me.isAdmin()
    li
      a.account-dropdown-item(href="/account/subscription") ADMIN ONLY Subscription
  if me.isAdmin()
    li
      a.account-dropdown-item(href="/admin", data-i18n="account_settings.admin")
  if serverSession && serverSession.amActually
    li
      a.account-dropdown-item#nav-stop-spying-button Stop Spying
  if !features.codePlay
    li
      a.account-dropdown-item#logout-button(data-i18n="login.log_out")

.style-flat
  block header
    nav#main-nav.navbar.navbar-default.navbar-fixed-top.text-center
      .container-fluid
        .row
          .col-md-12
            .navbar-header
              button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#navbar-collapse' aria-expanded='false')
                span.sr-only(data-i18n="nav.toggle_nav")
                span.icon-bar
                span.icon-bar
                span.icon-bar
              if !serverConfig.static
                ul.nav.navbar-nav.navbar-left#home-link
                  if document.location.pathname == '/'
                    li
                      a.text-p.text-moon(href="/", data-i18n="nav.home")
                  else
                    li
                      a.text-p(href="/", data-i18n="nav.home")

            if !serverConfig.static
              #navbar-collapse.collapse.navbar-collapse
                ul.nav.navbar-nav
                  li
                    if document.location.href.search('/about') >= 0
                      a.text-p.text-moon(href="/about", data-i18n="nav.about")
                    else
                      a.text-p(href="/about", data-i18n="nav.about", data-event-action="Click: Header About")
                  if !me.isStudent()
                    li
                      - var faqURL = "/teachers/resources/faq";
                      - if (me.get('preferredLanguage') == 'nl-NL' || me.get('preferredLanguage') == 'nl-BE')
                      -     faqURL += "-nl-NL";
                      - if (me.get('preferredLanguage') == 'he')
                      -     faqURL += "-HE";
                      - if (me.get('preferredLanguage') == 'pt-BR' || me.get('preferredLanguage') == 'pt-PT')
                      -     faqURL += "-pt-BR";
                      - if (me.get('preferredLanguage') == 'zh-HANS' || me.get('preferredLanguage') == 'zh-HANT')
                      -     faqURL += "-zh-HANS";
                      if document.location.href.search('/faq') >= 0
                        a.text-p.text-moon.faq-link(href=faqURL data-i18n="nav.faq" data-event-action="Click: Header FAQ")
                      else
                        a.text-p.faq-link(href=faqURL data-i18n="nav.faq" data-event-action="Click: Header FAQ")

                if !me.isAnonymous()
                  ul.nav.navbar-nav.navbar-right
                    li.dropdown
                      a.dropdown-toggle.text-p(href="#", data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                        span(data-i18n="nav.my_account")
                        span.caret
                      ul.dropdown-menu
                        li.user-dropdown-header.text-center.hidden-xs.hidden-sm
                          //- TODO: Make this link available to non-admins after Ozaria launches and we actually need them again
                          //- a(href=`/user/${me.getSlugOrID()}`)
                          //-   h5=me.broadName()
                          h5(style="white-space: nowrap; padding: 3px 20px;")=me.broadName()
                            //- span.text-p= me.broadName()
                        +accountLinks

                ul.nav.navbar-nav
                  li.dropdown
                    a.dropdown-toggle.text-p(href="#", data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                      //- string replaced in RootView
                      span.language-dropdown-current Language
                      span.caret
                    ul(class="dropdown-menu language-dropdown" class=(!me.isAnonymous() ? "pull-right" : ""))

                ul.nav.navbar-nav.navbar-right
                  if me.isAnonymous()
                    if document.location.href.search('/quote') >= 0
                      li
                        a.text-p.text-moon(data-event-action="Click: Header Request a Quote", data-i18n="new_home.request_quote", href="/teachers/quote")
                    else
                      li
                        a.text-p(data-event-action="Click: Header Request a Quote", data-i18n="new_home.request_quote", href="/teachers/quote")
                  if me.isStudent()
                    li
                      if document.location.href.search('/students') >= 0
                        a.text-p.text-moon(href="/students", data-i18n="nav.classes")
                      else
                        a.text-p(href="/students", data-i18n="nav.classes")
                  if me.isSchoolAdmin()
                    li.dashboard-toggle
                      .dashboard-button
                        a.school-admin-dashboard-button.dashboard-toggle-link(href="/school-administrator" data-i18n="nav.admin")
                      .dashboard-button
                        a.teacher-dashboard-button.dashboard-toggle-link(href="/teachers" data-i18n="nav.teacher")
                  if !me.isAnonymous() && !me.isSchoolAdmin() && me.isTeacher()
                    li
                      if document.location.href.search('/teachers/classes') >= 0
                        a.text-p(href="/teachers/classes", data-i18n="nav.my_classrooms")
                      else
                        a.text-p(href="/teachers/classes", data-i18n="nav.my_classrooms")
                  if me.isAnonymous()
                    li
                      a#create-account-link.signup-button.text-p(data-event-action="Click: Header Sign Up", data-i18n="signup.sign_up")
                    li
                      a#login-link.login-button.text-p(data-event-action="Click: Header Login", data-i18n="signup.login")



  block page_nav

  block outer_content
    #site-content-area
      block content
        p If this is showing, you dun goofed

  block footer
    if !me.hideFooter()
      .container-fluid.style-ozaria
        #footer
          .container
            .row
              .col-md-12
                .row
                  img.img-responsive.ozaria-watermark(src="/images/ozaria/layout/footer/OzariaWordmark_White_325px.png")
                .row
                  .col-md-6.col-md-offset-2.col-sm-12
                    h2.subtitile-moon(data-i18n="nav.general")
                    ul.list-unstyled
                      if !me.showChinaResourceInfo()
                        li
                          a.contact-modal(tabindex=-1, data-i18n="nav.contact")
                      li
                        a(href="/about", data-i18n="nav.about", data-event-action="Click: Footer About")
                      li
                        - var faqURL = "/teachers/resources/faq";
                        - if (me.get('preferredLanguage') == 'nl-NL' || me.get('preferredLanguage') == 'nl-BE')
                        -     faqURL += "-nl-NL";
                        - if (me.get('preferredLanguage') == 'he')
                        -     faqURL += "-HE";
                        - if (me.get('preferredLanguage') == 'pt-BR' || me.get('preferredLanguage') == 'pt-PT')
                        -     faqURL += "-pt-BR";
                        - if (me.get('preferredLanguage') == 'zh-HANS' || me.get('preferredLanguage') == 'zh-HANT')
                        -     faqURL += "-zh-HANS";
                        a(href=faqURL data-i18n="nav.faq", data-event-action="Click: Footer FAQ")
                      li
                        a(href="http://press.ozaria.com" data-i18n="nav.press" data-event-action="Click: Footer Press")
                      if me.showChinaResourceInfo()
                        li
                          a(href="https://ozaria.com") 奥佳睿全球官网
                        li
                          a(href="https://koudashijie.com" data-i18n="nav.return_coco" data-event-action="Click: Footer Return to CodeCombat")
                        li
                          a(href="http://beian.miit.gov.cn/") 京ICP备19012263号-7
                      else
                        li
                          a(href="https://codecombat.com" data-i18n="nav.return_coco" data-event-action="Click: Footer Return to CodeCombat")

                  .col-md-4.col-sm-12
                    if !me.showingStaticPagesWhileLoading() && me.useSocialSignOn()
                      h2.subtitile-moon(data-i18n="nav.follow_us")
                      div.social-buttons
                        a(href="https://www.youtube.com/channel/UCU7Wh4ME_G-_C-8qrQuPNyA", target="_blank", data-event-action="Click: Footer Youtube")
                          img(src="/images/pages/base/youtube_symbol_button.png", width="40")
                        a(href="https://twitter.com/playozaria", target="_blank", data-event-action="Click: Footer Twitter")
                          img(src="/images/pages/base/twitter_logo_btn.png", width="40")
                        a(href="https://www.facebook.com/playozaria", target="_blank", data-event-action="Click: Footer Facebook")
                          img(src="/images/pages/base/facebook_logo_btn.png", width="40")
                        a(href="https://www.instagram.com/playozaria/", target="_blank", data-event-action="Click: Footer Instagram")
                          img(src="/images/pages/base/instagram-logo.png", width="40")

      #final-footer
        if me.showChinaResourceInfo()
          a.small 商务合作：bill@codecombat.com
          a.small 业务咨询：13810906731 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        span= ' © 2020 CodeCombat Inc. '
        span.spl(data-i18n="nav.copyright_suffix")
        a.small(href="http://codecombat.com/legal", data-i18n="nav.term_of_service")
        a.small(href="http://codecombat.com/privacy", data-i18n="nav.privacy")
