block header
  #site-nav
    block site_nav
      a(href="/")
        img#nav-logo(src="/images/pages/base/logo.png", title="CodeCombat - Learn how to code by playing a game", alt="CodeCombat")
      div#site-nav-links
        a(href="/")
          img#small-nav-logo(src="/images/pages/base/logo.png", title="CodeCombat - Learn how to code by playing a game", alt="CodeCombat")
        a(href="/")
          span.glyphicon.glyphicon-home
        a(href='/teachers', data-i18n="nav.teachers")
        a(href='/courses', data-i18n="nav.students")
        a(href=view.forumLink(), data-i18n="nav.forum")
        a(href='/community', data-i18n="nav.community")

        if me.get('anonymous') === false
          span.dropdown
            button.btn.btn-sm.header-font.dropdown-toggle(href="#", data-toggle="dropdown")
              if me.get('photoURL')
                img.account-settings-image(src=me.getPhotoURL(18), alt="")
              else
                i.glyphicon.glyphicon-user
              span.spl.spr(data-i18n="nav.account" href="/account")
              span.caret
            ul.dropdown-menu(role="menu")
              li.user-dropdown-header
                span.user-level= me.level()
                a(href="/user/#{me.getSlugOrID()}")
                  div.img-circle(style="background-image: url(#{me.getPhotoURL()})")
                h3=me.displayName()
              li
                a(href="/user/#{me.getSlugOrID()}", data-i18n="nav.profile")
              li
                a(href="/account/settings", data-i18n="play.settings")
              unless me.isStudent()
                li
                  a(href="/account/payments", data-i18n="account.payments")
              if me.hasSubscription() || !(me.isTeacher() || me.isStudent())
                li
                  a(href="/account/subscription", data-i18n="account.subscription")
              unless me.isStudent()
                li
                  a(href="/account/prepaid", data-i18n="account.prepaid_codes")
              li
                a#logout-button(data-i18n="login.log_out")

        else
          button.btn.btn-sm.btn-primary.header-font.signup-button(data-i18n="login.sign_up")
          button.btn.btn-sm.btn-default.header-font.login-button(data-i18n="login.log_in")
        select.language-dropdown.form-control


block outer_content
  #site-content-area
    block content
      p If this is showing, you dun goofed
  .achievement-corner


block footer
  #site-footer
    img#footer-background(src="/images/pages/base/nav_background.png")

    #footer-links
      a(href="/about", data-i18n="nav.about")
      a(tabindex=-1, data-toggle="coco-modal", data-target="core/ContactModal", data-i18n="nav.contact")
      a(href='http://blog.codecombat.com/', data-i18n="nav.blog")
      a(href='https://jobs.lever.co/codecombat', tabindex=-1, data-i18n="nav.careers")
      a(href='/legal', tabindex=-1, data-i18n="nav.legal")
      a(href='/privacy', tabindex=-1, data-i18n="legal.privacy_title")
      a(href='/contribute', tabindex=-1, data-i18n="nav.contribute")
      a(href='/play/ladder', tabindex=-1, data-i18n="home.multiplayer")
      if me.isAdmin()
        a(href='/admin') Admin

      if usesSocialMedia
        .share-buttons
          if !isIE
            .g-plusone(data-href="http://codecombat.com", data-size="medium")
          .fb-like(data-href="https://www.facebook.com/codecombat", data-send="false", data-layout="button_count", data-width="350", data-show-faces="true", data-ref="coco_footer_#{fbRef}")
          if !isIE
            a.twitter-follow-button(href="https://twitter.com/CodeCombat", data-show-count="true", data-show-screen-name="false", data-dnt="true", data-align="right", data-i18n="nav.twitter_follow")
            iframe.github-star-button(src="https://ghbtns.com/github-btn.html?user=codecombat&repo=codecombat&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="110", height="20")

    #footer-credits
      span
        span © All Rights Reserved
        br
        span CodeCombat 2015
      img#footer-logo(src="/images/pages/base/logo.png", alt="CodeCombat")
      span
        span Site Design by
        br
        a(href="http://www.fullyillustrated.com/") Fully Illustrated
      //a.firebase-bade(href="https://www.firebase.com/")  // Not using right now
      //  img(src="/images/pages/base/firebase.png", alt="Powered by Firebase")

    block extra_footer_content
