h2 Demo Page

ol.breadcrumb
  for path in parentFolders
    li
      a(href=path.url)= path.name
  li.active= currentFolder

.well.pull-left#demo-wrapper
  #demo-area
    
.nav.nav-pills.nav-stacked.pull-right.well#demo-nav
  for child in children
    li(class=child.type)
      a(href=child.url).small
        if child.type == 'folder'
          span.glyphicon.glyphicon-folder-close
        else
          span.glyphicon.glyphicon-file
        span.spl= child.name
        if child.type == 'folder'
          strong (#{child.size})
