extends /templates/base

block content

  h1(data-i18n="employers.want_to_hire_our_players") Hire CodeCombat Players

  if !isEmployer && !me.isAdmin()
    div#info_wrapper
  
      div#leftside
  
        div.information_row
  
          img(class="employer_icon" src="/images/pages/employer/employer_icon1.png")
  
          h2(data-i18n="employers.what") What is CodeCombat?
  
          p(data-i18n="employers.what_blurb") CodeCombat is a multiplayer browser programming game. Players write code to control their forces in battle against other developers. We support JavaScript, Python, Lua, Clojure, CoffeeScript, and Io.
  
        div.information_row
  
          img(class="employer_icon" src="/images/pages/employer/employer_icon3.png")
  
          h2(data-i18n="employers.who") Who Are the Players?
  
          p(data-i18n="employers.who_blurb") CodeCombateers are software developers who enjoy using their programming skills to play games. They range from college seniors at top 20 engineering programs to 20-year industry veterans.
  
      div#rightside
  
        div.information_row
  
          img(class="employer_icon" src="/images/pages/employer/employer_icon2.png")
  
          h2(data-i18n="employers.how") How Do We Find Developers?
  
          p(data-i18n="employers.how_blurb") We host competitive tournaments to attract competitive software engieneers. We then use in-house algorithms to identify the best players among the top 5% of tournament winners.
  
        div.information_row
  
          img(class="employer_icon" src="/images/pages/employer/employer_icon4.png")
  
          h2(data-i18n="employers.why") Why Hire Through Us?
  
          p
            span(data-i18n="employers.why_blurb_1") We will save you time. Every CodeCombateer we feaure is 
            strong(data-i18n="employers.why_blurb_2") looking for work
            span(data-i18n="employers.why_blurb_3") , has 
            strong(data-i18n="employers.why_blurb_4") demonstrated top notch technical skills
            span(data-i18n="employers.why_blurb_5") , and has been 
            strong(data-i18n="employers.why_blurb_6") personally screened by us
            span(data-i18n="employers.why_blurb_7") . Stop screening and start hiring.

      h3.see-candidates-header
        a#see-candidates(title='Contact', tabindex=-1, data-toggle="coco-modal", data-target="modal/employer_signup", data-i18n="employers.see_candidates") Click here to see our candidates

  if candidates.length

    ul.nav.nav-pills
      li.active
        a(href="#featured-candidates", data-toggle="tab")
          span(data-i18n="employers.featured_developers") Featured Developers
          |  (#{featuredCandidates.length})
      if otherCandidates.length
        li
          a(href="#other-candidates", data-toggle="tab")
            span(data-i18n="employers.other_developers") Other Developers
            |  (#{otherCandidates.length})
      if me.isAdmin() && inactiveCandidates.length
        li
          a(href="#inactive-candidates", data-toggle="tab")
            span(data-i18n="employers.inactive_developers") Inactive Developers
            |  (#{inactiveCandidates.length})

    div.tab-content
      for area, tabIndex in [{id: "featured-candidates", candidates: featuredCandidates}, {id: "other-candidates", candidates: otherCandidates}, {id: "inactive-candidates", candidates: inactiveCandidates}]
        div(class="tab-pane well" + (tabIndex ? "" : " active"), id=area.id)
          table.table.table-condensed.table-hover.table-responsive.tablesorter
            thead
              tr
                th(data-i18n="general.name") Name
                th(data-i18n="employers.candidate_location") Location
                th(data-i18n="employers.candidate_looking_for") Looking For
                th(data-i18n="employers.candidate_role") Role
                th(data-i18n="employers.candidate_top_skills") Top Skills
                th(data-i18n="employers.candidate_years_experience") Yrs Exp
                th(data-i18n="employers.candidate_last_updated") Last Updated
                if me.isAdmin()
                  th(data-i18n="employers.candidate_who") Who
                if me.isAdmin() && area.id == 'inactive-candidates'
                  th ✓?
        
            tbody
              for candidate, index in area.candidates
                - var profile = candidate.get('jobProfile');
                - var authorized = candidate.id;  // If we have the id, then we are authorized.
                tr(data-candidate-id=candidate.id, id=candidate.id)
                  td
                    if authorized
                      img(src=candidate.getPhotoURL(50), alt=profile.name, title=profile.name, height=50)
                      if profile.name
                        p= profile.name
                      else if me.isAdmin()
                        p (#{candidate.get('name')})
                    else
                      img(src="/images/pages/contribute/archmage.png", alt="", title="Sign up as an employer to see our candidates", width=50)
                      p Developer ##{index + 1 + (area.id == 'featured-candidates' ? 0 : featuredCandidates.length)}
                  if profile.country == 'USA'
                    td= profile.city
                  else
                    td= profile.country
                  td= profile.lookingFor
                  td= profile.jobTitle
                  td
                    each skill in profile.skills
                      code= skill
                      span  
                  td= profile.experience
                  td(data-profile-age=(new Date() - new Date(profile.updated)) / 86400 / 1000)= moment(profile.updated).fromNow()
                  if me.isAdmin()
                    td= remarks[candidate.id] ? remarks[candidate.id].get('contactName') : ''
                  if me.isAdmin() && area.id == 'inactive-candidates'
                    if candidate.get('jobProfileApproved')
                      td ✓
                    else
                      td ✗
