extends /templates/base

block content

  h1(data-i18n="employers.want_to_hire_our_players") Want to hire expert CodeCombat players?

  p
    span(data-i18n="employers.candidates_count_prefix") We currently have 
    if candidates.length
      | #{candidates.length}
    else
      span(data-i18n="employers.candidates_count_many") many
    |  
    span(data-i18n="employers.candidates_count_suffix") highly skilled and vetted developers looking for work.
  if !isEmployer
    
    h3
      a#see-candidates(title='Contact', tabindex=-1, data-toggle="coco-modal", data-target="modal/employer_signup", data-i18n="employers.see_candidates") Click here to see our candidates
      
  if candidates.length
    table.table.table-condensed.table-hover.table-responsive.tablesorter
      thead
        tr
          th(data-i18n="general.name") Name
          th(data-i18n="employers.candidate_location") Location
          th(data-i18n="employers.candidate_looking_for") Looking For
          th(data-i18n="employers.candidate_role") Role
          th(data-i18n="employers.candidate_top_skills") Top Skills
          th(data-i18n="employers.candidate_years_experience") Yrs Exp
          th(data-i18n="employers.candidate_last_updated") Last Updated
          if me.isAdmin()
            th(data-i18n="employers.candidate_approved") Us?
            th(data-i18n="employers.candidate_active") Them?
  
      tbody
        for candidate, index in candidates
          - var profile = candidate.get('jobProfile');
          - var authorized = candidate.id;  // If we have the id, then we are authorized.
          tr(data-candidate-id=candidate.id, id=candidate.id)
            td
              if authorized
                img(src=candidate.getPhotoURL(50), alt=profile.name, title=profile.name, height=50)
                p= profile.name
              else
                img(src="/images/pages/contribute/archmage.png", alt="", title="Sign up as an employer to see our candidates", width=50)
                p Developer ##{index + 1}
            if profile.country == 'USA'
              td= profile.city
            else
              td= profile.country
            td= profile.lookingFor
            td= profile.jobTitle
            td
              each skill in profile.skills.slice(0, 10)
                code= skill
                span  
            td= profile.experience
            td(data-profile-age=(new Date() - new Date(profile.updated)) / 86400 / 1000)= moment(profile.updated).fromNow()
            if me.isAdmin()
              if candidate.get('jobProfileApproved')
                td ✓
              else
                td ✗
              if profile.active
                td ✓
              else
                td ✗