extends /templates/recruitment_base

block content
  if me.get('anonymous')
    a#login-link Login
    br
  if !isEmployer && !me.isAdmin()
    #tagline
      h1(data-i18n="employers.hire_developers_not_credentials") Hire developers, not credentials.
      button.btn.get-started-button Get started
  else
    if !me.get('anonymous')
      a#logout-button(data-i18n="login.log_out") Logout
      br
    #filter
      .panel-group#filter_panel
        a#filter-link(data-toggle="collapse" data-target="#collapseOne")
          .panel.panel-default
            .panel-heading
              h4.panel-title
               
                span.glyphicon.glyphicon-folder-open#folder-icon
                |  Filter
        .panel-collapse.collapse.in#collapseOne
          .panel-body
            form#filters
              .filter_section#screened_filter
                h4 Screened
                input(type="checkbox" name="phoneScreenFilter" value="true")
                | Phone Screened
                br
                input(type="checkbox" name="phoneScreenFilter" value="false")
                | Not Phone Screened
              .filter_section#visa_filter
                h4 Visa
                input(type="checkbox" name="visa" value="Authorized to work in the US")
                | US Authorized
                br
                input(type="checkbox" name="visa" value="Need visa sponsorship")
                | Not Authorized
              .filter_section#school_filter
                h4 School
                input(type="checkbox" name="schoolFilter" value="Top 20 Eng.")
                | Top 20 Eng.
                br
                input(type="checkbox" name="schoolFilter" value="Other US")
                | Other US
                br
                input(type="checkbox" name="schoolFilter" value="Other Intl.")
                | Other Intl.
              .filter_section#location_filter
                h4 Location
                input(type="checkbox" name="locationFilter" value="Bay Area")
                | Bay Area
                br
                input(type="checkbox" name="locationFilter" value="New York")
                | New York
                br
                input(type="checkbox" name="locationFilter" value="Other US")
                | Other US
                br
                input(type="checkbox" name="locationFilter" value="International")
                | International
              .filter_section#role_filter
                h4 Role
                input(type="checkbox" name="roleFilter" value="Web Developer")
                | Web Developer
                br
                input(type="checkbox" name="roleFilter" value="Software Developer")
                | Software Developer
                br
                input(type="checkbox" name="roleFilter" value="iOS Developer")
                | iOS Developer
                br
                input(type="checkbox" name="roleFilter" value="Android Developer")
                | Android Developer
                br
                input(type="checkbox" name="roleFilter" value="Project Manager")
                | Project Developer
              .filter_section#seniority_filter
                h4 Seniority
                input(type="checkbox" name="seniorityFilter" value="College Student")
                | College Student
                br
                input(type="checkbox" name="seniorityFilter" value="Recent Grad")
                | Recent Grad
                br
                input(type="checkbox" name="seniorityFilter" value="Junior")
                | Junior
                br
                input(type="checkbox" name="seniorityFilter" value="Senior")
                | Senior
                br
                input(type="checkbox" name="seniorityFilter" value="Management")
                | Management
            //input#select_all_checkbox(type="checkbox" name="select_all" checked)
            //| Select all
            button.btn#filter-button Filter
            p#results #{numberOfCandidates} results
            //button.btn#create-alert-button Create Alert
  if candidates.length
    #candidate-table
      table
        tbody
          for candidate, index in featuredCandidates
            - var profile = candidate.get('jobProfile');
            - var authorized = candidate.id;  // If we have the id, then we are authorized.
            - var profileAge = (new Date() - new Date(profile.updated)) / 86400 / 1000;
            - var expired = profileAge > 2 * 30.4;
            - var curated = profile.curated;
            
            tr.candidate-row(data-candidate-id=candidate.id, id=candidate.id, class=expired ? "expired" : "")
              td(rowspan=2)
                .candidate-picture
                  img(src=candidate.getPhotoURL(50,false,true), alt=profile.name, title=profile.name, width=50)
              if curated && curated.shortDescription
                td.candidate-description #{curated.shortDescription}
              else
                td.candidate-description #{profile.shortDescription}
            tr.border_row(data-candidate-id=candidate.id)
              if curated
                - var workHistory = curated.workHistory.join(",");
                td.tag_column
                  img(src="/images/pages/employer/tag.png")
                  |  #{curated.mainTag}
                td.location_column
                  img(src="/images/pages/employer/location.png")
                  |  #{curated.location}
                td.education_column
                  img(src="/images/pages/employer/education.png")
                  |  #{curated.education}
                td.work_column
                  if workHistory
                    img(src="/images/pages/employer/briefcase.png")
                    |  #{workHistory}
              else
                td Hi

  if !isEmployer && !me.isAdmin()
    div#info_wrapper
      span.hiring-call-to-action
        h2#start-hiring(data-i18n="employers.start_hiring") Start hiring.
        button.btn.get-started-button Get started
      
      h2#hiring-reasons.hiring-call-to-action(data-i18n="employers.reasons") 3 reasons you should hire through us:
      .reasons#top_row
        .reason
          img.employer_icon(src="/images/pages/employer/employer_icon2.png")
          h3(data-i18n="employers.everyone_looking") Everyone here is looking for work.
          p(data-i18n="employers.everyone_looking_blurb") Forget about 20% LinkedIn InMail response rates. Everyone that we list on this site wants to find their next position and will respond to your request for an introduction.
        .reason
          img.employer_icon(src="/images/pages/employer/employer_icon6.png")
          h3(data-i18n="employers.weeding") We've done the weeding for you.
          //this will break in i18n. Fix the inlining
          p(data-i18n="employers.weeding_blurb")
          | Every candidate that has a 
          span.glyphicon.glyphicon-earphone
          | icon has already gone through a phone screen with us. We only feature developers that we would work with.
        .reason
          img(class="employer_icon" src="/images/pages/employer/employer_icon3.png")
          h3(data-i18n="employers.pass_screen") They will pass your technical screen.
          p(data-i18n="employers.pass_screen_blurb") All of these developers have ranked in our programming competitions. One employer found that 5x as many of our devs passed their technical screen than hiring from Hacker News.
      span.hiring-call-to-action
        h2(data-i18n="employers.make_hiring_easier") Make my hiring easier, please.
        button.btn.get-started-button Get started
      .reasons#bottom_row
        .reason_long
          img.employer_icon(src="/images/pages/employer/employer_icon1.png")
          .reason_text
            h3(data-i18n="employers.what") What is CodeCombat?
            p(data-i18n="employers.what_blurb") CodeCombat is a multiplayer browser programming game. Players write code to control their forces in battle against other developers. We support JavaScript, Python, Lua, Clojure, CoffeeScript, and Io.
        .reason_long
          img.employer_icon(src="/images/pages/employer/employer_icon5.png")
          .reason_text
            h3(data-i18n="employers.cost") Who Are the Players?
            p(data-i18n="employers.cost_blurb") CodeCombateers are CTOs, VPs of Engineering, and graduates of top 20 engineering schools. No junior developers here. Our players enjoy playing with code and solving problems.
