extends /templates/base

block content

  .row

    .col-md-6

      h2 CodeCombat for Employers

      p.lead Want to hire expert CodeCombat players?

      p
        | CodeCombat doesn't just have beginners. We also have expert software developers who play our 
        a(href="http://blog.codecombat.com/beat-this-level-get-a-programming-job") developer challenge levels
        | . If your company is seeking technical talent, then we'd be happy to help place candidates with you.

      p We were actually overwhelmed by how many talented developers rushed to site, crushed our version of the algorithm in the Gridmancer challenge, and were looking for job opportunities, especially in the SF Bay Area where CodeCombat is located. So if you're an employer, now's a great time to get in touch and meet some amazing programmers.

      p If this sounds interesting, then let's get in touch, find out what you're looking for, talk about recruitment terms, and see what we can do for you. Don't worry–we are not your traditional recruiter. We're a tech company like you who happens to have a ton of great programmers looking to us for help with the job search.

      h3
        a(title='Contact', tabindex=-1, data-toggle="coco-modal", data-target="modal/contact") Contact Us
    
    .span5
 
      h2 Candidate Statistics

      h4 Resumes: 46
      h4 Ages: 16 - 45
      h4 Experience: 0 - 30 years
      h4 Skill: from interns and entry level to senior developers and management
      h4 Technologies: just about everything
      h4 Countries: USA, Canada, Australia, and many more

  if candidates.length
    table.table.table-condensed.table-hover.table-responsive.tablesorter
      thead
        tr
          th Name
          th Location
          th Looking For
          th Top 5 Skills
          th Yrs Exp
          th Last Updated
          th Current Job
          if me.isAdmin()
            th ✓?
  
      tbody
        for candidate, index in candidates
          - var profile = candidate.get('jobProfile');
          - var authorized = candidate.id;  // If we have the id, then we are authorized.
          tr(data-candidate-id=candidate.id)
            td
              if authorized
                // Want image, but it doesn't work without loading every Gravatar profile
                //img(src=candidate.getPhotoURL(), alt=profile.name, title=profile.name, width=50)
                p= profile.name
              else
                //img(src="/images/pages/contribute/archmage.png", alt="", title="Sign up as an employer to see our candidates", width=50)
                p Developer ##{index + 1}
            if profile.country == 'USA'
              td= profile.city
            else
              td= profile.country
            td= profile.lookingFor
            td
              each skill in profile.skills.slice(0, 5)
                code= skill
                span  
            td= profile.experience
            td= moment(profile.updated).fromNow()
            if authorized
              if profile.work.length
                td= profile.work[0].role + ' at ' + profile.work[0].employer
              else
                td
            else
              td
                em Employer sign-up required.
            if me.isAdmin()
              if candidate.get('jobProfileApproved')
                td ✓
              else
                td ✗