extends /templates/base

block content

  h1(data-i18n="play.choose_your_level") Choose Your Level
  p
    span(data-i18n="play.adventurer_prefix") You can jump to any level below, or discuss the levels on 
    a(href="http://discourse.codecombat.com/category/adventurer", data-i18n="play.adventurer_forum") the Adventurer forum
    span(data-i18n="play.adventurer_suffix") .

  .row

    each campaign in campaigns
      .campaign-container.col-sm-6
        h1
          a(href="/play/#{campaign.levels[0].levelPath || 'level'}/#{campaign.levels[0].id}", data-i18n="play.campaign_#{campaign.id}")= campaign.name
        p.campaign-description(data-i18n="[html]play.campaign_#{campaign.id}_description")!= campaign.description
        each level in campaign.levels
          a(href=level.disabled ? "/play" : "/play/#{level.levelPath || 'level'}/#{level.id}", disabled=level.disabled, class=levelStatusMap[level.id] || '')
            .level.row
              if level.image
                img.level-image(src="#{level.image}", alt="#{level.name}")
              else
                img.level-image(src="/images/generic-icon.png", alt="#{level.name}")
              .level-info
                h3= level.name + (level.disabled ? " (Coming soon!)" : "")
                .level-description= level.description
                span(data-i18n="play.level_difficulty") Difficulty: 
                each i in Array(level.difficulty)
                  i.icon-star

