extends /templates/base.jade

block content
  
  h1
    | Privacy Notice

  p
    em
      span.spr (see also our
      a(href="/legal") legal page
      span )
  
  hr

  p This privacy notice has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.

  p
    strong What personal information do we collect from the people that visit our website?

  table.table
    thead
      tr
        th Classroom Version - Teachers
        th Classroom Version - Students
        th Home Version - Players
    tbody
      tr
        td When registering a free teacher account, we ask for your name, email address, school name, and contact information so we can help you bring CodeCombat to your school.
        td When registering a free student account by invitation from a teacher, we ask for your first name, last initial, and optional email address for your teacher to manage their students.
        td When registering a free home account, we ask for your email address, for authentication, and your birthdate (to ensure you are old enough to consent). When purchasing a subscription, we securely ask for (but do not store on our servers) your credit card information.

  p
    strong When do we collect information?

  p We collect information from you when you register on our site, place an order, fill out a form, or enter information on our site.

  p
    strong How do we use your information?

  p We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to an email, play the game, or use certain other site features in the following ways:

  table.table
    thead
      tr
        th Classroom Version - Teachers
        th Classroom Version - Students
        th Home Version - Players
    tbody
      tr
        td
          ul.list-unstyled
            li To personalize your experience.
            li To improve our website.
            li To respond to your customer service requests.
            li To send periodic emails about CodeCombat features and services (optional).
            li To contact you about your interest in CodeCombat for your school.
            li To assist with district-wide licensing.
        td
          ul.list-unstyled
            li To personalize your experience.
            li To improve our website.
            li To respond to your customer service requests.
            li To send periodic emails about CodeCombat feaures and services (optional).
        td
          ul.list-unstyled
            li To personalize your experience.
            li To improve our website.
            li To respond to your customer service requests.
            li To send periodic emails about CodeCombat feaures and services (optional).
            li To quickly process your transactions.

  p
    strong How do we protect visitor information?

  p Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. All financial transactions are processed through a secure gateway provider (Stripe), with no sensitive financial information stored or processed on our servers.

  p CodeCombat takes appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of your personal information. These measures include but are not limited to SSL, strong encryption, de-identification, pseudonymization, limited access controls, regular testing, and minimal data collection and data retention.

  p
    strong Do we use 'cookies'?

  p Yes. Cookies are small files that a site transfers to your computer's hard drive through your Web browser (if you allow) that enable the site's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to authenticate your browsing session. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.

  p We use cookies to:
    ul
      li Understand and save your preferences for future visits.
      li Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third party services that track this information on our behalf.

  p You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.

  p
    strong If users disable cookies in their browser:

  p If you disable cookies, it will turn off some of the features that make your site experience more efficient and some of our services will not function properly.


  p
    strong Third Party Disclosure

  p We do not sell or trade to outside parties your personally identifiable information, and do not otherwise transfer it except as described in this privacy notice.

  p
    strong How does our site handle do not track signals?

  p We avoid tracking as many non-required analytics and cookies as possible, but cannot guarantee 100% coverage.

  p
    strong Does our site allow third party behavioral tracking?

  p Yes, for example, via Google Analytics.

  p
    strong California Online Privacy Protection Act

  p
    span.spr CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require a person or company in the United States (and conceivably the world) that operates websites collecting personally identifiable information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals with whom it is being shared, and to comply with this policy. See more
    a(href="http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf") here
    | .

  p According to CalOPPA: users can visit our site anonymously; we link to this Privacy Policy on the home page; and our Privacy Policy link includes the word 'Privacy', and can be easily be found on the home page.

  p Users will be notified of any privacy policy changes on this Privacy Policy Page. Users are able to change their personal information by logging into their account or by emailing us.

  p
    strong FERPA

  p Our collection, use, and disclosure of student data is governed by this privacy policy, any other agreement with an educational agency, the provisions of the Family Educational Rights and Privacy Act (FERPA), COPPA, and applicable state laws which relate to the collection of student data. See the rest of this privacy policy for other details on the limited ways in which we handle student data.

  p
    strong SOPIPA

  p CodeCombat is compliant with SOPIPA, meeting, among others, these requirements. We:

  ol
    li do not use any data collected via the service to target ads to students;
    li do not create advertising profiles on students;
    li do not sell student information;
    li do not disclose personal information, unless required by law or as part of the maintenance and development of the service;
    li do use sound information security, including encryption of data and other industry-standard practices;
    li will delete data that we have collected from students in a school when the school or district requests it;
    li share information only with educational researchers or with educational agencies performing a function for the school;
    li innovate safely without compromising student privacy by only using de-identified and aggregated data to develop and improve the service.

  p
    strong AB 1584

  p CodeCombat is compliant with AB 1584. For our classroom version, pupil records continue to be the property of and under the control of the local educational agency. Pupils may retain possession and control of their own pupil-generated content by editing or deleting their content from our servers themselves via the website or by emailing team@codecombat.com. Pupils may also request to transfer their pupil-generated content to a personal account. Third parties will not have access to any personally identifiable information in the pupil record for any purpose. Parents, legal guardians, and eligible pupils may review their information and request corrections to erroneous information through account settings on our website or by emailing team@codecombat.com. We take actions to ensure the security and confidentiality of pupil records, including but not limited to designating and training responsible individuals on ensuring the security and confidentiality of pupil records, by using current, commercially reasonable methods. In the event of an unauthorized disclosure of a pupil's records, CodeCombat shall report to an affected parent, legal guardian, or eligible pupil pursuant via email (if provided). CodeCombat shall not use any information in a pupil record for any purpose other than those required or specifically permitted by this privacy policy. CodeCombat will not use pupil records to engage in targeted advertising. A pupil's records shall not be retained or available to CodeCombat past the terms of any contract with a local educational agency, except for a case where a pupil chooses to establish or maintain an account with CodeCombat for the purpose of storing pupil-generated content, either by retaining possession and control of their own pupil-generated content, or by transferring pupil-generated content to a personal account.

  p
    strong COPPA (Children Online Privacy Protection Act)

  p When it comes to the collection of personal information from children under 13, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the nation's consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.

  p We adhere to the following COPPA tenets:
    ul
      li We will not require a child to disclose more information than is reasonably necessary to particapate in our service.
      li Teachers and parents can agree to the collection and use of their students' information, but still not allow disclosure to third parties.
      li Teachers and parents can review, delete, and manage their students' information through account settings on our website or by emailing team@codecombat.com.
      li We notify teachers and parents directly before collecting PII from their children. This includes what specific information will be collected and how it might be disclosed, a link to our online privacy policy, and how teachers and parents can give their consent.
      li Parents can give consent by creating accounts for their children and providing the minimum necessary personal information needed during that account creation.
      li Student accounts for use in school settings can only be created with consent of a teacher.

  p In other countries with similar children's privacy laws applying to children under 13 - 16 years old per country, we follow similar consent and information security policies to protect the personal data of children.

  p
    strong Fair Information Practices

  p The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.

  p In order to be in line with Fair Information Practices, should a data breach occur, we will notify the affected users via email within 7 business days (or within 72 hours for certain categories of breach).

  p We also agree to the individual redress principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or a government agency to investigate and/or prosecute non-compliance by data processors.

  p
    strong CAN-SPAM Act

  p The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.

  p We collect your email address in order to:
    ul
      li Authenticate your user account.
      li Send information, respond to inquiries, and/or other requests or questions.
      li Process orders and to send information and updates pertaining to orders
      li We may also send you additional information related to your product and/or service (optional).

  p To be in accordance with CAN-SPAM we agree to the following:
    ul
      li NOT use false, or misleading subjects or email addresses
      li Identify the message as an advertisement in some reasonable way
      li Include the physical address of our business or site headquarters
      li Monitor third party email marketing services for compliance, if used
      li Honor opt-out/unsubscribe requests quickly
      li Allow users to unsubscribe by using the link at the bottom of each email

  p If at any time you would like to unsubscribe from receiving future emails, you can change your email settings in your <a href="/account/settings">account preferences</a>, email us, or follow the instructions at the bottom of each email, and we will promptly remove you from all correspondence.

  p#gdpr
    strong General Data Protection Regulation (GDPR) for EU users

  p
     The GDPR is a Regulation by which the European Commission intends to strengthen and unify data protection for individuals within the European Union. For users within the EU, we comply with GDPR and the Privacy by Design principles that guide it, including minimial collection of personal data, deletion of personal data that are no longer necessary, securely restricted access to personal data, privacy as the default, and visibility and transparency.

  p
    em Legal basis of processing
  p CodeCombat may process personal data relating to EU users if one of the following applies:
  ul
    li EU users have given their consent for one or more specific purposes.
    li provision of personal data is necessary for the performance of an agreement with the User and/or for any pre-contractual obligations thereof;
    li processing is necessary for compliance with a legal obligation to which CodeCombat is subject;
    li processing is related to a task that is carried out in the public interest or in the exercise of official authority vested in CodeCombat;
    li processing is necessary for the purposes of the legitimate interests pursued by CodeCombat or by a third party.
  p In any case, CodeCombat will gladly help to clarify the specific legal basis that applies to the processing, and in particular whether the provision of personal data is a statutory or contractual requirement, or a requirement necessary to enter into a contract.


  p#place-of-processing
    em Place of processing
  p
    Consenting EU users' personal data are processed on US-based CodeCombat servers and at CodeCombat's San Francisco office. This necessitates a cross-border data transfer to the United States, a country whose privacy laws the EU does not consider as providing adequate data safeguards. As CodeCombat does not yet have the Privacy Shield certification necessary to ensure adequacy, EU users may either explicitly consent to such a transfer or refrain from granting CodeCombat consent while creating a CodeCombat account. At any time, this consent may be withdrawn by deleting your CodeCombat account or contacting us to request deletion. All of the data processors that might receive personal data do have adequate data protection safeguards in place, such as Privacy Shield certification or EU-approved standard contractual clauses.

  p
    em Data retention time limits

  p Personal data shall be processed and stored for as long as required by the purpose they have been collected for. Therefore:
  ul
    li Personal data collected for purposes related to the performance of a contract between CodeCombat and an EU user shall be retained until such contract has been fully performed and the user has determined that no further contract will be needed.
    li Personal data collected for the purposes of CodeCombat’s legitimate interests shall be retained as long as needed to fulfill such purposes. EU users may find specific information regarding the legitimate interests pursued by CodeCombat within the relevant sections of this document or by contacting CodeCombat.
    li CodeCombat may be allowed to retain personal data for a longer period whenever an EU user has given consent to such processing, as long as such consent is not withdrawn. Furthermore, CodeCombat may be obliged to retain personal data for a longer period whenever required to do so for the performance of a legal obligation or upon order of an authority.
  p More specifically, CodeCombat will retain server log files for no more than 30 days, and will retain inactive, unpaid EU user accounts for no more than 2 years.
  p Once the retention period expires, personal data shall be deleted. Therefore, the right to access, the right to erasure, the right to rectification and the right to data portability cannot be enforced after expiration of the retention period.

  p
    em Detailed information on the processing of personal data

  p CodeCombat is assisted by the following GDPR-compliant data processors and data controllers, some of which will be disabled by setting the Do Not Track option in your browser or, in the EU, opting out of cookies:
  table.table
    thead
      tr
        th Data Processor
        th User types
        th Data
        th Purpose
        th Safeguards
    tbody
      tr
        td
          a(href="https://mailchimp.com/") MailChimp
        td Registered users
        td Name, email address, and email usage data
        td To send users, if subscribed, announcements about CodeCombat products and services
        td
          a(href="https://mailchimp.com/legal/privacy/") Privacy Policy
          span= ' '
          a(href="https://mailchimp.com/legal/privacy/") Privacy Shield
      tr
        td
          a(href="https://sendgrid.com/") SendGrid
        td Registered users
        td Name, email address, and email usage data
        td To send users important emails about their usage of CodeCombat
        td
          a(href="https://sendgrid.com/policies/privacy/") Privacy Policy
          span= ' '
          a(href="https://sendgrid.com/policies/privacy/privacy-shield-certification/") Privacy Shield
      tr
        td
          a(href="https://frontapp.com/") Front
        td All users
        td Email address, emails, username, and other data necessary to provide support and respond to sales requests
        td To help users with sales and support questions via email
        td
          a(href="https://frontapp.com/privacy-policy") Privacy Policy
          span= ' '
          a(href="https://frontapp.com/privacy-policy") Privacy Shield
      tr
        td
          a(href="https://www.intercom.com/") Intercom
        td Teacher users
        td Cookies, name, username, email address, website usage data, sales information necessary for providing quotes and paid licenses, and other data as specified in its privacy policy
        td To help teachers with sales and support questions, provide information about CodeCombat, and understand website usage
        td
          a(href="https://www.intercom.com/terms-and-policies#privacy") Privacy Policy
          span= ' ' 
          a(href="https://www.intercom.com/terms-and-policies#eu-us") Privacy Shield
      tr
        td
          a(href="https://close.io/") Close.io
        td Teacher users
        td Name, username, email address, sales information necessary for providing quotes and paid licenses, and other data as specified in its privacy policy
        td To help teachers with sales and support questions, provide quotes, fulfill purchases, and organize potential and current customer data
        td
          a(href="https://www.iubenda.com/privacy-policy/87166246") Privacy Policy
          span= ' '
          a(href="https://close.io/gdpr/") Standard Clauses
      tr
        td
          a(href="https://cloudflare.com") Cloudflare
        td All users
        td Cookies, website usage data, and other data as specified in its privacy policy
        td To optimize, host, and distribute traffic from CodeCombat servers to users
        td
          a(href="https://www.cloudflare.com/security-policy/") Privacy Policy
          span= ' '
          a(href="https://www.cloudflare.com/privacyshield/") Privacy Shield
      tr
        td
          a(href="https://aws.amazon.com/") Amazon Web Services
        td All users
        td All data provided to CodeCombat is hosted in secure AWS databases that AWS employees cannot access
        td To host the CodeCombat servers
        td
          a(href="https://aws.amazon.com/privacy/") Privacy Policy
          span= ' '
          a(href="https://aws.amazon.com/compliance/eu-us-privacy-shield-faq/") Privacy Shield
      tr
        td
          a(href="https://logdna.com/") LogDNA
        td All users
        td Website usage data and other online identifiers that are temporarily stored in server logs
        td To log server usage and ensure ongoing website availability and resilience
        td
          a(href="https://logdna.com/privacy") Privacy Policy
          span= ' '
          a(href="https://logdna.com/privacy") Privacy Shield
      tr
        td
          a(href="https://google.com") Google
        td Registered users
        td Cookies, emails, and website usage data
        td To store CodeCombat emails, calendar events, and other team data, including support emails from and events with customers; and to use reCaptcha to prevent spam; and to provide Google Fonts; and to provide Google login
        td
          a(href="https://www.google.com/intl/policies/privacy/") Privacy Policy
          span= ' '
          a(href="https://policies.google.com/privacy/frameworks") Privacy Shield
      tr
        td
          a(href="https://www.facebook.com/") Facebook
        td Registered users
        td Cookies, website usage data for teacher users logged into Facebook, and email address for users using Facebook to authenticate to CodeCombat
        td To provide Facebook login; to understand how teachers coming from a Facebook ad are interested in purchasing CodeCombat
        td
          a(href="https://www.facebook.com/about/privacy/") Privacy Policy
          span= ' '
          a(href="https://m.facebook.com/about/privacyshield") Privacy Shield
      tr
        td
          a(href="https://www.google.com/analytics") Google Analytics
        td All users
        td Cookies and website usage data
        td To understand website usage
        td
          a(href="https://policies.google.com/technologies/partner-sites") Privacy Policy
          span= ' '
          a(href="https://policies.google.com/privacy/frameworks") Privacy Shield
          span= ' '
          a(href="https://tools.google.com/dlpage/gaoptout") Opt Out
      tr
        td
          a(href="https://www.fullstory.com/") FullStory
        td All users
        td Cookies and website usage data
        td To understand website usage
        td
          a(href="https://www.fullstory.com/legal/privacy/") Privacy Policy
          span= ' '
          a(href="https://www.fullstory.com/legal/privacy/#privacy-shield") Privacy Shield
      tr
        td
          a(href="https://segment.com/") Segment
        td All users
        td Cookies, website usage data, personal data for teachers, and other data as specified in its privacy policy
        td To understand website usage and provide data to other processors on this list
        td
          a(href="https://segment.com/docs/legal/privacy/") Privacy Policy
          span= ' '
          a(href="https://segment.com/docs/legal/privacy/#cross-border-data-transfer") Privacy Shield
      tr
        td
          a(href="https://zapier.com/") Zapier
        td Teacher users
        td Name, email address, and chat messages
        td To synchronize teacher chat messages to other processors on this list
        td
          a(href="https://zapier.com/privacy/") Privacy Policy
          span= ' '
          a(href="https://zapier.com/privacy/") Privacy Shield
      tr
        td
          a(href="https://www.pandadoc.com/") PandaDoc
        td Teacher users
        td Invoice and quote details and other information necessary to provide school purchase quotes
        td Providing proposals and pricing quotes for CodeCombat classroom licenses
        td
          a(href="https://www.pandadoc.com/privacy-policy/") Privacy Policy
          span= ' '
          a(href="https://www.pandadoc.com/gdpr/") Privacy Shield
      tr
        td
          a(href="https://www.indinero.com/") inDinero
        td Teacher users
        td Invoice and payment details and other information necessary to complete school purchases
        td Fulfilling invoices and payments for CodeCombat classroom licenses
        td
          a(href="https://www.indinero.com/privacy-policy") Privacy Policy
      tr
        td
          a(href="https://zoom.us/") Zoom
        td Teacher users
        td Name and email address
        td To provide training webinars to teachers who request them
        td
          a(href="https://zoom.us/privacy") Privacy Policy
          span= ' '
          a(href="https://zoom.us/gdpr") Privacy Shield
      tr
        td
          a(href="https://calendly.com/") Calendly
        td Teacher users
        td Name and email address
        td To schedule calls and demos with teachers who request them
        td
          a(href="https://calendly.com/pages/privacy") Privacy Policy
          span= ' '
          span Standard Clauses
      tr
        td
          a(href="https://chargedesk.com/") ChargeDesk
        td Teacher users
        td Name and email address
        td To complete purchases of CodeCombat classroom licenses
        td
          a(href="https://chargedesk.com/privacy-policy") Privacy Policy
          span= ' '
          a(href="https://chargedesk.com/docs/GDPR/DPA#DPA") Standard Clauses
      tr
        td
          a(href="https://stripe.com/") Stripe
        td Home users
        td Email address
        td To complete purchases of CodeCombat
        td
          a(href="https://stripe.com/us/privacy") Privacy Policy
          span= ' '
          a(href="https://stripe.com/privacy-shield-policy") Privacy Shield
      tr
        td
          a(href="https://www.paypal.com/") PayPal
        td Home users
        td Email address
        td To complete purchases of CodeCombat
        td
          a(href="https://www.paypal.com/privacy") Privacy Policy
      tr
        td
          a(href="https://www.filestack.com/") Filestack
        td Registered users
        td Optional files uploaded in the course of creating CodeCombat levels and other content
        td To host user-generated content
        td
          a(href="https://www.filestack.com/privacy") Privacy Policy
          span= ' '
          a(href="https://www.filestack.com/privacy") Privacy Shield
      tr
        td
          a(href="https://discourse.codecombat.com/") Discourse
        td Forum users
        td Email address, forum password, cookies, forum usage data, and forum posts
        td To provide a forum for players to discuss CodeCombat
        td
          a(href="https://meta.discourse.org/privacy") Privacy Policy
          span= ' '
          span Standard Clauses
      tr
        td
          a(href="http://blog.codecombat.com/") Ghost
        td Blog readers
        td No personal data
        td To provide blog updates on CodeCombat
        td
          a(href="https://ghost.org/privacy/") Privacy Policy

  p Usage data is defined as information collected automatically through CodeCombat (or third-party services employed by CodeCombat), which can include: the IP addresses or domain names of the computers utilized by the users who use CodeCombat, the URI addresses (Uniform Resource Identifier), the time of the request, the method utilized to submit the request to the server, the size of the file received in response, the numerical code indicating the status of the server's answer (successful outcome, error, etc.), the country of origin, the features of the browser and the operating system utilized by a user, the various time details per visit (e.g., the time spent on each page within CodeCombat) and the details about the path followed within CodeCombat with special reference to the sequence of pages visited, and other parameters about the device operating system and/or a user's IT environment.

  p In addition to the data processed by our partners, CodeCombat also directly processes the following categories of personal data for EU users:
  table.table
    thead
      tr
        th Data
        th Purpose
        th Legal Basis
    tbody
      tr
        td Name
        td To personalize your experience, communicate with you, and fulfill any purchases
        td Legitimate interest
      tr
        td Username
        td To authenticate you and to identify you across CodeCombat
        td Legitimate interest
      tr
        td Email address
        td To authenticate you, communicate with you, and fulfill any purchases
        td Legitimate interest
      tr
        td Telephone number
        td If optionally provided when requesting licenses or a quote, to contact you regarding your purchase interest
        td Legitimate interest
      tr
        td Pre-purchase information
        td To provide quotes, proposals, and pricing information for CodeCombat licenses prior to a purchase
        td Performance of a contract
      tr
        td CodeCombat purchase history
        td To provide paid CodeCombat licenses or subscriptions after a purchase
        td Performance of a contract
      tr
        td Year and month of birth (without specific day)
        td To ensure we are complying with regulations, to personalize your learning experience, and to understand our users
        td Legal necessity, legitimate interest
      tr
        td Country and region location information (without specific address or fine-grained location)
        td To ensure we are complying with regulations, to personalize your learning experience, and to understand our users
        td Legitimate interest
      tr
        td IP addresses
        td To serve web requests and initially identify the country of origin, after which the IP not stored associated with the user
        td Legitimate interest
      tr
        td Essential cookies
        td To provide authentication and ensure functionality of the site
        td Legitimate interest
      tr
        td Optional cookies
        td To enable services from our data processor partners, including understanding usage patterns and providing additional functionality
        td Consent
      tr
        td Web and email usage data
        td To understand usage patterns and improve our products, services, and communications
        td Legitimate interest
      tr
        td Google or Facebook identifiers
        td To provide the option to use Google or Facebook authentication
        td Legitimate interest
      tr
        td GitHub username
        td To allow you to sign our Contributor License Agreement and make open-source contributions
        td Performance of a contract
      tr
        td Password hash
        td To authenticate you, we store securely hashed passwords--to protect you, CodeCombat does not store your original password
        td Legitimate interest
      tr
        td CodeCombat data you create by using the product
        td To remember your progress through the game, save the code you write, allow you to create classrooms, etc.
        td Legitimate interest

  p
    em The rights of EU users
  p EU users may exercise certain rights regarding their personal data processed by CodeCombat. In particular, EU users have the right to do the following:
  ul
    li Withdraw their consent at any time. EU users have the right to withdraw consent where they have previously given their consent to the processing of their personal data.
    li Object to processing of their personal data. EU users have the right to object to the processing of their personal data if the processing is carried out on a legal basis other than consent. Further details are provided in the dedicated section below.
    li Access their personal data. EU users have the right to learn if personal data are being processed by CodeCombat, obtain disclosure regarding certain aspects of the processing and obtain a copy of the personal data undergoing processing.
    li Verify and seek rectification. EU users have the right to verify the accuracy of their personal data and ask for data to be updated or corrected.
    li Restrict the processing of their personal data. EU users have the right, under certain circumstances, to restrict the processing of their personal data. In this case, CodeCombat will not process their personal data for any purpose other than storage.
    li Have their personal data deleted or otherwise removed. EU users have the right, under certain circumstances, to obtain the erasure of their personal data from CodeCombat.
    li Receive their personal data and have data transferred to another controller. EU users have the right to receive their personal data in a structured, commonly used and machine readable format and, if technically feasible, to have it transmitted to another controller without any hindrance. This provision is applicable provided that the personal data are processed by automated means and that the processing is based on an EU user's consent, on a contract which an EU user is part of or on pre-contractual obligations thereof.
    li Lodge a complaint. EU users have the right to bring a claim before their competent data protection authority.

  p
    em Details about the right to object to processing
  p Where personal data are processed for a public interest, in the exercise of an official authority vested in CodeCombat or for the purposes of the legitimate interests pursued by CodeCombat, EU users may object to such processing by providing a ground related to their particular situation to justify the objection. EU users should know that, however, should their personal data be processed for direct marketing purposes, they can object to that processing at any time without providing any justification.

  p How to exercise these rights
    em
  p Any requests to exercise user rights can be directed to CodeCombat through the contact details provided in this document. These requests can be exercised free of charge and will be addressed by CodeCombat as early as possible and always within one month. For the right to deletion, users can also simply use the Delete Account functionality in their account settings. Various consents can also be withdrawn in the account settings.

  p
    em Applicability of broader protection standards
  p While most provisions of this document concern all users, some GDPR-specific provisions expressly only apply to users located within the EU. We are happy to provide many of these rights to all users when appropriate.

  hr

  p
    strong Contacting Us

  p If you have any questions regarding this privacy policy or requests about your personal data, you may contact us using the information below.

  p
    span CodeCombat Inc.
    br
    span 301 Howard St Suite 830
    br
    span San Francisco, CA 94105
    br
    span USA
    br
    a(href='mailto:team@codecombat.com') team@codecombat.com

  p
    em Last Edited on 2018-05-22
