extends /templates/base

block content

  //- DO NOT localize / i18n

  div TODO: Add high-level blurb
  div TODO: update images, add captions
  div TODO: Add real marketing copy.
  div
    span *UNDER CONSTRUCTION, send feedback to
    a.spl(href='mailto:team@codecombat.com') team@codecombat.com
  div(style='border-bottom: 1px solid black; margin-bottom: 20px')


  .well.info-container
    h1.center= course.title

    p.center.gameplay-img-container
      img(src='/images/pages/courses/102_info.png' width='700')
    p= course.description
    p
      span Approximately
      strong.spl 5 hours
      span.spl of content.
    p
      span.spr Concepts covered:
      each topic in course.topics
        span.spr= topic

    h1.center Monitor Student Progress
    p.center.monitoring-img-container
      img(src='/images/pages/clans/dashboard_preview.png' width='700')
    div.container-fluid
      div.row
        div.col-md-3
        div.col-md-6
          ul
            li 
              strong Track concepts
              span.spl learned by each student
            li Track levels completed for each student
            li 
              span See your students'
              strong.spl solutions
            li Sort students by name or progress
        div.col-md-3

    h1.center Teachers Love CodeCombat!
    p
      div.praise-quote "#{praise.quote}"
      div.praise-source - #{praise.source}

    p.center
      button.btn.btn-info.btn-lg.btn-enroll(data-course-id="#{courseID}") Enroll

    p.contact-container
      span For more information, please contact
      a.spl(href='mailto:team@codecombat.com') team@codecombat.com
