extends /templates/base

block content

  //- DO NOT localize / i18n

  div
    span *UNDER CONSTRUCTION, send feedback to
    a.spl(href='mailto:team@codecombat.com') team@codecombat.com
  div(style='border-bottom: 1px solid black')

  .well.well-lg.enroll-container
    h1.center Buy Course
    h3 1. Course
    p Select 'All Courses' for a 50% discount!
    .form-group
      select.form-control.course-select
        each course in courses
          option(value="#{course.title}")= course.title
        option(value="All Courses") All Courses

    h3 2. Number of students
    p Enter the number of students you need for this class.
    input.input-quantity(type='text', value="#{quantity}")

    h3 3. Name your class
    p This will be displayed on the course page for you and your students.  It can be changed later.
    input.session-name(type='text', placeholder="Mrs. Smith's 4th Period")

    h3 4. Buy
    p
      span.spr You are purchasing a license for
      strong.spr #{selectedCourseTitle}
      span.spr for
      strong #{quantity} students
      | .
    p After purchase you will receive an unlock code to distribute to your students, which they can use to enroll in your class.
    p.center
      if price > 0
        button.btn.btn-success.btn-lg.btn-buy $#{price}
      else
        button.btn.btn-success.btn-lg.btn-buy FREE

    h3 Free trial for teachers!
    p
      span.spr Please fill out our
      a(href='/teachers/freetrial', data-i18n="teachers.teacher_subs_2")
      span.spl to get individual access to all courses for evalutaion purposes.

    h3 Questions?
    p
      span Please contact
      a.spl(href='mailto:team@codecombat.com') team@codecombat.com
