extends /templates/base

block content

  //- DO NOT localize / i18n

  div
    span *UNDER CONSTRUCTION, send feedback to
    a.spl(href='mailto:team@codecombat.com') team@codecombat.com
  div
    input.student-view-checkbox(type='checkbox')
    span.spl Student view
  div TODO: fix ugly tabs
  div TODO: add student progress monitoring
  div TODO: level concepts, status, working play button
  div TODO: student view
  div(style='border-bottom: 1px solid black;')

  h1= course.title
  p= course.description
  p
    strong Concepts:
    ul
      each topic in course.topics
        li= topic
  strong= course.duration

  h3 Your Class
  .form-group
    select.form-control.select-session
      each instance in instances
        option= instance.name
    span.spl
      button.btn.btn-xs.edit-class-name-btn edit class name

  p
    if instance.description
      span= instance.description
      span.spl
        button.btn.btn-xs.edit-description-btn edit class description
    else
      div
        button.btn.btn-xs.edit-description-btn add class description

  .form-group
    span Class programming language:
    select.spl.form-control.select-language
      option(value="Python") Python
      option(value="JavaScript") JavaScript
      option(value="All Languages") All Languages

  div(role='tabpanel')
    ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
        a(href='#progress', aria-controls='progress', role='tab', data-toggle='tab') Students
      li(role='presentation')
        a(href='#invite', aria-controls='invite', role='tab', data-toggle='tab') Add Students
      li(role='presentation')
        a(href='#levels', aria-controls='levels', role='tab', data-toggle='tab') Levels

  .tab-content
    .tab-pane.active#progress(role='tabpanel')
      if instance.students
        table.table.table-condensed
          thead
            tr
              th Name
              th Progress
          tbody
            each student in instance.students
              tr
              td
                a= student
              td TODO: level progress

    .tab-pane#invite(role='tabpanel')
      p Invite students to join this class.
      if course.title !== 'Introduction to Computer Science'
        p Student unlock code: #{instance.code}
        p Class capacity: 34/50

      textarea.textarea-emails(rows=3, placeholder="Enter student emails to invite, one per line")
      div
        button.btn.btn-success.btn-invite Send Invites
    .tab-pane#levels(role='tabpanel')
      table.table.table-condensed
        thead
          tr
            th Level
            th
        tbody
          each level in course.levels
            tr
              td
                spa= level
              td
                button.btn.btn-success Play
