extends /templates/base

block content

  //- DO NOT localize / i18n

  div(style='border-bottom: 1px solid black')
    span *UNDER CONSTRUCTION, send feedback to
    a.spl(href='mailto:team@codecombat.com') team@codecombat.com

  h1.center Courses
  .container-fluid
    - var i = 0
    while i < courses.length
      .row
        +course-block(courses[i], i)
        - i++
        if i < courses.length
          +course-block(courses[i], i)
          - i++

mixin course-block(course, courseID)
  .col-md-6
    .well.panel.course-panel(class=course.unlocked ? 'panel-success' : 'panel-info')
      .panel-heading
        .panel-title #{course.title} #{course.unlocked ? '(enrolled)' : ''}
      .panel-body
        strong Topics
        ul
          each topic in course.topics
            li= topic
        strong= course.duration
        .container-fluid
          .row.button-row
            .col-md-4
              //- Always show code unlock, because you can have multiple course instances
              if courseID > 0
                button.btn.btn-warning.btn-have-code(data-course-id="#{courseID}") I have a code
            .col-md-4
              if course.unlocked
                button.btn.btn-success.btn-enter(data-course-id="#{courseID}") Enter
            .col-md-4
              if courseID > 0
                button.btn.btn-info.btn-more-info(data-course-id="#{courseID}") More details
