extends /templates/modal/save_version

block modal-body-content
  h3= "Level: " + level.get('name') + " - " + (levelNeedsSave ? "Modified" : "Not Modified")
  if levelNeedsSave
    .changes-stub
    form#save-level-form.form-inline
      .form-group.commit-message
        input.form-control#level-commit-message(name="commit-message", type="text")
      if level.isPublished()
        .checkbox
          label
            input#level-version-is-major(name="version-is-major", type="checkbox")
            span(data-i18n="versions.new_major_version") New Major Version
      if !level.isPublished()
        .checkbox
          label
            input#level-publish(name="publish", type="checkbox")
            span(data-i18n="common.publish") Publish

  if modifiedComponents.length
    hr

  each component in modifiedComponents
    - var id = component.get('_id')
    h4= "Component: " + component.get('system') + '.' + component.get('name')
    .changes-stub
    form.form-inline.component-form(id="save-component-" + id + "-form")
      input(name="component-original", type="hidden", value=component.get('original'))
      input(name="component-parent-major-version", type="hidden", value=component.get('version').major)
      .form-group.commit-message
        input.form-control(id=id + "-commit-message", name="commit-message", type="text")
      if component.isPublished()
        .checkbox
          label
            input(id=id + "-version-is-major", name="version-is-major", type="checkbox")
            span(data-i18n="versions.new_major_version") New Major Version

  if modifiedSystems.length
    hr

  each system in modifiedSystems
    - var id = system.get('_id')
    h4= "System: " + system.get('name')
    .changes-stub
    form.form-inline.system-form(id="save-system-" + id + "-form")
      input(name="system-original", type="hidden", value=system.get('original'))
      input(name="system-parent-major-version", type="hidden", value=system.get('version').major)
      .form-group.commit-message
        input.form-control(id=id + "-commit-message", name="commit-message", type="text", placeholder="Commit Message")
      if system.isPublished()
        .checkbox
          label
            input(id=id + "-version-is-major", name="version-is-major", type="checkbox")
            span(data-i18n="versions.new_major_version") New Major Version

  #errors-wrapper.alert.alert-danger.hide
    strong Validation Error! Save failed.
    p.errors