mixin taskRow(task)
  tr.taskRow(data=task.name)
    td.taskCheck
      div.checkbox
        input(type='checkbox', checked=(task.complete || false), data=task.name, placeholder='Enter a description of the task.').taskInput
    if task.curEdit == true
      td
      td
        input(type="input", value=task.name)#curEdit
    else
      td
        span.startEdit(data=task.name) ✎
      td
        if view.defaultTaskLinks[task.name]
          if view.defaultTaskLinks[task.name] === './'
            a.noArticle(href='https://github.com/codecombat/codecombat/wiki/Artisan-Home' target='_blank')= task.name
          else
            a(href=view.defaultTaskLinks[task.name], target='_blank')= task.name
        else
          span= task.name
block
  if view.tasks
    table.table.table-striped.table-hover
      tr
        th.taskCheck Complete
        th Edit
        th Incomplete Tasks
      for task in view.tTasks
        if task.reversion !== true
          +taskRow(task)
      tr
        th
        th
        th Completed Tasks
      for task in view.tTasks
        if task.reversion === true
          +taskRow(task)
    button#createTask.btn.btn-default Add Task
  else
  div Wrong!